[2019-11-20 16:56] anikethsaha commented on #846
It's a very weird use case cause anyway your browser will discard the top ones.
I don't think you can opt-out from this from the preset !

cc @evilebottnawi

[2019-11-20 18:44] evilebottnawi commented on #846
It is bug, we should keep both of them because it can break code for legacy browsers

[2019-11-20 18:49] anikethsaha commented on #846
[code]

What about this then? It will inject like this right

[code]

[2019-11-20 19:01] evilebottnawi commented on #846
Keep them all

[2019-11-20 19:07] anikethsaha commented on #846
I think a better fix for this will be to make the discard-duplicate plugin `opt-in-out`
like have an option in the preset to have enabled it or not
cause what this plugin mostly does is to remove those duplicates. if we are keeping them all, then it won't have many operations and use case to it

[2019-11-20 19:14] evilebottnawi commented on #846
@anikethsaha it is unsafe minification, but plugins in safe preset so we should fix this unsafe case

[2019-11-20 23:12] lojjic opened #847 "mergeLonghand lowercases values with multiple var references"
This could be considered a reopening of #648, or a bug with the implemented fix in #649. That did fix simple cases but it still fails when values contain more than a single `var(--X)` reference. An example:

[code]

incorrectly transforms to:

[code]

The culprit appears to be the greedy leading `.*` in the regular expression at https://github.com/cssnano/cssnano/blob/3580e7be5a4d32ed2b122d13b8738

[2019-11-21 06:02] anikethsaha commented on #847
@evilebottnawi we can drop the lowercasing in the merge plugin. It can be unsafe

[2019-11-21 09:28] dorianrod commented on #846
Yes, it works as a temporary solution. But it implies to review all the css code to be sure that the css has not been changed after minification.

[2019-11-21 09:53] evilebottnawi commented on #847
@anikethsaha we should improve this, it is invalid remove lowercase

[2019-11-26 08:09] anikethsaha commented on #847
Why ? doing lowercase won't change the performance right?
Also, it can be tricky here to handle all the edge cases.
For this, I can put a loop to check all the `var`, but I am not getting what changes it will bring to the performance?
Or it can be implemented as an opt-in method. Like passing an option to explicitly doing this.

What do you think?

[2019-11-26 08:11] Hashbrown777 opened #848 "Apostrophes in selectors' attribute expressions ignored"
cssnano-minified selectors wont match against the same html nodes as the original if it is looking for attributes with a `'`

E.g.

    [data-expression^="'Error"],
    [x="to'prove'a'point"],
    [x="a\000027workaround"],
    [x="should:be like!these"] {
      color : yellow;
    }

Gets transformed to `[data-expression^=Error],[x="should:be like!these"],[x=a\000027workaround],[x=toproveapoint]{c

[2019-11-26 08:23] anikethsaha commented on #848
@evilebottnawi I think its a bug.
It should not remove any quotes inside the `"<no-removing-here>"` .

- `"value"` ▶️ `value` is corrent
- `"val'ue'"` ▶️ `val'ue` is expected
- `"val'ue"` ▶️ `val ue` is the current

[2019-11-26 09:38] evilebottnawi commented on #847
@anikethsaha we can't ignore lowercase because CSS is case insensitivity in that case, we need improve handling or maybe ignore lines with `var`/`env`/`contant`

[2019-11-26 09:39] evilebottnawi commented on #848
@anikethsaha yes, it is bug

[2019-11-26 10:18] anikethsaha commented on #847
Does they effect the performance?

[2019-11-26 10:20] evilebottnawi commented on #847
@anikethsaha what do you mean? Using lowercase + uppercase notations increase gzip size so it is preferable write all in lowercase notation

[2019-11-26 10:35] anikethsaha commented on #847
Ohh yeah this is what I wanted to know.
I will try to fix it as soon as possible 👍

[2019-11-29 01:07] Tarka-Dhal commented on #821
Same problem.

[2019-12-01 07:41] anikethsaha commented on #825
I dont understand their `data-usage` thing, if we are explicitly passing those white/black lists,  can't we do it manually ?

Am I missing anything?

[2019-12-01 09:44] strarsis commented on #825
@anikethsaha: Apparently `csso` gets passed a list of tags, IDs and classes that are actually in the SVG:
https://github.com/svg/svgo/blob/master/plugins/minifyStyles.js#L102

[2019-12-03 01:05] Omnivoreye opened #849 "Configuration options missing in documentation."
The documentation does not provivide any information on individual optimisations configuration. There is only one example with `discardComments` in _Presets_ page. I created a [question](https://stackoverflow.com/questions/59148593/how-to-configure-cssnano-for-css-minification/59148669#59148669) on SO regarding this matter.

[2019-12-03 06:42] anikethsaha commented on #849
Preset is build by running individual plugins under the hood. So you need to check their docs.
You can find the plugin list in the preset readme.

[2019-12-03 14:06] Omnivoreye commented on #849
So the only way to configure wanted optimisations is o choose one of two presets, right?

[2019-12-03 14:07] anikethsaha commented on #849
Yes .
You can even add those single postcss plugins as well if you want specific type of optimization

[2019-12-03 14:07] Omnivoreye commented on #849
Thanks!

[2019-12-03 14:09] anikethsaha commented on #849
Glad to help.
You can close this issue of if its fine by you

[2019-12-03 14:09] #849 closed

[2019-12-03 14:33] #822 closed

[2019-12-04 09:01] bensampaio commented on #721
I am experiencing this exact same problem. I am using `optimize-css-assets-webpack-plugin` to minify my CSS with `cssnano`. This problem started when I switched from the `browsers` option for `autoprefixer` to the new `env` option. I just don't understand how this could be related. Are `cssnano` or `optimize-css-assets-webpack-plugin` dependent on my `autoprefixer` config?

I tried to change my br

[2019-12-05 12:12] Bazeloth opened #850 "`min-width: initial` gets incorrectly modified to `min-width: 0`"
This should be `min-width: auto`. This (sometimes) resolves to `min-width: 0`, but not at all times.

![image](https://user-images.githubusercontent.com/19928782/70234355-c2293080-1760-11ea-9a01-8431da543e85.png)

https://developer.mozilla.org/en-US/docs/Web/CSS/min-width

Caused by: https://github.com/cssnano/cssnano/tree/master/packages/postcss-reduce-initial

[2019-12-05 12:13] evilebottnawi commented on #850
Please create reproducible example

[2019-12-05 12:15] Bazeloth commented on #850
A colleague of mine will provide a reproducable example shortly.

[2019-12-05 12:28] anikethsaha commented on #850
![image](https://user-images.githubusercontent.com/26347874/70235332-c701da80-1788-11ea-8986-97c073248830.png)

Cant reproduce this from the playground.

[2019-12-05 12:32] chrarnoldus commented on #850
Repro: https://github.com/progressonderwijs/reduceinitalbug

[2019-12-05 12:36] anikethsaha commented on #850
https://github.com/cssnano/cssnano/blob/c8ff54f4f6a168ca2a6f74d6fdbef5f28dc89282/packages/postcss-reduce-initial/data/fromInitial.json#L172

Need to make it `auto`. But need confirmation whether `auto` is correct minification or not.

[2019-12-05 12:40] evilebottnawi commented on #850
PR welcome

[2019-12-05 13:04] Bazeloth commented on #850
I'm sorry are you expecting us to fix this or..?

[2019-12-05 13:06] anikethsaha commented on #850
if you want ....go for it....else i will do it

[2019-12-05 13:09] Bazeloth commented on #850
You are welcome to apply a fix. We've disabled https://github.com/cssnano/cssnano/tree/master/packages/postcss-reduce-initial for now in our webpack.config.js and are able to continue.

[2019-12-05 13:10] anikethsaha commented on #850
Ok will try to fix it asap. and will let you know 👍

[2019-12-05 20:40] anikethsaha commented on #663
There are no options with `discardOverridden` in the preset.
And also `discardOverridden` with your use-case .
This plugin is for `'keyframes', 'counter-style'`

@evilebottnawi this is more like a feature request or enhancement. Maybe an option for each plugin to disable them if required in presets. Like

[code]

Currently, each plugin is getting an options object from present but most of them lik

[2019-12-05 20:48] anikethsaha commented on #663
@jihb you can try creating your own preset for your use case using cssnano and postcss plugins.

[Refer this](https://github.com/cssnano/cssnano/blob/master/packages/cssnano-preset-default/src/index.js)

[2019-12-09 21:18] ben-eb opened #853 "postcss-reduce-idents' encoder could be more efficient"
Reported [from twitter](https://twitter.com/chriseppstein/status/1204125780478844928):

[code]

We should start the second character from `a` not `b` and so the output should be:

[code]

[2019-12-10 14:39] #850 closed

[2019-12-10 14:48] Bazeloth commented on #850
Thanks for fixing this on such a short term @anikethsaha

[2019-12-10 14:56] anikethsaha commented on #850
Glad to help

[2019-12-10 15:11] evilebottnawi commented on #832
Hi, can you create reproducible test repo?

[2019-12-10 15:14] bogdan0083 commented on #832
Sure! I'll create the one when I have time.

[2019-12-10 15:15] anikethsaha commented on #832
Your issue is when `normalizeWhitespace:false` its still performing the whitespace normalization ?

[2019-12-10 15:18] anikethsaha commented on #832
preset does take the options for [`normalizeWhitespace`](https://github.com/cssnano/cssnano/blob/master/packages/cssnano-preset-default/src/index.js#L82) but [doesnt implements](https://github.com/cssnano/cssnano/blob/master/packages/postcss-normalize-whitespace/src/index.js#L34) that as of now

[2019-12-11 10:52] Nes-si opened #854 "Wrong merge with mergeRules"
Hello.
I found a problem with **mergeRules**.

I have a CSS like this:
[code]

mergeRules transform it into this:
[code]

So when `Sites---element` is not on a hover, `Sites---site-name` does not receive its rules (`background: none`, `font-size: 12px` and others). It totally ruins all styles.

[2019-12-11 10:54] anikethsaha commented on #854
yes it is bug, the selector list should be completely matched in order to do the merging.

[2019-12-11 19:56] Nes-si commented on #854
I think it's a quite serious bug. Maybe at least it should be temporary switched off in the default preset if there is no way to easy fix it?

[2019-12-12 02:46] anikethsaha commented on #854
Will submit a fix soon.

[2019-12-12 07:34] bogdan0083 commented on #832
I'm not sure if this is exactly normalizeWhitespace problem. Basically, when I have such options:
[code]

I expect the result to be:
[code]

But instead I get:
[code]

So I believe the problem is in `rawCache` property because raws (whitespaces before the `{` and after `:`) are removed.

I'l create the test repro ASAP.

[2019-12-12 08:36] anikethsaha commented on #832
Ohh, seems like reason is same as in https://github.com/cssnano/cssnano/issues/832#issuecomment-564081413

RawCache options are used but it's not implemented in the plugin.
As of now you can't disable it

[2019-12-12 15:34] anikethsaha commented on #832
In the meantime can you try this

[code]

[2019-12-14 07:57] anikethsaha commented on #854
@Nes-si did you check with the cssnano playground . It's doing the correct merging.
Are you on the latest version ?

[2019-12-14 09:28] anikethsaha commented on #197
I have published a plugin to do the same

https://github.com/anikethsaha/postcss-lowercase-text

There are still few things to add here like media and keyframes transformation. Will submit a PR then to include it in the default preset.

[2019-12-14 12:09] Nes-si commented on #854
@anikethsaha yes, I use v4.1.10.
You can see the bug in my project [Chisel](https://github.com/beachio/chisel). `npm build` command builds the CSS in a `dist/main.min.css` file; you can switch on/off `mergeRules` in a `postcss.config.js` and compare results.

[2019-12-14 12:42] anikethsaha commented on #854
I couldn't able to reproduce it from my setup and even from the cssnano's playground.
Can you share a minimal repo or sandbox cause the project you share is quite big and I guess its using electron which I am not used to?
It would be better to have a sandbox.

[2019-12-17 09:27] Exelenz9 commented on #846
Probably, a good solution here could be using the `@supports` media-query:

[code]

Such method worked for my case.

[2019-12-22 02:59] Nes-si commented on #854
@anikethsaha hi, I've done a minimal repo: https://github.com/Nes-si/mergerRules-error-demo .
To work with it, run `npm i` and `npm run build` to create a build, then check `dist/main.min.css`. You can switch on/off `mergeRules` in `postcss.config.js`, all other optimizations are switched off.

[2019-12-22 09:16] anikethsaha commented on #854
Put the if statement for production (https://github.com/Nes-si/mergerRules-error-demo/blob/master/postcss.config.js#L6) after the extension statement. (https://github.com/Nes-si/mergerRules-error-demo/blob/master/postcss.config.js#L47)
mean, the `cssnano` should be after `precss` in the plugin array.
you can keep the mergerule `true` as well
It will work fine 👍

[2019-12-22 19:11] anikethsaha commented on #756
## Tracking

- [ ] border-block  ( #858 )
- [ ] border-block-end  ( #858 )
- [ ] border-block-start  ( #858 )
- [ ] border-inline  ( #858 )
- [ ] border-inline-end  ( #858 )
- [ ] border-inline-start  ( #858 )
- [ ] clip-path
- [ ] column-rule
- [ ] columns
- [ ] display
- [ ] font-synthesis
- [ ] font-variant
- [ ] font-variant-alternates
- [ ] font-variant-east-asian
- [ ] font-variant-ligatures

[2019-12-23 12:04] #818 closed

[2019-12-29 17:54] mandolin commented on #805
@xavierfoucrier  I agree, I think this feature is important. Maybe an option named 'mergeSameRule'? Further redundancy removal than current 'discardDuplicates'.

[2020-01-03 14:12] #853 closed

[2020-01-03 14:14] #777 closed

[2020-01-07 14:52] SveLil opened #864 "Combination of border and border-color results in wrong border"
The following css:

[code]

will produce the following output:
[code]

`mergeLonghand: false` did solve the issue

[2020-01-07 18:53] Nes-si commented on #854
Oh. I've confused a plugin order in array. I'm sorry.
But for me, PostCSS docs in this part isn't clear enough.
Please, close the issue.

[2020-01-07 18:55] anikethsaha commented on #854
i cant,

[2020-01-09 00:19] raptor235 commented on #629
Just ran into the same issue... any progress on this?

[2020-01-09 10:37] evilebottnawi commented on #629
@raptor235 No, feel free to sens a PR

[2020-01-09 10:40] #854 closed

[2020-01-09 17:52] yeluoqiuzhi commented on #803
How can I disable this?crying

[2020-01-09 17:53] yeluoqiuzhi commented on #803
How can I disable this?crying

[2020-01-09 17:57] yeluoqiuzhi commented on #803
I fixed this by add
[code]
to package.json

[2020-01-09 18:01] anikethsaha commented on #803
you can do using `exclude` option as well.

[2020-01-14 15:24] nisarhassan12 opened #866 "devServer in /site does not seem to start"
In the /site directory after running `yarn install` I tried `yarn start` but I'm getting the following error.

![image](https://user-images.githubusercontent.com/46004116/72356315-e20e2580-370a-11ea-8b58-48b69188d017.png)

Also, the test suite in the root of the project seems to be failing.

![image](https://user-images.githubusercontent.com/46004116/72356790-a9bb1700-370b-11ea-9a1c-68c7edcb3ce3.p

[2020-01-15 11:20] danielhaim1 commented on #805
I wanted to chime in and say that I would greatly appreciate this feature, especially for multiple declarations such as:

**Before:**
[code]

**Expected:**
[code]

[2020-01-15 11:21] evilebottnawi commented on #866
Feel free to send a PR with fix

[2020-01-15 11:32] nisarhassan12 commented on #866
@evilebottnawi I'm sorry! I would have made a PR but i don't the fix.

[2020-01-15 13:25] anikethsaha commented on #866
you need to run `yarn run build:metadata` from root first then run the `start` command from `site`

better run `yarn run build:site`

[2020-01-15 15:13] #866 closed

[2020-01-15 20:52] ashfahan commented on #805
@danielhaim1 this expected style result it already achievable with merge rules only if these selectors are adjacent to each other :)

[2020-01-16 03:56] nisarhassan12 commented on #866
@anikethsaha Thanks ! :slightly_smiling_face:  After i ran ```yarn run build:metadata``` I ran ```yarn run build:site``` from the root & i got this:
![image](https://user-images.githubusercontent.com/46004116/72492084-d8d1a580-383d-11ea-83d8-b6201fb4a05b.png)

Also ```yarn start``` from the /site directory is not working.

![image](https://user-images.githubusercontent.com/46004116/72492161-11717f

[2020-01-16 09:23] anikethsaha commented on #866
I guess something to do with phenomic. Try tracing back the error

[2020-01-21 21:07] dtr0yan commented on #219
For those who want to fix this problem I can propose next:
use this package https://www.npmjs.com/package/patch-package to apply patch to cssnano.
Patch can be something like next https://gist.github.com/dtr0yan/82155c05cd8d7ab991558f939e207991

I know that this is not an elegant solution. But as for me it help to fix issue with my site for many users with old versions of browsers. Never give up!

[2020-01-22 08:49] #734 closed

[2020-01-27 19:05] equinusocio opened #870 "Removed logical property"
Hi, I've noticed that `text-align: start;` is removed from the output, while it still a valid property/value.

[2020-01-28 08:02] anikethsaha commented on #870
Please share your element style where its being used. cause standalone `text-align: start;` works as usual and its stays in the output

[2020-01-28 08:08] anikethsaha commented on #864
whats the expected output?

it looks good to me,

the default value for CSS color I guess is `inherit` in max browsers.

[2020-01-28 08:13] anikethsaha commented on #847
handled in https://github.com/cssnano/cssnano/pull/867

In the meantime use `postcss-lowercase-text` plugin to solve this issue

Once https://github.com/cssnano/cssnano/pull/867 is merged, I will submit another PR to remove the lowercasing from this plugin as it will be handled in separate plugin

[2020-01-28 10:51] evilebottnawi commented on #847
This issue should be solved inside plugin without `postcss-lowercase-text`, because some developers can disable some plugins

[2020-01-28 10:51] evilebottnawi commented on #847
So we should solve that problem inside plugin

[2020-01-28 11:07] anikethsaha commented on #847
if lowercasing is done using a separate plugin, why to do lower casing in other plugins as well. If will be useful to enable/disable at project level.

[2020-01-28 11:10] evilebottnawi commented on #847
Because each plugin independent and should solve its problems without the help of other plugins

[2020-01-28 11:12] anikethsaha commented on #847
yeah, so merge long hand plugin should not do any lowercasing right ?

[2020-01-28 11:18] evilebottnawi commented on #847
Ideally - yes. But it is often increase memory usage and increase complex of code so a plugin potentially can change some values, but only when it is safe

[2020-01-28 11:23] anikethsaha commented on #847
okay 👍
I think a fix would be to ignore lowercasing when `var` or `calc` comes up.

[2020-01-28 11:30] SveLil commented on #864
The problem comes into play, when you have cascading classes. The border-color: inherit is missing for the top, left and right border. So if the parent class defines a red color, the border for the test div should have a 3px solid red border on three sides and a transparent on the bottom.

See: https://codepen.io/svelil/pen/mdygaMb

[2020-01-28 11:42] anikethsaha commented on #864
Thanks for the explanation, its a bug
One fix can be to consider `inherit` as color too and do the merging accordingly

[2020-01-28 11:54] evilebottnawi commented on #847
Yes, we should do not lowercase values inside `var` or `calc`

[2020-01-28 18:48] equinusocio commented on #870
Sorry, after investigating I found that the issue is related by postcss-preset-env.

[2020-01-28 18:48] #870 closed

[2020-01-28 20:14] pcasaretto commented on #675
Hi everyone. I think this just bit in production. Is there any workaround aside from not using variables?

[2020-01-29 09:54] evilebottnawi commented on #675
https://github.com/cssnano/cssnano/issues/675#issuecomment-471985097

[2020-01-29 11:43] #824 closed

[2020-01-29 12:40] pcasaretto commented on #675
😓 sorry

[2020-01-29 12:44] evilebottnawi commented on #675
You can send a PR with fix

[2020-01-29 13:21] pcasaretto commented on #675
If I understand correctly, this test:
[code]

Should change to a `passthroughCSS`. Right?

[2020-02-09 06:49] laverdet commented on #803
+1 I got bit by this. Just spent about 5 hours tracking it down to this. Hi everyone!

[2020-02-12 23:37] tkiehne commented on #247
Sometime since my comment above, Chrome (on Mac OS X) stopped allowing quotes on animation names.  Now the "better" workaround seems to be to implement the cssnano parameters, but in a more targeted fashion:

[code]

The animation name comes through unmolested and without quotes while retaining the default reduceIndents behavior for everything else.

[2020-02-13 12:08] evilebottnawi commented on #714
Fixed https://github.com/cssnano/cssnano/pull/770/

[2020-02-13 12:08] #714 closed

[2020-02-13 12:11] evilebottnawi commented on #817
Closing due to inactivity. Answer here https://github.com/cssnano/cssnano/issues/817#issuecomment-531906096. We do not plan to change it now, perhaps in the future we will revisit it.

[2020-02-13 12:11] #817 closed

[2020-02-13 12:12] evilebottnawi commented on #820
Closed in favor https://github.com/cssnano/cssnano/issues/805#issuecomment-513194030

[2020-02-13 12:12] #820 closed

[2020-02-13 14:06] anikethsaha commented on #668
@evilebottnawi I think the merging for this seems fine 👍

![image](https://user-images.githubusercontent.com/26347874/74442490-967ca200-4e97-11ea-8074-7c00ee203f08.png)

⬇️

![image](https://user-images.githubusercontent.com/26347874/74442530-aac09f00-4e97-11ea-9110-30111af4e8f9.png)

I was wrong , `border:none !== border:0`

[2020-02-13 14:07] evilebottnawi commented on #668
Yes, `border:none !== border:0`, we need fix it

[2020-02-13 14:08] anikethsaha commented on #668
this minification is correct !

[2020-02-13 14:08] evilebottnawi commented on #668
Yes, let's add test case for that and close it

[2020-02-13 14:09] anikethsaha commented on #668
Okay !!!

[2020-02-13 14:09] anikethsaha commented on #668
can you remove the `bug` label !!!! its not a bug

[2020-02-13 14:11] evilebottnawi commented on #668
Oh, no, I was wrong, minification is wrong, look at that:
[code]

[2020-02-13 14:12] evilebottnawi commented on #668
Result should be same in both examples

[2020-02-13 14:18] anikethsaha commented on #668
Ohh, `none` should be `none`, it's falling back to `user-stylesheet`'s default which is I think `initial`

[2020-02-13 16:08] evilebottnawi commented on #730
Not sure it is bug, let's test it:

**index.html**

[code]

**style.css**

[code]

**main.js**

[code]

In the `one` shadow-host all is red, In the `two` shadow-host only span is `red`.
I use Сhrome `79`.

Let's change:

[code]

All `h1` tags is blue, all `span` tags is red.
All works fine also.

Let's test with `:host-context`:
[code]

All is red, except `h1` tag into `.one` shadow-root.
All work

[2020-02-13 16:31] anikethsaha commented on #730
I have not used `:host` till now. I will take a look at the specs if required....

[2020-02-13 18:58] mituller opened #878 "postcss-minify-selectors needs update"
There is a security vulnerability in dot-prop, which is required by postcss-selector-parser 3.1.1, which is required by postcss-minify-selectors. If you could update the post-minify-selectors to use the newer parser, this would eliminate this vulnerability as it doesn't require dot-prop.

https://nvd.nist.gov/vuln/detail/CVE-2020-8116

[2020-02-13 19:00] anikethsaha commented on #878
There will be a release soon for all cssnano related packages...
it will be fixed then 👍

[2020-02-13 19:12] mituller commented on #878
Will this be a minor release so it's automatically picked up?

[2020-02-13 19:13] anikethsaha commented on #878
May be !!

cc @evilebottnawi

[2020-02-13 20:22] MapTo0 commented on #730
To be honest with you, this was long time ago and I don't really remember what was my use case :/ Could it be an IE 11 issue? Since IE11 does not support `:host`, `:host-context`, `::slotted`, etc I guess combining selectors might break all the styles. I will test it once I found a Windows device.

[2020-02-14 11:31] evilebottnawi commented on #730
It should be not break logic for IE11 too. Because `:host {}` is allow syntax for CSS, anyway feel free to leave feedback

[2020-02-14 11:32] evilebottnawi commented on #878
I will do backport

[2020-02-14 13:26] evilebottnawi commented on #878
Done https://github.com/postcss/postcss-selector-parser/releases/tag/v3.1.2, just update you dependencies, unfortunately minimum supported Node.js version is `8`

[2020-02-14 13:26] #878 closed

[2020-02-14 13:27] evilebottnawi commented on #878
@anikethsaha We should update `postcss-selector-parser`

[2020-02-14 13:31] anikethsaha commented on #878
will do it by tonight 👍

[2020-02-14 13:33] evilebottnawi commented on #878
The new version of `postcss-selector-parser` can has regression so feel free to report about them

[2020-02-19 19:30] olemarius commented on #263
bootstrap 3 uses some IE browser hacks like `\9` and `\0`. When using gonzales-pe css parser (https://github.com/tonyganch/gonzales-pe). Would be helpful to be able to remove hacks like this.

Issue is also filed here: https://github.com/tonyganch/gonzales-pe/issues/303

[2020-02-20 10:55] evilebottnawi commented on #535
Fixed https://github.com/cssnano/cssnano/pull/855/

[2020-02-20 10:55] #535 closed

[2020-02-20 10:56] evilebottnawi commented on #725
Fixed https://github.com/postcss/postcss-calc/releases/tag/7.0.2

[2020-02-20 10:56] #725 closed

[2020-02-20 20:52] dgp1130 opened #880 "CSS calc() breaks when using 3+ variable fallbacks"
From downstream issue: https://github.com/angular/angular-cli/issues/16910.

Using a `calc()` command with 3+ variable fallbacks seems to break the parser.

For example, paste the following code into the CSS Nano playground:

[code]

Then look at the JavaScript console and see:

[code]

Work around is to use intermediary variables:

[code]

[2020-02-20 21:11] anikethsaha commented on #880
seems like an issue with `postcss-calc`

[2020-02-21 10:43] evilebottnawi commented on #880
Can you try update deps and try on latest version of `postcss-calc`

[2020-02-24 20:11] dkrutsko commented on #721
Is there a solution to this issue other than adding `ie >= 11` or disabling this plugin?

[2020-02-24 20:21] anikethsaha commented on #721
@dkrutsko I don't think as of now whether it's fixed or not.

_in the meantime, you can try using [`postcss-ignore-plugin`](https://www.npmjs.com/package/postcss-ignore-plugin) to ignore the **line** where you don't want other postcss (cssnano basically) plugins to run.
The plugin is still in development mode. Usually for this kind of behavior its useful to ignore the whole rule instead of just th

[2020-02-27 22:57] cullylarson opened #885 "Template string variables removed when using with Next.js and styled-jsx"
I'm using `postcss` with `styled-jsx`. `postcss` processes the style and sends it to styled-jsx to embed in the page. `styled-jsx` allows using javascript variables in styles. The problem is that for some reason `cssnano` is removing variables in JS templates strings.

For example, if I provide this:

[code]

It will produce something like:

[code]

I did notice that if I wrap the variable in quot

[2020-02-28 05:35] anikethsaha commented on #885
As of now , cssnano doesnt support css-in-js out of the box.

can you explain what you did to turn it off ?

adding `false` to each plugin is quite a job better try not using the default preset of cssnano.

[2020-02-28 06:23] cullylarson commented on #885
@anikethsaha

It's not really a matter of supporting css-in-js. Everything actually works great as-is (Next.js natively supports postcss). I'm mostly just curious why cssnano would be removing something that looks like `${variableName}` from the CSS (or keeping it in if there are quotes around it), and how I might prevent that from happening.

I just added `false` to all of the options (see my ori

[2020-02-28 06:39] anikethsaha commented on #885
This is unknown CSS syntax or can say invalid. In CSSNANO, the invalid syntax will lead to invalid minification or some cases no minification.

I dont know how nextjs process css but I guess they are processing the un-compile (CSS-in-js -> css) CSS to postcss. Thats why cssnano is minifying that.
Better remove cssnano.

cssnano without `cssnano-default-preset` is nothing. so remove the default pre

[2020-02-28 07:04] cullylarson commented on #885
Thanks for the info. @anikethsaha. Yes, my impression is that nextjs passes the raw "CSS" to postcss, and then processes the result as a template literal. Do you know if there is some way to tell cssnano to ignore a specific line or bit of CSS? I think that would solve the problem. If not, I'll mess around with it on Monday and see if I can figure out a solution. Will post here if I do.

[2020-02-28 07:12] anikethsaha commented on #885
@cullylarson I am currently building a plugin which will be ship with cssnano in future by default
You can give it a try .

https://github.com/anikethsaha/postcss-ignore-plugin

Its still in development stage perhaps your feedbacks will make the process more smooth.

also, can you show your postcss config.
if cssnano is the last plugin, then it should get the compiled css

[2020-02-28 07:20] cullylarson commented on #885
I actually saw that plugin looking around earlier. I also saw your comment on the `postcss-ignore` project, asking about the name :) I'll check it out!

Here's my postcss config:

[code]

[2020-02-28 07:30] anikethsaha commented on #885
your config seems fine. ! Not sure about next processing css

[2020-02-28 10:04] evilebottnawi commented on #885
We don't not support that syntax and I strongly recommend do not use cssnano, supporting CSS-in-JS syntax in our roadmap, but it is not easy and required a lot of time, unfortunately, we don’t have so many developers or sponsors to do this quickly.

Not certainly in that way. You have invalid syntax from the point of view of CSS, and our code do not expect tokens, so it is potential not safe.

Unf

[2020-03-02 13:06] #642 closed

[2020-03-03 14:59] anikethsaha commented on #828
Seems like this has been fixed. I cant able to re-produce it !

[2020-03-03 16:09] gaelreyrol commented on #828
Well, I still have the error if I upgrade `autoprefixer`. I will work on this ASAP to see if it is still related to `cssnano`.

[2020-03-03 16:12] anikethsaha commented on #828
PLease check if you can reproduce with this [playground](https://codesandbox.io/s/cssnano-minify-selector-selector-parser-v3-32lb1)

I am using the input

[code]

[2020-03-03 16:54] anikethsaha commented on #701
Input

[code]

With `postcss-merge-longhand` only

[code]

With `postcss-merge-rules` only

[code]

With `postcss-merge-longhand` before `postcss-merge-rules`

[code]

With `postcss-merge-rules` before `postcss-merge-longhand`

[code]

Here, both plugins are working fine as independently but not together.
The fix as expected is to have the merging of the rule before merging the longhand!

cc @evil

[2020-03-03 17:15] evilebottnawi commented on #828
@gaelreyrol Can you create minimum reproducible test repo?

[2020-03-04 09:50] gaelreyrol commented on #828
Well, while trying to create a reproducible test repo, I coudn't get the same error so I looked at the yarn.lock and noticed several differences, especially with autoprefixer where on my original repo yarn kept several version of it. So I simply deleted my yarn.lock file on my original repo and recreated it and the error disapeared...

I am sorry for the inconvenience, I didn't know this kind of t

[2020-03-04 09:56] evilebottnawi commented on #828
@gaelreyrol Don’t worry, it is sometimes happens, so I have a golden rule - before creating a problem I create a minimum reproducible test repo. Anyway feel free to leave feedback

[2020-03-04 09:56] #828 closed

[2020-03-05 19:50] dgp1130 commented on #880
Sorry, got a little distracted and forgot to follow up here.

Where exactly is `postcss-calc` used? I'm not sure how that fits into the `cssnano` ecosystem, but I don't see it as a dependency or peer-dependency anywhere. Since I'm able to reproduce this in the CSSNano playground, I'm not sure there's any external dependency for me to update?

[2020-03-05 19:52] anikethsaha commented on #880
its being used in the default preset
https://github.com/cssnano/cssnano/blob/master/packages/cssnano-preset-default/src/index.js#L22

[2020-03-07 01:45] dgp1130 commented on #880
Generating a new project with Angular and checking dependencies we already use `cssnano-preset-default@4.0.7` which [appears to be the latest version](https://www.npmjs.com/package/cssnano-preset-default).

[code]

Outputs:

│ │ ├─┬ cssnano-preset-default@4.0.7
│ │ │ ├─┬ cssnano-util-raw-cache@4.0.1
│ │ │ │ ├── cssnano-util-same-parent@4.0.1
│ │ │ │ ├── cssnano-util-get-arguments@4.0.0
│ │ │ │ ├──

[2020-03-07 06:20] anikethsaha commented on #880
postcss-calc is being used as a dep for default preset. We are using it direcctly in it . Its an issue with upstream !

[2020-03-08 05:31] 10xjs commented on #68
It is possible to use the current version of `cssnano` synchronously with a little effort. `cssnano` itself is a modular set of `postcss` plugins, few of which is actually async. We are able to sidestep all of the async code by referencing the internal plugins directly (though one of the presets to save having to import all of the plugins directly).

[code]

[2020-03-09 08:42] Siilwyn commented on #68
With `async/await` now existing, this issue is solved for those who want to wait for the processing to finish with `await`.

[2020-03-11 09:28] vdecree commented on #880
Any work-arounds for this? Im running into the same issue.

[2020-03-11 09:35] anikethsaha commented on #880
__Recommended__ :  disable `postcss-calc` from `cssnano-default-preset`

__or__ [`postcss-ignore-plugin`](https://github.com/anikethsaha/postcss-ignore-plugin) _(still in the development stage)_

[2020-03-12 18:30] dgp1130 commented on #880
@vdecree, from a code perspective, you can also use temporary variables with fewer fallbacks each (see https://github.com/cssnano/cssnano/issues/880#issue-568564657).

Filed an issue upstream: https://github.com/postcss/postcss-calc/issues/104.

[2020-03-16 11:57] ben-eb opened #887 "Improve gradient shortening."
We should be able to handle these two cases:

https://twitter.com/stefanjudis/status/1239488340682039297

[code]

Currently converts to:

[code]

When it could convert to:

[code]

In addition, we could add support for conic gradients.

[2020-03-17 09:05] brookjordan opened #890 "border-x-x-radius don’t combine into the border-radius shorthand"
The following:
[code]

is currently minified to:
[code]

but could be “short-hand”ed:
[code]

[2020-03-19 13:01] brookjordan commented on #890
To expand upon that, this:
[code]
is currently minified to:
[code]
and could be taken down to:
[code]

[2020-03-19 14:39] Cody2333 opened #892 "{opacity:50%} results in {opacity:1%}"
[code]
results in
[code]

50% is wrongly converted to  1%

[2020-03-19 14:41] anikethsaha commented on #892
This has been fixed here https://github.com/cssnano/cssnano/pull/881

It will be release soon

[2020-03-19 14:43] evilebottnawi commented on #892
Fixed

[2020-03-19 14:43] #892 closed

[2020-03-23 20:34] anikethsaha commented on #721
You can pass your own browserlist env to this plugin from cssnano

[code]

I think this issue is good to close as the bug is cause of cssnano. May be from upstream

cc @evilebottnawi

[2020-03-24 10:17] evilebottnawi commented on #721
Yes, it is not bug, need setup correct browserslist

[2020-03-24 10:48] #721 closed

[2020-03-27 15:09] abstractvector commented on #628
Can we reopen this issue as a very specific use case please?

I am able to reproduce the initial report, that the following two CSS styles produce different outputs (confirmed in Chrome 80 and Firefox 74 on Mac OS 10.15.3):

[code]
Computed: `padding-bottom: 276.906px` (correct)

<img width="656" alt="Screen Shot 2020-03-27 at 8 05 44 AM" src="https://user-images.githubusercontent.com/726531/77770

[2020-03-27 15:18] anikethsaha commented on #628
This is an issue with [postcss-calc](https://github.com/postcss/postcss-calc) (`upstream`)

Can you submit this in that repo ?

Thanks

[2020-03-27 15:21] abstractvector commented on #628
I've just looked at their issue tracker and it looks like a known issue (https://github.com/postcss/postcss-calc/issues/91). Thanks for pointing me in the right direction.

I'll add more details there.

[2020-03-27 15:25] GrimLink commented on #628
@abstractvector you can do the calc almost the same by using `*`.
This fixes the issue and allows you to use the calc minifier.

My code;
[code]

[2020-03-27 15:28] anikethsaha commented on #628
Just for feedback and experiment purpose, you guys can try out [postcss-ignore-plugin](https://github.com/anikethsaha/postcss-ignore-plugin)

[2020-04-05 07:32] anikethsaha commented on #806
I think this is good to close  in favor of #722 , https://github.com/cssnano/cssnano/issues/424

[2020-04-05 07:32] anikethsaha commented on #806
cc @evilebottnawi

[2020-04-06 10:20] evilebottnawi commented on #806
No, we still have some cases what we need to improve

[2020-04-06 10:32] anikethsaha commented on #806
cases like merging only adjacents at rules?

[2020-04-08 19:55] wongjn opened #897 "[Bug] : min()/max()/clamp() get merged over their fallback values"
**Describe the bug**
Properties merged by `postcss-merge-longhand` package will merge `min()`/`max()`/`clamp()` over their fallback values.

**To Reproduce**
Before (padding is not the only property to suffer with this):
[code]
After:
[code]

**Expected behavior**
After:
[code]

**Additional context**

I think it is important to keep the fallback values as browser support is a little more sparse t

[2020-04-09 04:23] anikethsaha commented on #897
Currently, merge longhand plugin doesn't check for compatibility and it merges specifically longhand props. So it's the intended behavior.
But checking compatibility can be enhancement before evening traversing that node.

[2020-04-10 17:04] hacknug opened #900 "[Bug] : broken declarations due to unitless 0 inside `max()`"
**Describe the bug**
`cssnano` is messing with 0-like values inside `max()` (most likely `min()` and `clamp()` too).

**To Reproduce**
Steps to reproduce the behavior:

1. Open the playground on a new tab https://cssnano.co/playground/
2. Paste the following code
[code]

**Expected behavior**
- `.invalid_pb-0-safe`: invalid because it contains unitless values. Can be dropped
- `.valid_broken_1_pb-

[2020-04-10 17:08] anikethsaha commented on #900
This has been fixed here https://github.com/cssnano/cssnano/pull/894
it will be released soon.

Let me know if there is anything specific you are looking for !

[2020-04-13 21:12] t0f3rchr15 commented on #864
Not sure if this is the same bug, but a simple merge of `border-width`, `border-style`, and `border-color`, like below, will result in an invalid shorthand border property:

input:
[code]

result:
[code]

Changing `border-style`: to `inherit` or removing any one of these properties seems to clear the issue.

[2020-04-17 06:48] Sanderand opened #901 "[Bug] : css nano strips away important factors from multiplications in calc()"
**Describe the bug**
A CSS input with a `calc` function using css variables strips away factors from multiplications:

`calc(var(--foo) * 0.4 - var(--bar) * 0.4);`
... will get converted to ...
`calc(var(--foo) - var(--bar));`

... and that is incorrect. This happens using cssnanos `default` preset.

**Input given**:
[code]

**Expected output**
[code]

**Actual output**
[code]

**Repo for reproduc

[2020-04-17 06:57] anikethsaha commented on #901
this is an issue with [`postcss-calc`](https://github.com/postcss/postcss-calc), you can submit an issue there .

[2020-04-17 09:14] Sanderand commented on #901
Thanks. I've raised the issue there. Feel free to close this one

[2020-04-20 02:48] redeyes2015 commented on #829
Just in case anyone like me bumping into this issue in the future: #881 have fixed this, but there is no release including it, yet, as of 2020/4/20. For now, if you need cssnano, replace the percentage syntax is the easiest option.

In [CSS color 3], percentage for opacity is allowed, but CSS color 4 will make this sytnax (`opacity: 98%`) valid:

* https://www.w3.org/TR/css-color-4/#transparency
*

[2020-04-20 03:46] FanJfly commented on #357
no warning when compiling like this also can work:
/* autoprefixer: ignore next */
-webkit-box-orient: vertical;

[2020-04-21 10:58] 1Jesper1 opened #902 "What option could cause variable to lowcase"
In LESS specified variable: `@mainColor: ~"##mainColor##";` results in `##maincolor##`.

[2020-04-21 11:00] anikethsaha commented on #902
Please fill the issue template and also, we dont support `LESS` support, it has to be compiled to raw css.

[2020-04-21 11:01] 1Jesper1 commented on #902
@anikethsaha Thanks for the fast reply. I will investigate this.

[2020-04-24 15:10] 1Jesper1 commented on #902
This the css: `.test {
	border-bottom: 7px solid ##mainColor##;
}` this will be: `.test{border-bottom:7px solid ##maincolor##}` in playground: https://cssnano.co/playground/

[2020-04-24 15:18] 1Jesper1 commented on #902
**Describe the bug**
CSS template variable to lowercase

**To Reproduce**
Steps to reproduce the behavior:
This the css: .test { border-bottom: 7px solid ##mainColor##; } this will be: .test{border-bottom:7px solid ##maincolor##} in playground: https://cssnano.co/playground/

**Expected behavior**
No transform on template variable name.

[2020-04-24 15:21] anikethsaha commented on #902
`test { border-bottom: 7px solid ##mainColor##; }` I think this is an invalid CSS.  and for sure this is not css variable.

With css variable, cssnano doesnt lowercase the variables. check the demo below.
[demo](https://cssnano.netlify.app/playground#eyJpbnB1dCI6Ii8qIHdyaXRlIHlvdXIgY3NzIGJlbG93ICovXHJcblxyXG5cclxuY3tcclxuICAgIC0tbWFpbkNvbG9yIDogJ3JlZCc7XHJcbiAgICBjb2xvciA6IHZhcigtLW1haW5Db2xvciApO

[2020-04-24 15:29] 1Jesper1 commented on #902
@anikethsaha You are right, we overwrite this ##mainColor## later on, so I named it CSS template variable.

Test: [demo](https://cssnano.netlify.app/playground/#eyJpbnB1dCI6Ii8qIHdyaXRlIHlvdXIgY3NzIGJlbG93ICovXHJcblxyXG5cclxuY3tcclxuICAgIC0tbWFpbkNvbG9yIDogJ3JlZCc7XHJcbiAgICBjb2xvciA6ICMjbWFpbkNvbG9yIyM7XHJcbiAgICBib3JkZXItYm90dG9tOiAgM3B4IHNvbGlkICMjbWFpbkNvbG9yIyM7XHJcbn0iLCJjb25maWciOiIvLyBjc3N

[2020-04-24 15:33] anikethsaha commented on #902
how you are overwriting?

what is CSS template variable ? is it in css specs ?

[code]

this is an invalid css, so it will lead to invalid modification. CSSNANO expects plain raw CSS without any "to be compiled" css and also we only support CSS that is in the specs.

[2020-04-24 15:42] 1Jesper1 commented on #902
Thanks, I understand. I will use a workaround: [demo](https://cssnano.netlify.app/playground/#eyJpbnB1dCI6Ii8qIHdyaXRlIHlvdXIgY3NzIGJlbG93ICovXHJcblxyXG5cclxudGVzdHtcclxuICAgIC0tbWFpbkNvbG9yIDogJ3JlZCc7XHJcbiAgICBib3JkZXItYm90dG9tLXdpZHRoOiAgM3B4IDtcclxuXHJcbn1cclxuXHJcbnRlc3R7XHJcbiAgICBib3JkZXItYm90dG9tLWNvbG9yOiAgIyNtYWluQ29sb3IjIztcclxuICAgIGJvcmRlci1ib3R0b20tc3R5bGU6ICBzb2xpZCA7XHJcbn0iLCJjb2

[2020-04-24 15:45] #902 closed

[2020-04-24 15:45] anikethsaha commented on #902
let me know if you need any help.

[2020-04-26 22:40] madou commented on #68
thanks @10xjs it worked! for those interested i'm using this in a typescript transformer which doesn't currently have an async api (...that i've seen 😅)

[2020-04-27 09:22] hdxqnljs opened #903 "[Bug] : TypeError: Cannot read property 'toLowerCase' of undefined"
![image](https://user-images.githubusercontent.com/20278807/80355987-6005cf00-88ab-11ea-9b97-85bb4e0b0e67.png)
![image](https://user-images.githubusercontent.com/20278807/80356166-a4916a80-88ab-11ea-8d50-7e2aba16b5fe.png)
help me,  pls

[2020-04-27 09:59] anikethsaha commented on #903
please fill the issue template.
share your code, config and environment .

[2020-04-27 12:32] hdxqnljs commented on #903
![image](https://user-images.githubusercontent.com/20278807/80371221-1ecde900-88c4-11ea-853e-5be2f47a567f.png)
I figure out why this error occurs;
it is my problem, not yours;
i think I need stricter code inspection;
Sorry for wasting your time;
I have closed it；
Thanks for your reply.

[2020-04-27 12:32] #903 closed

[2020-04-27 12:35] anikethsaha commented on #903
just a suggestion: use linters for these static analyses. they help a lot 👍 .

[2020-04-30 15:14] elementalhub opened #904 "cssnano config outside `postcss.config.js` has no effect"
**Describe the bug**
I need to disable the colormin plugin. 'colormin: false' in cssnano config does not do anything.
I'm using cssnano with postCSS and webpack.

**To Reproduce**
This is my cssnano config:
[code]

**Expected behavior**
I expect to be able to disable the colormin plugin. However colors are still being minified (#ff0000 -> red)

**Desktop (please complete the following information)

[2020-04-30 15:28] anikethsaha commented on #904
can you try `exclude` like this

[code]

[2020-04-30 15:36] elementalhub commented on #904
I tried that as well, does not work.

--
Stefanie Hein
e/ement:s

Anklamer Straße 38
10115 Berlin
0049 163 454 19 46

steffi@the-elements.de
the-elements.de <http://www.the-elements.de/>

[2020-04-30 15:40] anikethsaha commented on #904
umm, 😕

let me check in the master, it might have fixed but not released .

[2020-04-30 17:55] anikethsaha commented on #904
This is working fine in `master` version. in the next release, it will be fixed.

[2020-05-05 10:23] elementalhub commented on #904
Great, thanks for the help and update. When will the next release be?

[2020-05-07 03:58] minchangyong commented on #357
all right

At 2020-04-20 11:46:24, "佐菲" <notifications@github.com> wrote:

no warning when compiling like this also can work:
/* autoprefixer: ignore next */
-webkit-box-orient: vertical;

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-05-08 17:13] nojvek commented on #823
cssnano just broke my site because of `rotateZ(360deg)` -> `rotate(1turn)` conversion. How do I tell css-nano to only remove duplicate rules and styles. Don't change the actual semantics? chrome doesn't do the right thing on `rotate(1turn)`

I thought cssnano was a safe transformer for its default rules, but apparently not.

[2020-05-08 17:51] anikethsaha commented on #823
@nojvek can you submit a new issue.

although the transformation is valid but I think we need to check the browser compatibility for this as firefox doesn't support that at all.

You can
- [exclude the `postcss-convert-values` plugin](https://github.com/cssnano/cssnano/blob/master/site/content/guides/presets.md#excluding-transforms)
- or you can use [postcss-ignore-plugin](https://github.com/anike

[2020-05-13 11:25] SEA-DH opened #907 "[Bug] : 错误报告"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem. (from [cssnano-playground](https://css

[2020-05-13 12:09] anikethsaha commented on #907
fill the template please

[2020-05-13 12:09] #907 closed

[2020-05-18 09:07] SkReD opened #909 "[Bug] : keyframe names with e at beginning are trying to convert"
**Describe the bug**
Keyframes names like those `h1{ -webkit-animation: e836684w2 } h2{ animation: e836684w2 }` with `e` at beginnig are trying to convert by `postcss-convert-values`

**To Reproduce**
Here is PR with failing test on this case
https://github.com/cssnano/cssnano/pull/908

**Expected behavior**
Expected that no conversion performed

**Screenshots**

**Desktop (please complete the fol

[2020-05-18 09:16] anikethsaha commented on #909
I can confirm this is a bug and I can [reproduce it](https://cssnano.netlify.app/playground#eyJpbnB1dCI6Ii8qIHdyaXRlIHlvdXIgY3NzIGJlbG93ICovXHJcblxyXG5oMSB7XHJcbiAgLXdlYmtpdC1hbmltYXRpb246IGU4MzY2ODR3MjtcclxufVxyXG5oMiB7XHJcbiAgYW5pbWF0aW9uOiBlODM2Njg0dzI7XHJcbn1cclxuIiwiY29uZmlnIjoiLy8gY3NzbmFubyBjb25maWdcbntcbiAgXCJwcmVzZXRcIiA6IFwiZGVmYXVsdFwiLFxufVxuIn0=).

we need to ignore transformation for

[2020-05-18 10:58] SkReD commented on #909
Looks like this was fixed here https://github.com/TrySound/postcss-value-parser/commit/7867d1f1c18cee4bccd0b582ff7e27618148a865

[2020-05-18 11:02] anikethsaha commented on #909
we need to update `postcss-value-parser` to `v4.1.x`. [ref this](https://github.com/cssnano/cssnano/blob/master/packages/postcss-convert-values/package.json#L31)

Feel free to submit a PR

[2020-05-19 11:43] evilebottnawi commented on #833
/cc @anikethsaha Can you write me to DM in twitter? I don't ignore you, just don't have time right now

[2020-05-19 11:46] anikethsaha commented on #833
I lost my old twitter account :sweat_smile:

I will DM you from new one 👍

[2020-05-27 00:53] strarsis opened #910 "[Bug] : Incorrect calc(...) value crashes cssnano"
**Describe the bug**
Using some (specific) incorrect calc(...) values crashes cssnano.

**To Reproduce**
Use as input:
[code]
You can try it in the [cssnano playground](https://cssnano.co/playground/).

On the cssnano playground:
[code]

On a node build environment:
[code]

**Expected behavior**
cssnano either ignores the cals(...) value or handles the error correctly and
prints an explanatory err

[2020-05-27 06:18] anikethsaha commented on #910
Thanks for the issue.

It looks like an issue with upstream (postcss-calc).

You can try excluding `postcss-calc` plugin to stop the transformation for `calc`

[2020-05-27 13:24] dmnsgn opened #911 "[Feature Request] Add css var removal to discardUnused postcss-discard-unused"
**Is your feature request related to a problem? Please describe.**
I sometimes include "libraries" declaring a bunch of css variables in the `:root`. When compiling with css nano, they end up in the bundle even though they are not used.

**Describe the solution you'd like**

I see two solutions to this issue:
- extend `discardUnused` to take care of those var(--my-var) not found in the rest of the

[2020-05-27 13:48] evilebottnawi commented on #911
Removing CSS variables is not safe, we try to avoid all unsafe actions

[2020-05-27 14:14] anikethsaha commented on #911
Thanks for the issue.

As mentioned by @evilebottnawi , CSS variables are hoisted across CSS files as well.
and those which are declared in `declaration` like `h1{--var1: red}`, this `var1` can be used outside as well.
That was the reason for archiving `postcss-unused-var` cause it can lead to un-safe transformation.

[2020-05-27 15:26] dmnsgn commented on #911
I don't know what is exactly cssnano policy in re unsafe transform but I see there are currently 4 available: discardunused, mergeidents, reduceidents and zindex. Assuming users that opt in for  unsafe transforms know what they are doing, would this behaviour still be _too_ unsafe for cssnano?

[2020-05-27 15:36] anikethsaha commented on #911
Removal of css variables can be un-safe as they are hoisted.

`postcss-unused-vars` was doing the following thing

Input

[code]
⬇️

Output

[code]

But `var2` could be used like this as well

[code]

This will be transformed to

[code]

This is un-safe.

[2020-05-28 08:32] gagy3798 opened #912 "Duplicated @media rules not being removed"
@media (max-width:767px) {
  #header{position:fixed}
  .class_a{display:none}
}
@media (max-width:767px) {
  #header{position:fixed}
  .class_b{background-size:150px}
}

Expected:

@media (max-width:767px) {
  #header{position:fixed}
  .class_a{display:none}
}
@media (max-width:767px) {
  .class_b{background-size:150px}
}

Tested on cssnano-playground

[2020-05-28 10:37] anikethsaha commented on #912
Thanks for the issue.

Currently (if I am not wrong ) we dont have any transformation  with does this so I wouldn't consider this a bug, instead a enhancement/feature-request.

Actually, it might need a separate plugin to do so instead of integrating this in any of the plugin.
Which will merge the at-rules if they are same and then existing plugin like [postcss-discard-duplicates](https://github.c

[2020-05-29 14:02] parzibyte commented on #829
Well, just to clarify. If you are specifying the opacity in percentage like this:
[code]

Change it to:
[code]

And it will work like a charm!

[2020-06-01 04:12] mustafa0x opened #913 "Equal sign is added to end of empty query string variable"
- https://cssnano.co/playground/
- In:    `* {background: url(https://example.com/img?a)}`
- Out: `*{background:url(https://example.com/img?a=)}`

[2020-06-01 11:30] AckmanDESU opened #914 "[Bug] : postcss-minify-gradients crashes when using custom CSS properties"
**Describe the bug**
I created a class which adds a gradient. The gradient's direction depends on a custom property. Compiling the code crashes cssnano.

**To Reproduce**
My code:

[code]

**Expected behavior**
The code should compile without crashing

**Desktop (please complete the following information):**
- CSSNANO Version 4.1.10
- Add the output of `npx envinfo && npm ls cssnano` here

[code]

[2020-06-01 15:41] anikethsaha commented on #914
Thanks for the report.

Having css variables in gradients wont be optimized.
as it will return from [here](https://github.com/cssnano/cssnano/tree/master/packages/https://github.com/cssnano/cssnano/blob/master/packages/postcss-minify-gradients/src/index.js#L29)

This crashing issue has been fixed already and it will be shipped with next release.

[2020-06-03 12:19] archiloque opened #915 "[Bug] : `line-height: 0vw` should not be simplified to `line-height: 0` because of Safari"
### Description

Using responsive font with Safari requires adding a `line-height: 0vw` property, see https://github.com/seaneking/postcss-responsive-type/issues/15 or https://github.com/twbs/rfs/issues/14 , but when the value is processed by the convertValues plugin, it is replaced by `line-height: 0`.

### To Reproduce

1. Open https://cssnano.co/playground/
2. Write `body{ line-height: 0vw}`
3.

[2020-06-04 09:53] silkfire opened #916 "'cssnano-preset-default' using deprecated 'postcss-colormin' dependency"
Is it correct that `cssnano-preset-default` should use the deprecated `postcss-colormin` package?

`postcss-colormin` uses an older version of `browserslist` which makes npm complain about it.

[2020-06-04 09:58] anikethsaha commented on #916
in master, default preset is using the latest version (I guess) of `postcss-colormin`

About the old browserlist, It will be fixed in next version as I think it has been updated in master

[2020-06-04 12:08] anikethsaha commented on #915
It seems a valid minification as `vw` is `1%` of the relative width.

so `0vw` === `0%` of the width of the viewport.

[2020-06-04 12:21] archiloque commented on #915
From what I understand the minification is valid in theory, but the exact `0vw` value is required to workaround a bug in Safari.
Safari's implementation is maybe wrong and I think it's not a bug in cssnano, but cssnano could perhaps have a special case for this.

[2020-06-04 12:57] anikethsaha commented on #915
Cssnano supports the [specs](https://www.w3.org/TR/css-values-3/#viewport-relative-lengths) for minification. other browsers may have different implementation and it can be hard to track and maintain them.

we can only filter them based on browser support. using [caniuse](https://caniuse.com/#feat=viewport-units)

Yea we can support `caniuse` support but as you mentioned Safari (I dont have safari

[2020-06-04 13:44] silkfire commented on #916
Thanks for the update. When is the next release planned?

[2020-06-04 13:53] anikethsaha commented on #916
soon

[2020-06-15 00:58] vis97c commented on #912
I'm lookinh forward to this. In my latest project the amount of duplicated is surprisingly high because of this.

[2020-06-19 14:38] anikethsaha commented on #913
This is intentional behavior, we are normalizing the URL (done by the [`postcss-normalize-url`](https://github.com/cssnano/cssnano/tree/master/packages/postcss-normalize-url) plugin from the preset) using [normalize-url](https://github.com/sindresorhus/normalize-url).

[2020-06-19 14:40] anikethsaha commented on #904
soon

[2020-06-19 14:42] mustafa0x commented on #913
Seems to be inconsistent then:

- In:    `* {background: url(/img?a)}`
- Out: `*{background:url(/img?a)}`

[2020-06-19 14:43] anikethsaha commented on #913
I guess `/img?a` is an invalid url.

[2020-06-19 14:47] mustafa0x commented on #913
It's a relative URL.

https://google.com/#q=relative+URL

[2020-06-19 14:50] anikethsaha commented on #913
![image](https://user-images.githubusercontent.com/26347874/85145370-1792de00-b26a-11ea-88ec-efc4a2079ab6.png)

Invalid for `normalize-Url` .

[2020-06-19 14:53] mustafa0x commented on #913
It doesn't support processing relative URLs.

https://github.com/sindresorhus/normalize-url/issues/56

CSS of course supports them.

[2020-06-19 14:56] anikethsaha commented on #913
cssnano is build time, not runtime. So it cant resolve it to absolute

[2020-06-19 14:59] mustafa0x commented on #913
I'm not sure how that relates to the issue.

In any case, I filed a bug in the normalize repo. https://github.com/sindresorhus/normalize-url/issues/112

[2020-06-19 18:30] #913 closed

[2020-06-22 13:58] ixtensa opened #919 "[Bug] : postcss-svgo: Error in parsing SVG: Invalid attribute name"
![Screenshot](https://user-images.githubusercontent.com/24584321/85295878-d5071680-b4a0-11ea-91da-b3b8350e5296.png)

**Describe the bug**
ERROR: postcss-svgo: Error in parsing SVG: Invalid attribute name | Line: 0 | Column: 67 | Char: 3

**To Reproduce**
In appears on production builds for react-app. It’s part of the package-lock.json "postcss-svgo": "^4.0.2“ and listet under requires of "cssnano-

[2020-06-22 17:52] anikethsaha commented on #919
Please submit a reproducible sandbox/repo. Also, share the input.

You can use https://cssnano.netlify.app/playground.

[2020-06-24 09:21] ixtensa commented on #919
Okay i found the root of the problem. In my SCSS file i use a custom copy of bootstraps 4 invalid state for form inputs. When i remove this from my file react will compile successfully. By the way, when i click RUN on the playground an empty white page appears. But the code that create the error look like this:

[code]

[2020-06-24 10:32] anikethsaha commented on #919
This is an invalid CSS, or maybe SCSS as you mentioned.
CSSNANO only supports CSS. transpile it to CSS and try to minify that.

[2020-06-27 18:13] Timer opened #920 "CSS transform: translate3d fails to minify"
**Describe the bug**

[code]

**To Reproduce**

[code]

**Expected behavior**

Should not crash.

**Screenshots**
If applicable, add screenshots to help explain your problem. (from [cssnano-playground](https://cssnano.co/playground/))

**Desktop (please complete the following information):**
- CSSNANO Version: cssnano@4.1.10

[2020-06-27 18:28] Timer commented on #920
This might be fixed on `master` already. Any chance a new version of `cssnano` can be released?

[2020-06-27 18:56] anikethsaha commented on #920
Thanks for the report.

Yes this has been fixed in the master and the output is `.transform-parsing{transform:translate3d(0,0)}`

About the release, I hope it will be done soon.

I have created a kind of workaround in which you can use the updated master code using [cssnano-nightly](https://github.com/anikethsaha/cssnano-nightly).
Though I will not recommend that for production as I made that yest

[2020-07-03 13:25] msteller-connyun commented on #650
I’ve the same issue.
Is there a workaround?

Tried to disable different options, without success.

[2020-07-06 13:46] jonathantneal commented on #833
Hey @anikethsaha, @evilebottnawi, may I help? For this project specifically, I’d like to work with @timer to publish some merged bug fixes yet published. @timer may be able to set up the repo infrastructure to do automated releases.

My hope is that this helps folks by cutting a fresh release and then easing maintenance going forward.

If that’s acceptable, please let me know if/when we can get st

[2020-07-06 14:14] anikethsaha commented on #833
I think the automated release will be really helpful.

Also, a WIP nightly release is in progress, https://github.com/cssnano/cssnano-nightly (I didn't push the code , I will do it soon.)

[2020-07-06 14:14] anikethsaha commented on #833
Let me know if you need anything from my end

[2020-07-06 15:17] jonathantneal commented on #833
I’d need permissions:

- ability to access both GH repo and NPM repo(s). we can work as tightly as you’d like on this.
- ability to set up branch protection.
- ability to enforce PR naming conventions (so that the maintenance can be truly hands off / community driven).
- ability to give Joe (timer) these permissions and track things (because I feel responsible for seeing this through).
- ability t

[2020-07-06 15:31] anikethsaha commented on #833
I only have the GH repo permission, not the NPM access.
I am +1 for giving the permission to you guys. cc @evilebottnawi

this is a good idea. I think once the automation for the release is completed, we can set up the protection to the master branch.
Though two approvals for a PR to merge is recommended and optimal. But as non-availability of maintainers, I think we can have one approval merging

[2020-07-07 13:30] evilebottnawi commented on #833
@jonathantneal I sent invite you (owner) and Joe (member), you can grant more access to other developers if you find it necessary (for @timer and @anikethsaha)

@anikethsaha Now you are member of org

@jonathantneal You have access to publish new version to npm, if you want to adding more developers, feel free to do it

Something else?

[2020-07-08 14:52] cduivis commented on #742
I just encountered the same issue:

**initial:**
`calc(0.7 * 560 * (1220px - 100vw) / 1220 + 0.1 * 560 * (1220px - 50vw) / 1220)`
**actual:**
`calc(478240px - 39200vw + 68320px - 2800vw)`

I see this bug was already reported in 2019 is some actually picking this up?

Btw for such complex behavior as redefining calculations, it would be a good thing to define some unit tests as this is easily broke

[2020-07-09 13:44] vestman commented on #776
Hm. I agree with the original poster. When `discardEmpty` is `true` it should behave consistently and remove all empty declarations.

[2020-07-09 13:51] evilebottnawi commented on #776
It is already remove all empty declarations

[2020-07-09 14:39] vestman commented on #776
Ok, is it just not released? Because `display:;` will default to `display: block;`.

Take a look at the example in the original post. I just tried it on https://cssnano.co/playground/.
[code]

will output:

[code]

Am I missing something?

[2020-07-09 14:52] anikethsaha commented on #776
I think it is an invalid syntax.  so invalid input will give invalid output

[2020-07-09 14:53] evilebottnawi commented on #776
Because it is broken code

[2020-07-09 14:58] vestman commented on #776
Yes, it's "broken" code, but then it should be removed. Here's another example where a developer accidentally declares the display twice:
[code]
output:
[code]

Then the default value that cssnano applies overrides the `display: flex`.

[2020-07-09 15:17] evilebottnawi commented on #776
Don't use cssnano on code with invalid syntax

[2020-07-09 15:21] vestman commented on #776
Haha, great response. So the fact that it defaults to `block` even if it might be a `<span>` it's applied doesn't bother you?

[2020-07-09 15:28] anikethsaha commented on #776
I think we can consider it to be removed or to replace it with `initial`

[2020-07-09 15:40] evilebottnawi commented on #776
How you can use `display: <span>`?

[2020-07-09 16:21] vestman commented on #776
[code]

[2020-07-09 16:25] evilebottnawi commented on #776
What? It is CSS minimizer

[2020-07-09 19:34] vestman commented on #776
If I have a class with a broken `display` declaration, *don't* add `block` to it by default since the class might be attached to a span element that's an inline container.

You said it best yourself: `It is CSS minimizer`, exactly. Don't add things if it's not necessary!

[2020-07-10 11:31] evilebottnawi commented on #776
@vestman future version of cssnano doesn't work with broken syntax and throw an error, so it makes no sense to change behavior

[2020-07-10 11:40] vestman commented on #776
@evilebottnawi, you could have said that the first time. But ok, then I know. Thanks for the information!

[2020-07-29 06:52] 4cm4k1 opened #927 "[Bug] : Using grid/column syntax breaks compilation"
**Describe the bug**
When I and others attempt to make a production build (`./node_modules/.bin/next build`) of our Next.js projects, compilation fails with an error, specifically `TypeError: f.charCodeAt is not a function`, seemingly as a result of using CSS grid and column syntax:
- `grid-column: span 2;` (https://github.com/vercel/next.js/issues/15026#issue-654297251)
- `columns: 2 auto;` (http

[2020-07-29 12:19] evilebottnawi commented on #927
PR welcome

[2020-07-29 13:46] anikethsaha commented on #927
Thanks for the report.

This is because our plugins are modifying the AST. so `postcss-normalize-string` is getting modified AST.
for `span 2`
The `AST[declaration],value` is coming as `['span 2']` instead of just `span 2`.

I tried running all the normalized plugins first before the minify and reduce ones, like this

[code]

In the `cssnano-preset-default`, it is working fine. But that will be a

[2020-07-30 03:43] Timer commented on #927
Why is reordering the plugins considered breaking?

[2020-07-30 06:52] anikethsaha commented on #927
I am not sure whether it will be a break for sure or not. But there is a huge possibility that it will be a breaking change.
for eg https://github.com/cssnano/cssnano/pull/886, in this, I changed the position of one plugin and it already looks like the minification result has been changed a lot and creating a wrong output.

[2020-07-30 09:42] thecotne commented on #900
@anikethsaha still not published?

[2020-07-30 09:46] anikethsaha commented on #900
We are still looking for few bugs to fixed and then we will release a major.

In the meantime, use `cssnano@nightly` it is up to date with the `master` of this repo

[2020-07-30 10:06] evilebottnawi commented on #900
Let's close

[2020-07-30 10:06] #900 closed

[2020-07-30 10:27] hacknug commented on #900
Missed this back in April but I still wanted to thank you all for the fix ❤️

[2020-07-30 16:27] #919 closed

[2020-07-31 08:44] karlhorky commented on #916
Came here because of the security vulnerabilities on `dot-prop`: https://github.com/advisories/GHSA-ff7x-qrg7-qggm

![Screen Shot 2020-07-31 at 10 42 42](https://user-images.githubusercontent.com/1935696/89017566-cbcc5d80-d31a-11ea-8d81-16b89d89fb2b.png)

![Screen Shot 2020-07-31 at 10 43 10](https://user-images.githubusercontent.com/1935696/89017579-cf5fe480-d31a-11ea-8c98-db60e20bf91d.png)

[2020-07-31 08:47] karlhorky commented on #916
Very confusing and time-consuming because the dependencies in the current published version of `cssnano-preset-default` do not match those on GitHub:

**Published `cssnano-preset-default@4.0.7`**

<img width="542" alt="Screen Shot 2020-07-31 at 10 44 47" src="https://user-images.githubusercontent.com/1935696/89017663-f6b6b180-d31a-11ea-8975-a2f2a0fbd818.png">

**GitHub `cssnano-preset-default@4.0.

[2020-07-31 08:48] karlhorky commented on #916
@anikethsaha or should I open a new issue about the security vulnerability?

[2020-07-31 08:57] anikethsaha commented on #916
You are checking the dependencies of the master branch which is quite up to date I guess,

`cssnano-preset-default@4.0.7` was published a year ago and the dependencies in the master branch were updated 5 months ago.

`postcss-colormin` is in latest version in `cssnano-preset-default`. As mentioned it will be fixed when releasing the next version of `cssnano-preset-default`

in the meantime, you ca

[2020-07-31 09:09] karlhorky opened #931 "[Bug] : dot-prop version with security vulnerability a transitive dependency of cssnano-preset-default"
**Describe the Bug**

A version of `dot-prop` before `5.1.1` is a transitive dependency of `cssnano-preset-default@4.0.7` (the latest published version):

![Screen Shot 2020-07-31 at 10 43 10](https://user-images.githubusercontent.com/1935696/89019371-7cd3f780-d31d-11ea-8876-9767666459cf.png)

This results in security vulnerability warnings on any project that uses this version: https://github.com

[2020-07-31 09:09] karlhorky commented on #916
Ok, when can a new version be published?

I've opened this new issue to track the security vulnerabilities in `dot-prop`: https://github.com/cssnano/cssnano/issues/931

[2020-07-31 09:10] karlhorky commented on #931
More context here: https://github.com/cssnano/cssnano/issues/916

[2020-07-31 09:12] karlhorky commented on #931
Apparently another workaround mentioned by @anikethsaha is to use `cssnano-preset-default@nightly`: https://github.com/cssnano/cssnano/issues/916#issuecomment-667015250

[2020-07-31 09:16] anikethsaha commented on #931
It looks like an dependencies from `postcss-selector-parser` .

Can you backtrack that from where we are getting `dot-prop` ?

[2020-07-31 09:21] karlhorky commented on #931
One of the dependency chains is like this:

1. `cssnano-preset-default`
2. `postcss-merge-rules@^4.0.3`
3. `postcss-selector-parser@^3.0.0`

[2020-07-31 09:22] karlhorky commented on #931
Here's the output of `yarn why postcss-selector-parser`:

[code]

[2020-07-31 11:13] evilebottnawi commented on #931
What is version of `cssnano` do you use?

[2020-07-31 11:14] evilebottnawi commented on #916
Fixed in the master

[2020-07-31 11:14] #916 closed

[2020-07-31 11:15] evilebottnawi commented on #931
We wait postcss@8 for new release

[2020-07-31 11:51] karlhorky commented on #931
From the description above:

CSSNANO Version 4.1.10

[2020-07-31 11:59] evilebottnawi commented on #931
It is fixed https://github.com/postcss/postcss-selector-parser/blob/v3.1.2/package.json#L41, can you regenerate lock file?

[2020-07-31 12:00] evilebottnawi commented on #931
You need to update transitive dep

[2020-07-31 12:03] karlhorky commented on #931
Works, thanks! Deleted the `postcss-selector-parser` entry in `yarn.lock` and ran `yarn` and now have the new version.

Closing.

[2020-07-31 12:03] #931 closed

[2020-07-31 12:11] evilebottnawi commented on #931
Great!

[2020-07-31 14:41] johanvanhelden opened #932 "[Bug] `:focus-visible` still merged and breaks the CSS"
`:focus-visible` classes are merged. This breaks the CSS.

I've noticed that this issue should have been fixed in March in https://github.com/cssnano/cssnano/pull/882, but for some reason it is still merging them.

In my un-minified source CSS I have the following, working, TailwindCSS code:

[code]

After running cssnano I get the following, broken, code:
[code]

The result is that my focus visib

[2020-07-31 14:44] anikethsaha commented on #932
Thanks for the report.

This issue is fixed in master but not released yet.

It will be released soon.

In the meantime, use `cssnano@nightly` that is already up to date with the `master`

[2020-07-31 14:46] johanvanhelden commented on #932
@anikethsaha could you tell me what I need to watch in order to be notified of the release? Thanks in advance.

[2020-07-31 14:49] anikethsaha commented on #932
It looks like you are using cssnano as dependencies or dependencies.

You can `watch` this repo and the  [cssnano-nightly](https://github.com/cssnano/cssnano-nightly) repo in order to get notified when a new version is being released.

[2020-07-31 14:50] johanvanhelden commented on #932
Hmm, but weirdly enough the last release on this repo is 2019, that can not be correct, right?

[2020-07-31 14:52] anikethsaha commented on #932
That is correct only.

You can use `cssnano@nightly` which releases a new version daily whenever there is any change in the `master` of this branch.

[2020-07-31 15:01] evilebottnawi commented on #932
We wait postcss@8 release and we will do release, please use `nightly` if you need it ASAP

[2020-07-31 15:01] #932 closed

[2020-08-01 12:41] #927 closed

[2020-08-03 08:02] JanErikGunnar opened #934 "[Bug] Prototype pollution in dependency "dot-prop""
**Describe the bug**
Prototype pollution security issue in outdated dependency "dot-prop" 4.2.0

https://npmjs.com/advisories/1213

**To Reproduce**
Steps to reproduce the behavior:
1. Add dependency to cssnano 4.1.10 using npm install
2. Run npm audit

**Expected behavior**
No errors reported by npm audit

Let me know if further information is required

[2020-08-03 08:11] anikethsaha commented on #934
Please run nom audit fix as of now.

This package is coming from upstream for us. So we need to wait for their release and then we can update that.
But still the next release for cssnano will be after postcss@8 .
In the meantime you can use the cssnano nightly tay that is up to date with the `master`

[2020-08-03 10:57] evilebottnawi commented on #934
Fixed, please update your deps

[2020-08-03 10:57] #934 closed

[2020-08-05 14:38] monochromer opened #935 "How to disable optimization for overrides?"
I have this code:
[code]
I don't  want this optimization:
[code]

[2020-08-05 14:40] evilebottnawi commented on #935
It is in docs https://cssnano.co/guides/presets, just disable plugin

[2020-08-05 14:40] #935 closed

[2020-08-05 15:53] monochromer commented on #935
Which plugin?

[2020-08-05 15:58] anikethsaha commented on #935
https://github.com/cssnano/cssnano/tree/master/packages/postcss-discard-duplicates I suppose

[2020-08-05 16:35] monochromer commented on #935
Disabling `mergeLonghand` helped:
[code]

[2020-08-05 23:57] shirotech opened #936 "[Bug] : normalizeWhitespace preserve !important"
**Describe the bug**
When normalizeWhitespace is enabled, it seems to strip the whitespace before !important, which breaks certain styles.

e.g.

[code]

This doesn't work on Chrome for some reason. Is there a way to fix this? Thanks.

[2020-08-06 00:29] #936 closed

[2020-08-07 20:33] yaquawa commented on #111
Hi there, does this project dead?

[2020-08-07 21:54] yaquawa commented on #111
well then I found this , solved the problem.

https://github.com/hail2u/node-css-mqpacker

[2020-08-08 06:03] anikethsaha commented on #111
Hi, This project is not dead .

we are looking in the project you mentioned, if it works safely with cssnano, we can think it adding it in `advanced` preset,

Now now, you can always use postcss plugins in postcss config along with cssnano

[2020-08-08 14:38] clshortfuse commented on #111
There is a more universal approach, which is the implementation of merging of non-adjacent rules. https://github.com/jakubpawlowicz/clean-css does this.

I can take a crack at non-adjacent. `clean-css` doesn't handle some rules as well as `cssnano`, so it's nice to have options.

[2020-08-08 18:55] clshortfuse commented on #833
I'll bite. There is some maintainability issues with the code though. Not much of the code itself has documentation. I have had good success with eslint with `airbnb-base`, `jsdoc/recommended`, and `@typescript-eslint/recommended`. That doesn't require moving to Typescript. It just uses Typescript to ensure you're not calling the wrong functions on stuff.

I'm working on implementing support for n

[2020-08-10 12:23] evilebottnawi commented on #833
Pr welcome

[2020-08-12 21:03] mcobzarenco opened #938 "Release a new version"
Would it be possible to release a new version please?

The latest one is from 18 months ago and in particular we're struggling with the `dotprop` dependency, the version used by the latest released cssnano has a security advisory.
[code]

[2020-08-13 10:42] evilebottnawi commented on #938
Update you deps, problem was fixed a long time ago

[2020-08-13 10:42] #938 closed

[2020-08-14 07:49] anikethsaha opened #939 "Update eslint to v7.x.x"
Currently, we are using the old version ([5.16.0](https://github.com/cssnano/cssnano/blob/master/package.json#L41) - 2  major versions behind ). As our codebase is quite huge, I am noticing a very slow linting operation  ([`fixlint`](https://github.com/cssnano/cssnano/blob/master/package.json#L7)) lately, both in my local machine and in the cloud (`gitpod`).

I would prefer to update to the latest

[2020-08-14 11:05] evilebottnawi commented on #939
Let's do it :+1:

[2020-08-25 01:38] shumbo opened #942 "[Bug] : Docs links are broken"
**Describe the bug**

It seems that the entire documents are moved under `/docs`, but the links in the markdown files did not get updated. Hence if we click the links on a document, we see 404.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the page in the documents with a link (e.g. https://cssnano.co/docs/optimisations/#__docusaurus:~:text=autoprefixer, https://cssnano.co/docs/Intro

[2020-08-25 09:33] evilebottnawi commented on #942
/cc @anikethsaha

[2020-08-25 10:32] anikethsaha commented on #942
fixed in https://github.com/cssnano/cssnano/commit/4027ed7a7cc2f19887bd488b5db953ebab0d3458

[2020-08-25 10:32] #942 closed

[2020-08-25 12:38] bramjoosten commented on #938
unfortunately having the same issues as well.. are you sure this is fixed? We include only this package without cssnano
![Screenshot 2020-08-25 at 14 37 47](https://user-images.githubusercontent.com/7580825/91175178-ae539f00-e6e0-11ea-8219-23f59553d7f2.png)

[2020-08-26 16:44] shrpne commented on #645
@anikethsaha @evilebottnawi @TrySound @ai @andyjansson

Can it be reopened, please? I still experiencing this issue.

[2020-08-26 16:47] evilebottnawi commented on #645
What is the problem?

[2020-08-26 18:36] shrpne commented on #645
Topic starter described it well: https://github.com/cssnano/cssnano/issues/645#issue-372675004

This valid css
[code]
becomes invalid after cssnano compilation, because cssnano removes parenthesis around of `var()`

Test case: https://jsfiddle.net/z7bsn1r8/4/

[2020-08-27 10:14] anikethsaha commented on #645
I think this should be fixed while you are declaring the variable itself.

You can use **`--aspect-ratio: (16/9);`** instead. It will work fine.

[2020-08-27 10:36] shrpne commented on #645
Imagine, if such code `padding-top: calc(100% / (var(--aspect-ratio)));` is a part of css framework. Everyone from the internet can use it and they should not be aware of what css minifier is used under the hood. Css minifier should not enforce users to avoid valid css and stick with workarounds instead.

So can we reopen this issue, please?

[2020-08-27 10:39] anikethsaha commented on #645
IMO , yes

cc @evilebottnawi .

[2020-08-27 11:26] evilebottnawi commented on #645
Anyway we can't fix it here, it is bug from postcss-calc

[2020-09-01 11:16] evilebottnawi commented on #901
Fixed by https://github.com/postcss/postcss-calc/pull/114

[2020-09-01 11:16] #901 closed

[2020-09-01 11:53] felixfbecker opened #945 "[Feature Request] Include postcss-normalize-display-values"
**Is your feature request related to a problem? Please describe.**
In the latest spec (out for a while now) the `display` property values were split into two values, outside and inside. Imo this is a lot more intuitive than the previous variations with `inline-` prefix or without. Unfortunately, it is not supported yet by any browsers, but it is what is documented when you look up `display` on MDN

[2020-09-01 12:15] anikethsaha commented on #945
Thanks for the issue.

I am not sure whether I am getting the request or not. Can you please explain a bit more. Are you recommending to add `display-*` to the transformation list ?

[2020-09-01 12:18] felixfbecker commented on #945
Basically, `display: inline flex` should be transformed to `display: inline-flex` when using `postcss-env`.

[2020-09-01 12:32] anikethsaha commented on #945
Thanks,

Yeah make sense, but I think we should probably use browser list's env browsers and then do the transformation so that it doesnt break the old browsers versions and also the browser this doesn't support.

[2020-09-01 12:52] felixfbecker commented on #945
Definitely in favor of using browserlist, but no modern browser supports this yet, so this would _effectively_ run for every browser. It could transform to two statements too to get browsers to fall back.

The plugin I linked has a hardcoded transform mapping:

https://github.com/cssnano/cssnano/blob/1665e459ecea23e6167757ac8b2aba728eafb1bd/packages/postcss-normalize-display-values/src/lib/map.js#

[2020-09-01 14:06] anikethsaha commented on #945
If a browser doesnt supports it, it would not transform the property at all. We need to implement this. There are few other plugins in cssnano that does like this.

[2020-09-02 08:04] sobaw98247 opened #946 "[Bug] [Docs]: Optimisations - wrong link to `Presets`"
**Describe the bug**
`404` after clicking on link in docs.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://cssnano.co/docs/what-are-optimisations
2. Click on _presets guide_ in _You can read more about presets in our presets guide._
3. You are redirected to https://cssnano.co/presets with `404`

**Expected behavior**
Redirect to https://cssnano.co/docs/presets

**Screenshots**

[2020-09-02 08:08] anikethsaha commented on #946
Thanks for reporting.

PR welcome

[2020-09-02 16:34] RyanChristian4427 opened #948 "[Bug] : TypeError: (0 , _cosmiconfig.cosmiconfig) is not a function"
**Describe the bug**

I'm trying to use `cssnano@nightly` but I keep running up against the following:

[code]

**To Reproduce**

Currently trying to update [`optimize-css-assets-webpack-plugin`](https://github.com/NMFR/optimize-css-assets-webpack-plugin). My fork that reproduces this bug can be found [here](https://github.com/RyanChristian4427/optimize-css-assets-webpack-plugin).

1. Install depe

[2020-09-02 16:53] evilebottnawi commented on #948
Why you transpile `node_modules`? Anyway `optimize-css-assets-webpack-plugin` is bad solution with many bugs, also no caches and parallels, we have official plugin for wepback https://github.com/webpack-contrib/css-minimizer-webpack-plugin

[2020-09-02 17:01] RyanChristian4427 commented on #948
Sorry, do you mean to ask why the plugin transpiles? I don't think I have, as for the plugin, no clue. I know next to nothing about what it does, just trying to fix an error.

Thanks for the information though. It's not that I use it, but that the [Preact CLI](https://github.com/preactjs/preact-cli) does. Trying to close an old 1% opacity bug, figured I'd help `optimize-css-assets-webpack-plugin`'

[2020-09-02 17:07] evilebottnawi commented on #948
I will look at issue in near future

[2020-09-02 17:14] RyanChristian4427 commented on #948
Cheers. I'll provide a link to this in the Preact CLI so that people much more informed than I can see your thoughts on the matter.

[2020-09-03 15:36] cathrinevaage opened #949 "[Bug] : Lexical error with custom property inside min/max, inside min/max, inside calc"
**Describe the bug**
A lexical error is thrown when a custom property is insert into a min or max function, inside a min or max function, inside a calc function.
If any of the 4 components are removed or substituted, it works as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. Instruct cssnano to process the following css:
[code]

**Expected behavior**
It shouldn't throw errors as t

[2020-09-03 15:40] evilebottnawi commented on #949
Please report this issue to `postcss-calc` repo

[2020-09-03 15:55] evilebottnawi commented on #949
Close in favor https://github.com/postcss/postcss-calc/issues/117

[2020-09-03 15:55] #949 closed

[2020-09-03 23:01] vis97c commented on #805
If you are using PostCss the plugin [postcss-merge-selectors](https://github.com/georgeadamson/postcss-merge-selectors) does the job but has an issue with media queries. I don't know what would require to implement something better in cssnano.

[2020-09-06 07:03] anikethsaha commented on #946
fixed at https://github.com/cssnano/cssnano/commit/e2e14d6b46747816e0be0258bb656f5e614ba55e

[2020-09-06 07:03] #946 closed

[2020-09-06 07:15] anikethsaha commented on #948
I am not able to reproduce this issue.

Can you send a repo without the plugin you mentioned? Just an independent repro using cssnano nightly.
it would be great to have it as codesandbox as well.

[2020-09-06 11:55] evilebottnawi commented on #948
Can't reproduce too

[2020-09-06 13:00] RyanChristian4427 commented on #948
Sorry, but the whole issue is that the forked plugin, when upgraded to use `cssnano@nightly`, fails its test suite. There is no other repo I can really give? The issue is entirely in that plugin's test suit.

I'll try it again shortly to see if somehow the issue entirely went away.

[2020-09-06 13:25] evilebottnawi commented on #948
@RyanChristian4427 maybe you have invalid environment for tests

[2020-09-06 15:32] RyanChristian4427 commented on #948
Don't know then. All I have is that repo and the tests are absolutely still failing due to `cssnano` for me. Not anything related to the actual plugin, just `cssnano`.

[code]

[2020-09-06 15:49] evilebottnawi commented on #948
Please open an issue in repo plugin, sorry I can't help you

[2020-09-06 15:50] evilebottnawi commented on #948
Please migrate on https://github.com/webpack-contrib/css-minimizer-webpack-plugin, I will say again that the plugin is not designed correctly and does not support all webpack features

[2020-09-06 16:50] RyanChristian4427 commented on #948
For what it's worth, I was able to get a [codesandbox up here that reproduces](https://codesandbox.io/s/gallant-mountain-lzugk). Simply run `yarn test` in the terminal.

I find codesandbox to be incredibly uncomfortable to work with, and as such had to idea how to get es6 imports working, so the code is a bit different from the actual plugin. Still though, the error pops up. I hope that's good eno

[2020-09-07 07:18] anikethsaha commented on #948
Thanks for your time. I suppose it is an issue with the plugin's setup/environment.
the nightly version is working fine when used independently and with postcss config.

[2020-09-07 08:27] wintercounter commented on #805
+1 for @danielhaim1's problem, we're facing with the same issue. I was actually amazed when I saw this is not an existing feature.

[2020-09-07 18:02] markthomasmiller opened #950 "postcss-merge-longhand not modifying output in browser"
When run in the browser, postcss-merge-longhand doesn't transform the output. I'm trying this with the [sample string](https://www.npmjs.com/package/postcss-merge-longhand#example) from your documentation; my use case is very similar. If there's additional setup necessary to make this work in the browser, I'd be happy to contribute an update to the docs.

## Input

[code]

## Expected output

[cod

[2020-09-07 18:04] evilebottnawi commented on #950
You should not use cssnano plugins without `cssnano`, most of them will not work, also do not use `sync`, some plugins only works in `async` mode

[2020-09-07 18:05] evilebottnawi commented on #950
Also you need to setup `postcss-js` as parser for postcss and do not pass `content` to function, please read PostCSS docs how API works

[2020-09-07 19:00] markthomasmiller commented on #950
Ah, thank you @evilebottnawi!

[2020-09-07 19:00] #950 closed

[2020-09-08 03:03] vis97c commented on #805
I just made a pull request in that repo solving the mentioned issue. Hopefully it will get accepted

[2020-09-08 17:42] RyanChristian4427 commented on #948
Alright, well figure I may as well close this. If it's just an issue with how another library uses this one, then there's nothing for you to fix, and an alternative has been presented. Thank you two for your help.

[2020-09-08 17:44] evilebottnawi commented on #948
@RyanChristian4427 Still in my TODO, let's keep open, I will give you advises why it is broken

[2020-09-08 18:19] evilebottnawi commented on #948
@RyanChristian4427 Very strange, in our source code we have
[code]

But in `cssnano@4.0.0-nightly.2020.9.1` we have:
[code]

@anikethsaha Looks we have bugs, do you run something (maybe babel) on `cssnano-nightly`?

[2020-09-08 18:23] evilebottnawi commented on #948
hm, after run `yarn` in `cssnano` repo I got same problem, very weird :confused:

[2020-09-08 18:24] anikethsaha commented on #948
We didn't have any changes related to cosmic afer 20 Jul
https://github.com/cssnano/cssnano/pull/924

[2020-09-08 18:25] anikethsaha commented on #948
This is really weird, I am not seeing this.
I will try cleaning the node_modules and check

[2020-09-08 18:27] evilebottnawi commented on #948
@anikethsaha hm, I think here other problem, give a sec

[2020-09-08 18:34] evilebottnawi commented on #948
@anikethsaha
[code]

Go to `node_modules/cssnano/package.json`

[code]

But in master we have https://github.com/cssnano/cssnano/blob/master/packages/cssnano/package.json#L28

[2020-09-08 18:36] anikethsaha commented on #948
https://github.com/cssnano/cssnano-nightly/blob/master/dependenciesList.js#L5
We need to update this one

[2020-09-08 18:38] evilebottnawi commented on #948
@anikethsaha we should not have hardcored deps, this array should be:
[code]

so change only necessary deps and keep as it others

[2020-09-08 18:45] anikethsaha commented on #948
We are using `edit-json-file` for changing the `package.json` and so I need to look whether we can do assign operation for the object instead of Overriding it.
I will look into this as soon as possible.

[2020-09-08 19:13] evilebottnawi commented on #948
@RyanChristian4427 https://github.com/cssnano/cssnano-nightly/pull/3/

[2020-09-15 20:28] ylemkimon opened #952 "[Feature Request] Support new PostCSS 8 API"
**Is your feature request related to a problem? Please describe.**
PostCSS 8 [has been released](https://github.com/postcss/postcss/releases/tag/8.0.0) and it has [new API](https://evilmartians.com/chronicles/postcss-8-plugin-migration).

**Describe the solution you'd like**
Migrate to new PostCSS 8 API.

**Describe alternatives you've considered / Additional context**
Legacy API is still supporte

[2020-09-16 05:07] anikethsaha commented on #952
We are working on it.

[2020-09-17 06:56] dmuy opened #953 "Remove ALL comments using the postcss-cli"
Hi,

I'm using `postcss-cli` and `cssnano` to minify css. Is there an option to remove all comments including the ones with `/*!`?

I found [this issue](https://github.com/cssnano/cssnano/issues/314) but you said it's possible using the archived `cssnano-cli` - which I don't want to use.

[2020-09-17 10:46] evilebottnawi commented on #953
Please ask this in `postcss-cli`, we don't support this package

[2020-09-17 10:46] #953 closed

[2020-09-17 14:26] dmuy commented on #953
Uh... as far as I've researched, `postcss-cli` doesn't have any option to remove comments in the css file, but the `cssnano` has. I'm asking how to use the options of `cssnano` in the npm scripts.

I'm not sure if you misunderstood my concern.

[2020-09-17 15:09] dmuy commented on #953
I see, thanks.

[2020-09-21 11:00] devrsi0n opened #955 "[Bug] : Translate color string to lower case in border unexpectedly"
**Describe the bug**
`cssnano` translate a color string to lower case in border when using it with [fluentui](https://github.com/microsoft/fluentui).

**To Reproduce**
Steps to reproduce the behavior:

1. Open <https://cssnano.co/playground/#eyJpbnB1dCI6Ii8qIHdyaXRlIHlvdXIgY3NzIGJlbG93ICovXG4udGVzdCB7XG4gIGJvcmRlcjogc29saWQgMnB4O1xuICBib3JkZXItY29sb3I6ICdbdGhlbWU6bmV0cmFsVGVyaWFyeSwgZGVmYXVsdDogI2

[2020-09-22 05:52] anikethsaha commented on #955
Thanks for the bug

css values are case-insensitive I suppose so it wont be an issue.

I am not getting what is `'[theme:netralTeriary, default: #a19f9d]'` ? this is not in the spec. are you using any preprocessor ?

[2020-09-22 13:40] devrsi0n commented on #955
@anikethsaha Thanks for the response, I know `'[theme:netralTeriary, default: #a19f9d]'` isn't in the spec, it's a theme statement/syntax implemented by [fluentui](https://github.com/microsoft/fluentui). Can I create a PR to skip lower case when there is a string in the value?

[2020-09-22 13:50] evilebottnawi commented on #955
@devrsi0n do, we parse only valid CSS syntax, you should use postcss process to create real AST from this

[2020-09-23 01:52] devrsi0n commented on #955
Thanks @evilebottnawi, I'll disable the related `cssnano` plugins (`postcss-merge-longhand` in this scenario) since this theme string isn't a standard value and we can't create an AST from it IMO.

[2020-09-23 01:52] #955 closed

[2020-09-23 06:35] felixfbecker commented on #642
`:focus-visible` is now on the list (so rules using it will be merged), but not supported by any browsers other than Firefox, meaning CSSNano currently breaks Chrome when e.g. using a `focus-visible` polyfill that creates duplicate rules for `:focus-visible` and a polyfilled `.focus-visible` class. Is there a way to instruct CSSNano to not consider `:focus-visible` "supported"?

[2020-09-23 06:47] anikethsaha commented on #642
are you using the nightly ?

cause this has been fixed in https://github.com/cssnano/cssnano/pull/882 but not released yet.

[2020-09-23 06:50] anikethsaha commented on #642
no it wont (in the master). ref this https://github.com/cssnano/cssnano/blob/a4b38cbfaf/packages/postcss-merge-rules/src/__tests__/index.js#L790

[2020-09-23 06:53] felixfbecker commented on #642
Ah, I was confused, I understand the issue now (before all unknown selectors were merged, and `:focus-visible` was unknown, but now both unknown selectors are no longer merged and `:focus-visible` is known now, but will still not be merged depending on CanIUse/browserslist data). Thanks.
Is there an ETA for the release?

[2020-09-23 06:55] anikethsaha commented on #642
once https://github.com/cssnano/cssnano/pull/954 is done.

In the meantime use [`cssnano@nightly`](https://github.com/cssnano/cssnano-nightly). that is up to date with the master and pretty stable.

[2020-09-28 12:49] hetgelaat commented on #675
Not sure if this is related, but I noticed that this:
`border: solid 2px var(--buttonBorderColor, var(--buttonBaseColor, #000));`
Turns into
`border: 2px solid var(--buttonbordercolor,var(--buttonBaseColor,#000));`
Notice the missing camelCasing in the generated outcome.

[2020-09-28 13:02] megapctr commented on #675
nuxt users can add this to `nuxt.config.js` until the issue is resolved
[code]

[2020-10-02 03:35] yisibl commented on #846
As a developer tool, cssnano should not guess or require developers to use a certain way of writing CSS.

We should fix this bug fundamentally.

[2020-10-02 03:40] yisibl commented on #846
In other words, CSS code that does not use @supports works in the browser, and it should still work after being compressed by cssnano.

[2020-10-04 17:33] mischnic opened #957 "[Bug] : Percent value is converted to a different value"
**Describe the bug**
`70%` is minified into `1%`

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://cssnano.co/playground/
2. Insert `body {	opacity: 70%; }` on the left
3. "Run"
4. See incorrect result

**Input**
[code]

**Current behaviour**
[code]

**Expected behavior**
[code]

**Desktop (please complete the following information):**
- cssnano: 4.1.10
- cssnano-preset-default:

[2020-10-04 17:55] anikethsaha commented on #957
Thanks for the issue

This has been fixed in master.
It will be released soon.
Till then use `cssnano@nightly`

[2020-10-05 15:14] cathrinevaage commented on #904
Is this for the `colormin` plugin only, or will it be applicable for every plugin?
I took a peak at the default preset in master, and I can't see anything that implies there is an `exclude` option, which would make sense if it was only for `colormin`.

[2020-10-06 17:16] blephy commented on #909
I'm also running on a similar issue with webpack / css module :

When using css module features, and using @keyframes, some keyframes name produce an invalid hash in the related css animation name.

[code]

is producing this :

[code]

Note the `animation:NaNjtcXwnmOr8f36q3l-8W`. Should be `animation:e5jtcXwnmOr8f36q3l-8W`.

- When i do not use `css-minimizer-webpack-plugin`, the bug disapear. Whi

[2020-10-19 06:31] fa93hws opened #958 "[Bug] : animation referencing name starts with e + number is minized to NaN"
**Describe the bug**
[code]

leads to
`.e4yw0Q{animation:NaNyw0Q}`
(It should not be `NaN`)

**To Reproduce**
https://cssnano.co/playground/#eyJpbnB1dCI6Ii5lNHl3MFEge1xuICAgIGFuaW1hdGlvbjogZTR5dzBRO1xufVxuXG5Aa2V5ZnJhbWVzIGU0eXcwUSB7fVxuXG4iLCJjb25maWciOiIvLyBjc3NuYW5vIGNvbmZpZ1xue1xuICBcInByZXNldFwiIDogXCJkZWZhdWx0XCJcbn1cbiJ9

**Expected behavior**
It should be `.e4yw0Q{animation:e4yw0Q}`

[2020-10-20 15:42] anikethsaha commented on #939
https://github.com/cssnano/cssnano/pull/959

[2020-10-20 15:42] #939 closed

[2020-10-20 20:43] dangreen commented on #932
@evilebottnawi Hi. postcss@8 already released. When cssnano with fix will released?

[2020-10-21 11:03] evilebottnawi commented on #932
@dangreen when I will have time to port cssnano on PostCSS 8

[2020-10-21 11:08] dangreen commented on #932
@evilebottnawi Ok 👍

Another question: Is it cssnano@nighly stable enough to use in production?

[2020-10-21 11:21] evilebottnawi commented on #932
And Yes and No, `nighly` can never be stable, but it is stable :smile:

[2020-10-23 07:26] anikethsaha commented on #958
Thanks for the issue

Duplicate https://github.com/cssnano/cssnano/issues/909

[2020-10-26 11:42] lu-yuan opened #960 "UnhandledPromiseRejectionWarning: TypeError: css.walk is not a function"
E:\2020\front-end>yarn run build:css
yarn run v1.9.4
$ postcss css/tailwind.css -o src/theme/tailwind.css
(node:4452) UnhandledPromiseRejectionWarning: TypeError: css.walk is not a function
    at css (E:\2020\front-end\node_modules\postcss-discard-comments\dist\index.js:67:13)
    at initializePlugin (E:\2020\front-end\node_modules\cssnano\dist\index.js:31:51)
(node:4452) UnhandledPromiseRejectio

[2020-10-26 11:44] evilebottnawi commented on #960
Don't know, please use the issue template, hard to debug this

[2020-10-26 13:22] lu-yuan commented on #960
Thank you.

[2020-10-26 14:12] evilebottnawi commented on #960
What is `postcss` version?

[2020-10-29 03:44] alexreardon commented on #675
I am not sure if this is related: https://github.com/parcel-bundler/parcel/issues/5290 but it looks to be a similar issue

[code]

[2020-11-06 01:41] jjwwiodyne opened #962 "[Bug] : opacity percentages remove zeroes"
**Describe the bug**
`100%` is transformed to `1%` for `opacity` properties:

[code]

Becomes:

`@-webkit-keyframes fade{0%{opacity:1%}40%{opacity:0}60%{opacity:0}to{opacity:1%}}`

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the cssnano playground: https://cssnano.co/playground
2. Add the CSS above.
3. Click Run.

**Expected behavior**
Expected:
`@-webkit-keyframes fade{0%{opacity:

[2020-11-07 15:37] micahlt opened #963 "[Bug] : Minification breaks the aspect-ratio property"
**Describe the bug**
When run through cssnano, values for the `aspect-ratio` CSS property (such as `4 / 3`) are automatically converted into decimals (`1.3333333`).  This fully breaks `aspect-ratio` in all major browsers.

**To Reproduce**
Steps to reproduce the behavior:

1. Use the `aspect-ratio` property
2. Run the stylesheet through cssnano
3. Open the result in a browser
4. See error

**Expec

[2020-11-10 06:43] zzzzzc opened #964 "[Bug] : set 'cssnano perset' make VANT animate doesn't work."
Vant is a UI library.
import vant css by plugins
[code]
set preset in postcss.config.js
[code]
<van-loading type="spinner" />
doesn't has animation effect.

comment preset code can make it work, and import vant css stylesheet into index.html can fix it too.
i wonder why this perset could stop 'vant animate'.

[2020-11-10 06:44] zzzzzc commented on #964
The styles of other Vant components are not affected.

[2020-11-10 06:45] zzzzzc commented on #964
eg:
   <van-loading type="spinner" />
doesn't has animation effect.

[2020-11-10 06:46] zzzzzc commented on #964
`<van-loading type="spinner" />`

[2020-11-11 14:56] evilebottnawi commented on #964
Sorry, I don't understand how cssnano related tot his, we compress only CSS files

[2020-11-11 14:56] #964 closed

[2020-11-11 14:57] evilebottnawi commented on #960
Closing due to inactivity. We don't support PostCSS 8 right now

[2020-11-11 14:57] #960 closed

[2020-11-16 23:19] raphaelthanner opened #965 "[Bug] : Wrong shorten border declaration with custom properties"
Source:

[code]

Output:

[code]

[2020-11-16 23:22] raphaelthanner commented on #965
Duplicated to #675

[2020-11-16 23:22] #965 closed

[2020-11-24 15:37] neox5 commented on #751
for everyone looking for an answer in 2020:
[code]

[2020-11-24 15:37] neox5 commented on #567
for everyone looking for an answer in 2020:
[code]

[2020-11-25 14:37] MathGeniusJodie opened #966 "[Feature Request] minify custom properties"
any plans to have a feature for mangling custom property names?

[2020-11-25 14:44] evilebottnawi commented on #966
No, it is unsafe, custom properties is hoist on the top, you can declare `:host { --foo: 10px }` in the one CSS file and use it in the other

[2020-11-25 14:45] evilebottnawi commented on #966
You even use it in JS

[2020-11-25 14:50] MathGeniusJodie commented on #966
it could still be an optional feature

[2020-11-25 14:52] evilebottnawi commented on #966
It was very dangerous optional feature, so we don't have plans, feel free to send a PR

[2020-11-25 14:57] MathGeniusJodie commented on #966
found a workaround maybe
https://www.npmjs.com/package/postcss-custom-properties-transformer

[2020-11-28 06:52] anikethsaha commented on #966
Closing this as this is not a safe minification.

[2020-11-28 06:52] #966 closed

[2020-12-01 06:46] lyz810 opened #967 "[Bug] : postcss-merge-longhand package remove useful hack code"
**Describe the bug**
safe-area hack code removed unexpectly
**To Reproduce**
[code]

**Expected behavior**
[code]
OR
[code]
OR
[code]
**Screenshots**
![image](https://user-images.githubusercontent.com/6788391/100706085-54e7c400-33e3-11eb-9a5e-f6ab5ceb3278.png)

**Desktop (please complete the following information):**
- CSSNANO Version 4.1.10
- Plugins/presets versions postcss-merge-longhand@4.0.11

[2020-12-02 03:23] fishintaiwan commented on #650
Currently working around this by using a very small decimal value for the first color stop.

[code]

[2020-12-04 12:49] anikethsaha commented on #962
sorry for the delay
Can you try this with `cssnano@nightly` if the issue still exists ?

[2020-12-04 13:07] anikethsaha commented on #963
Thanks for the issue.

Can you please share the link from cssnano playground with your code block

[This is working file](https://cssnano.co/playground/#eyJpbnB1dCI6IkBtZWRpYSAobWF4LWFzcGVjdC1yYXRpbzogNC8zKSB7XHJcbiAgZGl2IHtcclxuICAgIGJhY2tncm91bmQ6ICM5ZmY7ICAvKiBjeWFuICovXHJcbiAgfVxyXG59XHJcblxyXG4uZWwge1xyXG4gIGFzcGVjdC1yYXRpbzogMTYgLyA5O1xyXG59XHJcbi5lbGwge1xyXG4gIGFzcGVjdC1yYXRpbzogNCAvIDM7XHJ

[2020-12-04 13:12] anikethsaha commented on #967
Thanks for the issue

Working as expected.  It will take the last `padding-bottom` prop in the output

Let me know if I am missing something

[2020-12-06 06:54] lyz810 commented on #967
@anikethsaha In this case, I want to use css fallback to make different browsers to use the rule which they can understand.
So, is there a way to disable this rule temporarily? I don't want to disable postcss-merge-longhand for all css rules.
[code]
For example, `env(safe-area-inset-bottom)` in old browser will be considered as a wrong value, and will use the rule `padding-bottom: 10px`, this is n

[2020-12-08 01:44] demonguyj opened #968 "[Bug] : mergeRules something problem."
cssnano ver 4.1.10

-input css
#login {
	&.joinComplete {
		& .btn_wrap {
           width: 100%;

			& button {
				width: 100%;
				height: 50px;
			}
		}
	}
}

- output
#login{&.joinComplete{& .btn_wrap{& button{height:50px}}}}

- problem
Where is width?????

Check please.

[2020-12-08 05:24] ckken commented on #751
Comments are not automatically removed

[2020-12-08 06:49] anikethsaha commented on #968
the input is not a valid css. Please share your postcss config if you are using any other parser or plugins

[2020-12-08 07:00] demonguyj commented on #968
Okay I share my settings.

- my postcss config
"postcss-nested": {},
		autoprefixer: {
			grid: `autoplace`,
		},
		cssnano:
			(api.mode !== `none`) ? {
				preset: [`default`, {
					mergeLonghand: false,
					// mergeRules: false,
					normalizeWhitespace: (api.mode === `production`),
				}],
			} : false,

When I disabled mergeRules,

width is visible.

But mergeRules: true,

width is hide.

I

[2020-12-09 07:56] anikethsaha commented on #968
Please share the output with only nested function plugin

[2020-12-09 08:02] demonguyj commented on #968
postcss-nested only output is

#login.joinComplete .btn_wrap {
			width: 100%;
		}
		#login.joinComplete .btn_wrap button {
				width: 100%;
				height: 50px;
			}

this one.

Check please :)

[2020-12-09 09:11] anikethsaha commented on #968
It is working as expected.

[demo](https://cssnano.co/playground#eyJpbnB1dCI6IiNsb2dpbi5qb2luQ29tcGxldGUgLmJ0bl93cmFwIHtcclxuICB3aWR0aDogMTAwJTtcclxufVxyXG4jbG9naW4uam9pbkNvbXBsZXRlIC5idG5fd3JhcCBidXR0b24ge1xyXG4gIHdpZHRoOiAxMDAlO1xyXG4gIGhlaWdodDogNTBweDtcclxufVxyXG4iLCJjb25maWciOiIvLyBjc3NuYW5vIGNvbmZpZ1xue1xuICBcInByZXNldFwiIDogWyBcImRlZmF1bHRcIiAsIHtcbiAgICBcIm1lcmdlTG9uZ2hhbmRcIjogZmFsc2VcbiA

[2020-12-09 09:19] anikethsaha commented on #967
I think we don't have support for checking the browser compatibility in this plugin as of now.

I guess we can accept a PR to add support.

cc @alexander-akait

[2020-12-15 20:29] quddoss opened #973 "[Bug] : mergeRules something not working correctly."
**Describe the bug**
Then a try to compile this code:
https://prnt.sc/w3g7hk

after compilation I get this:
https://prnt.sc/w3g8xs

if i remove cssnano from plugins I get this:
https://prnt.sc/w3gcc5

**Question 1**
Where is my `.document__layer` with `display: flex` and where is `display: flex;`  from `.document__layer__color` ( compile result is in screen 2 )

**Question 2**
If I remove `&__laye

[2020-12-15 20:37] QuDDoSS commented on #973
My postcss.config.js

https://prnt.sc/w3gp1x

[2020-12-17 15:51] anikethsaha commented on #973
Please share the output of the final css without using the cssnano in your postcss config.

[2020-12-17 16:07] QuDDoSS commented on #973
Look at screen 3

[2020-12-17 16:19] QuDDoSS commented on #973
`.body {
  -webkit-animation: none;
  display: flex;
  border: 0;
  color: #C55;
  animation: none;
}

.document {
  display: inline-flex;
}

.document__layer {
  display: flex;
}

.document__layer__color {
  -webkit-animation: none;
  display: flex;
  border: 0;
  color: #C55;
  animation: none;
}`

[2020-12-21 15:46] edokeh opened #974 "[Bug] : merge rules bug when use @supports"
**Describe the bug**

cssnano not working correctly  when use @supports

**To Reproduce**

origin css

[code]

**Wrong output with cssnano**

[code]

[2020-12-26 03:34] laozei6401 commented on #805
I think @danielhaim1  is right

[2020-12-29 16:14] 43081j opened #976 "[Bug] : cssnano-preset-lite cannot be consumed by commonjs"
If you install `cssnano-preset-lite` and have a config like this (`postcss.config.js`):

[code]

it results in this:

[code]

and yet `cssnano: {preset: 'default'}` works just fine...

looks like you shipped an ES module but postcss doesn't use ESM, so it can't be consumed.

[2020-12-29 16:30] alexander-akait commented on #976
How you run cssnano?

[2020-12-29 16:31] alexander-akait commented on #976
What is version are you used?

[2020-12-29 16:39] 43081j commented on #976
it was a brand new repo i made today, so:

[code]

i use postcss cli:

[code]

the default preset works fine, but lite does not.

for now, i used the plugins directly (which the lite preset wraps), rather than using cssnano at all

[2020-12-30 06:29] anikethsaha commented on #976
Looks like a bug. But  not sure why.  our playground is working fine with lite preset. But I can reproduce this [demo](https://codesandbox.io/s/cssnano-issue-976-repro-bg5dc)

[2020-12-30 09:16] janwillemvancappellen commented on #247
To only target the keyframes:

`reduceIdents: { keyframes: false}`

[2020-12-30 11:32] 43081j commented on #976
it looks like cssnano-utils is only used by cssnano-preset-lite, but _not_ cssnano-preset-default.

cssnano-utils is published as an ES module, whereas the presets are published as commonjs modules.

[2020-12-30 11:38] 43081j commented on #976
aha, got some progress:

* cssnano-utils 1.0 is ESM
* cssnano-utils 4.x is CJS

`npm i cssnano-utils` pulls in the CJS one (4.x).
`npm i cssnano-preset-lite` pulls in the ESM one (1.x).

so i suppose the build process in `master` is already correct but whatever it used to be was wrong (when 1.0 was published)

[2021-01-02 07:22] anikethsaha commented on #976
I guess we need to do patch release for both.

[2021-01-03 13:32] alexander-akait commented on #976
@anikethsaha Can you do release?

[2021-01-03 14:01] aniketh-deepsource commented on #976
I will try to do it by next weekend

[2021-01-03 14:15] anikethsaha commented on #976
I will try by next weekend

[2021-01-07 06:35] CarterLi commented on #914
Encountered this issue. When will the next release be actually released?

[2021-01-08 08:45] henricook opened #979 "[Feature Request] When is the next release?"
Hi cssnano team,

We recently spent quite some time trying to figure out why an `opacity: 50%` wasn't working on a remote deployment but was working locally, the answer was remotely we have a build process that uses css nano and the opacity was getting converted to 1% because of a bug

I noticed this is fixed in a merged MR but there's not been a release since 2019 - would you be able to release s

[2021-01-08 13:20] 252675163 commented on #846
After removed ```postcss-merge-longhand``` plugin , there was no such problem

[2021-01-08 13:54] 252675163 commented on #846
add this config in your package.json
[code]

[2021-01-09 08:17] anikethsaha commented on #976
Fixed https://github.com/cssnano/cssnano/commit/5716f2a892178c0c816e93440dea7b79ee1bba1e

try installing `cssnano-preset-lite@1.0.1`

See [sandbox](https://codesandbox.io/s/cssnano-issue-976-repro-bg5dc?file=/output.css)

[2021-01-09 08:17] #976 closed

[2021-01-11 12:47] alexander-akait commented on #979
@ludofischer @anikethsaha Should we do something for our playground, we migrate on PostCSS 8 so I think we can do release

[2021-01-11 13:27] anikethsaha commented on #979
yea, dependencies update and changes in this filehttps://github.com/cssnano/cssnano/blob/master/site/src/components/editor/postcss_runner.js
not much it should be similar to the one done in cssnano's core runner

[2021-01-13 19:29] sKopheK opened #984 "[Bug] : grid-name e1 -> NaN"
**Describe the bug**
Hi, rather a funny bug that can be easily workarounded, but worth to fix.

**To Reproduce**
Steps to reproduce the behavior:

[code]

https://cssnano.co/playground/#eyJpbnB1dCI6ImRpdlxyXG57XHJcbiAgICBncmlkLWFyZWE6IGUxO1xyXG59IiwiY29uZmlnIjoiLy8gY3NzbmFubyBjb25maWdcbntcbiAgXCJwcmVzZXRcIiA6IFwiZGVmYXVsdFwiLFxufVxuIn0=

**Expected behavior**
`grid-area: e1` is not converted to nu

[2021-01-24 00:41] bdoodo commented on #962
@anikethsaha Is there a way to set up cssnano@nightly on a parcel configuration? Using your minifier with Parcel.

[2021-01-24 05:59] anikethsaha commented on #962
Not really familiar with parcel's config. But you would use nightly same as you use cssnano.

[2021-01-24 22:13] emilas44 opened #986 "[Bug] :"
**Describe the bug**
Not working with
node 14, 15
npm 6.14.11, 7.4

Throws an error:
[code]

**To Reproduce**
Steps to reproduce the behavior:

0. prerequisite => have node and npm versions from obove ^
1. git clone this repo => https://github.com/thecodercoder/gulp-browsersync
2. cd into project
3. npm install
4. npm install gulp-cli -g (globally install gulp-cli to be able to run gulp)
5. run gu

[2021-01-25 06:24] anikethsaha commented on #986
not related to cssnano

[2021-01-25 06:24] #986 closed

[2021-01-28 06:25] zouhangwithsweet commented on #967
How did you solve this problem？

[2021-01-28 10:29] lyz810 commented on #967
disabled this rule of `optimize-css-assets-webpack-plugin`

[code]

[2021-01-28 14:49] Shoplifter opened #987 "[Bug] : Unknown error using cssnano with postcss"
when running following command (cli), `postcss web/src/*.css -u cssnano -d web/min --no-map `I get this errror:
[code]
I've been using this script for a long time, this happended only after the latest updates.

https://github.com/postcss/postcss/issues/1521

[2021-01-28 14:52] alexander-akait commented on #987
There is not unknow errors, read the text, cssnano is not supported PostCSS v8 yet, but it is in master

[2021-01-28 14:52] #987 closed

[2021-01-29 04:50] heyymarco opened #988 "[Bug] : unable to compile valid calc expression"
**Describe the bug**
css nano cannot compile a valid calc expression like this:
.btn {
    --test: calc(
        1
        * clamp(
            1 ,
            ((1 * 1) * 1)
            , 1
        )
    );
}

**To Reproduce**
1. create blank folder + npm init
2. npm i postcss postcss-cli cssnano
3. create a test.css file, then filled with this code:
.btn {
    --test: calc(
        1
        * cl

[2021-01-30 14:56] dagda1 opened #989 "[Bug] :"
Installing the latest version of `cssnano` does not contain latest code that stops users ability to upgrade to postcss version 8.

**To Reproduce**
Steps to reproduce the behavior:

[code]
**Expected behavior**
I would expect to see [this code](https://github.com/cssnano/cssnano/blob/master/packages/postcss-discard-overridden/src/index.js).

Instead, I see the code that is not compatible with post

[2021-01-30 15:01] anikethsaha commented on #989
use `cssnano@nigghtly` till we are releasing the new version

[2021-01-30 15:01] alexander-akait commented on #989
cssnano supported PostCSS v8 only in master, release will be soon, right now you need to use postcss v7

[2021-01-30 15:02] dagda1 commented on #989
@alexander-akait thank you for the ultra fast reply!

[2021-01-30 15:02] #989 closed

[2021-02-01 20:39] alexbrault commented on #962
Bug title is slightly misleading; the code doesn't remove zeroes, it's just overly eager to clamp the opacity between 0 and 1 and doesn't take into account percentages. Since most non-zero percentages will be over 1, the clampOpacity function clamps it to 1, then adds back the percentage

[2021-02-03 05:23] benmccann commented on #952
It looks like this may be done now: https://github.com/cssnano/cssnano/pull/975. It's not yet released however

[2021-02-05 11:07] danieltroger opened #990 "[Bug] : cssnano gets incredibly confused when trying to deduplicate media queries"
**Describe the bug**
A clear and concise description of what the bug is.

When there are two identical media queries, with two identical selectors and two identical rules only the last one should be used. cssnano merges the two rules but still leaves two conflicting statements in the same block.

When using :not() and :nth-child it gets even worse, whether or not cssnano deduplicates duplicate rul

[2021-02-05 11:07] danieltroger opened #991 "[Bug] : your playground crashes when clicking "run" on invalid css"
To reproduce:
1. go to https://cssnano.co/playground/
2. enter:
[code]
3. click "run"

Expected behaviour: editor does not turn white and need a page reload

![Screen Shot 2021-02-05 at 11 56 20](https://user-images.githubusercontent.com/4047180/107025116-3ddd9d80-67a9-11eb-8187-20aa7b7fcc2f.jpg)

[2021-02-05 11:14] anikethsaha commented on #991
Feel free to submit a fix

[2021-02-05 11:14] danieltroger commented on #990
Input:
[code]

output:
[code]

expected output:
[code]

output after two passes (copy pasting output and putting into input again):
[code]

[2021-02-05 11:18] anikethsaha commented on #990
Can you try using `cssnano@nightly` once and check if its same or not

[2021-02-05 11:18] danieltroger commented on #990
input:
[code]

output:
[code]

input with changed order of rules:
[code]

output:
[code]

output after two passes (copy pasting output into input and pressing run again)
[code]

notice that this is very close to the expected output already

[2021-02-05 11:19] danieltroger commented on #990
I'll try.

[2021-02-05 11:21] danieltroger commented on #990
@anikethsaha how can I execute cssnano without messing with parcel's dependencies? `npx cssnano` doesn't work

[2021-02-05 11:25] danieltroger commented on #990
@anikethsaha I think I managed to update the one parcel uses:

[code]

the output is still the same :(

[2021-02-06 00:25] nex3 opened #992 "Remove postcss-svgo from the default preset"
The svgo package which postcss-svgo uses has a large number of outstanding bugs, a number of which I've personally seen result in changes to the rendering of SVGs embedded in CSS files. In addition, the project seems to have been abandoned, with 59 open pull requests and no commits since December 2019. In light of this, I believe it is no longer on track to meet the default preset's goal of never

[2021-02-06 11:40] alexander-akait commented on #992
Yep, I agree, sometimes I think we need to switch on https://github.com/cssnano/cssnano/tree/master/packages/cssnano-preset-lite by default, it is faster and it is safe (only spaces, comments and empty rules)

[2021-02-06 12:24] nex3 commented on #864
I'm seeing similar issues with the following CSS:

[code]

This is producing:

[code]

Note that there are actually two bugs with this output:

1. `border: 0 inherit` is invalid (as @t0f3rchr15 mentioned).
2. `border-width: inherit` isn't deleted, despite being overridden in the original CSS by `border-width: 0`, and in fact would override the 0 width even if bug 1 was fixed.

[2021-02-07 00:52] nex3 commented on #992
I get a lot of value out of having a broader set of defaults that encompasses everything that's believed to do safe optimizations independent of semantics, but as long as that's also available as a preset I'd be happy.

[2021-02-08 14:24] ben-eb opened #994 "Intent to delete archived repositories"
Hello 👋

It's been a while since I archived a lot of the old repositories since we switched over to the monorepo. I'd quite like to clean up my account seeing as a lot of these are duplicated here and the others have long been deprecated. If it's alright with you I'll delete these repositories on the 7th of March:

* https://github.com/ben-eb/postcss-minify-trbl
* https://github.com/ben-eb/postcss

[2021-02-08 14:30] alexander-akait commented on #994
Yep, I think you can remove them without problems

[2021-02-11 21:23] marcelkorpel opened #995 "[Bug] : Malformed rendering of font property"
**Describe the bug**
The input
[code]
is incorrectly transformed into
[code]
This leads to 'Invalid property value'.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [this test](https://cssnano.co/playground/#eyJpbnB1dCI6Ii8qIHdyaXRlIHlvdXIgY3NzIGJlbG93ICovXG5odG1sIHtcbiAgICBmb250OiAxMHB0IDQ1MCBcIklNUCBQbGFcIjtcbn1cbiIsImNvbmZpZyI6Ii8vIGNzc25hbm8gY29uZmlnXG57XG4gIFwicHJlc2V0XCIgOiBcImR

[2021-02-12 18:00] illogic-al commented on #984
I can confirm that this is an issue. I assume the 'e' in 'e1' is being interpreted as a exponent because not just any single character combined with a number breaks the minifier.

[2021-02-13 16:45] ludofischer commented on #979
I've managed to go as far as publishing a 5.0.0-alpha.0 GitHub  release https://github.com/cssnano/cssnano/releases and generated a changelog on this branch https://github.com/cssnano/cssnano/tree/5.x.x. But I definitely lack the permissions to publish on npm.

[2021-02-13 16:48] anikethsaha commented on #979
great.
here is my twitter handle https://twitter.com/__ANIX__, ping me there I will give permission for `cssnano-bot`. and then you can do the release using lerna
Also, I am submitting a PR to delete deprecated packages. we need to include that before release

[2021-02-13 16:53] anikethsaha commented on #979
@ludofischer ⬆️

[2021-02-13 17:19] ludofischer commented on #979
Are you also going to update the website or do you prefer I submit a pull request for that?

[2021-02-14 05:23] anikethsaha commented on #979
I guess we can update the website after release. Its just updating the dep version and then running the `deploy` script

[2021-02-19 11:46] dimti commented on #675
Example with `border-width` in webpack with css-minimizer-webpuck-plugin

  Me closed issue with has not relate with minimizer plugin https://github.com/webpack-contrib/css-minimizer-webpack-plugin/issues/59 and maintainer tell me for go me to cssnano issues.

- Operating System: Linux 5.10
- Node Version: v10.23.2
- NPM Version: 6.14.11
- webpack Version: 5.23.0
- css-minimizer-webpack-plugin Ver

[2021-02-19 17:07] ludofischer commented on #979
My idea would be
1. publish a release candidate
2. update the website and the playgound to use the release candidate
3. publish final if nothing breaks

How should we handle the repository branches? We can't change master without a review, so I was thinking of updating the `package.json` version in a separate branch, then opening a pull request to merge it to master. Also I think we can skip the c

[2021-02-19 19:43] ludofischer commented on #979
The next release candidate (cssnano 5.0.0-rc.0) is availabe on npm on the next branch.

[2021-02-19 21:31] nex3 opened #999 "[Bug] : postcss-merge-rules should only merge well-known and well-supported selectors"
If a style rule has a single selector that the browser doesn't understand, the entire style rule is ignored (in my opinion, this is the worst behavior in CSS, but that's neither here nor there). This means that any time `postcss-merge-rules` combines two rules, there's a risk that one of those rules isn't understood and this causes *both* rules to be ignored, changing the behavior of the CSS.

For

[2021-02-23 03:07] yisibl commented on #992
I am happy to tell you that svgo has [found a new maintainer](https://github.com/svg/svgo/issues/1320#issuecomment-778660127)(@TrySound ), and we have [re-established security as the core idea](https://github.com/svg/svgo/issues/1360), and look forward to working with the PostCSS community.

It would be better if @ben-eb had time to re-maintain [postcss-svgo](https://github.com/ben-eb/postcss-svgo

[2021-02-23 07:50] hatsumatsu opened #1000 "[Bug] : Merging properties and rules with custom properties results in wrong border"
**Describe the bug**

Using short and long formats for border properties AND custom properties results wrong border rule. Seems related to but different from https://github.com/cssnano/cssnano/issues/864

**To Reproduce**
Steps to reproduce the behavior:

1. Use this CSS in the playground:

[code]
2. The result is:

[code]

3. See how `.b` should have a border width of 1px. Instead `border-left:so

[2021-02-23 22:20] ben-eb commented on #992
@yisibl I'm afraid it's not possible right now, my work for the time being has little to do with CSS and so I can't justify any current contributions to this project.

By the way note that postcss-svgo moved to here as part of the monorepo and I will be clearing out archived repositories soon: https://github.com/cssnano/cssnano/issues/994

[2021-02-25 00:02] nex3 commented on #992
@yisibl @TrySound Once svgo is in a place where you feel like it should be safe to apply to arbitrary SVGs, let me know and I'll run a test over all of Google's screenshot tests to see if anything breaks in practice.

[2021-02-25 06:43] souoxs opened #1002 "[Bug] : why rgba transfer hsla?"
When i use `background: rgba(254, 255, 255, 0.6);`, cssnano will not change it, It is correct!

But,

When I use `background: rgba(255, 255, 255, 0.6);`, cssnano will change it to `background:hsla(0,0%,100%,.6)`,

But, I don't want this change!!!

Please Help!

I really don't want this transfer!!!

[2021-02-25 07:14] commyfriend opened #1003 "[Bug] : merge border rule encountered an error"
**Describe the bug**
when use cssnano to minify the css code below，it throw error like this。
[code]
**To Reproduce**
css code
[code]

postcss.config.js
[code]

**Expected behavior**
no error be thrown

**Desktop (please complete the following information):**
- CSSNANO Version 7.0.35

[2021-02-25 09:58] yisibl commented on #992
@ben-eb @nex3 Thanks.

[2021-02-25 11:25] alexander-akait commented on #1002
Disable `colormin` https://cssnano.co/docs/what-are-optimisations/

[2021-02-25 11:25] #1002 closed

[2021-02-26 16:05] Chris2011 opened #1004 "[Bug] : CSSNano has problems with postcss-nested"
**Describe the bug**
I think it is a bug but at the end I can understand, that this is a missing feature maybe.

I have a piece of code, in which I have two properties with the same value `margin-top: 60px` in a p and in an id selector. CSSNano can handle this and put this together to #app,p{margin-top: 60px}. It will remove the separated p and the property inside of the #app selector and merge th

[2021-03-04 09:20] so-diao opened #1006 "[Bug] : Error border style generated"
**Describe the bug**
Multiple border style were merged into `invalid property value`.
`border: 0 inherit;` = `invalid property value`.

**To Reproduce**
[code]
[code]

**Screenshots**
![图片](https://user-images.githubusercontent.com/24741025/109937252-acab0980-7d09-11eb-8ad4-b0b7f5142ea9.png)

**Expected behavior**
Is there any way to exclude code?
↓↓↓↓↓↓↓↓↓↓↓↓↓↓
[code]

**Desktop (please complete

[2021-03-04 09:53] so-diao commented on #1006
codesandbox：https://codesandbox.io/s/adoring-dew-q3pit?file=/src/index.js

[2021-03-04 16:54] anikethsaha commented on #1006
please check whether this is reproducible in `cssnano@nightly` as well

[2021-03-04 16:59] ludofischer commented on #1006
Better check cssnano@next as it's more recent than the nightly (13 days vs 1 month)

[2021-03-05 02:09] so-diao commented on #1006
@anikethsaha @ludofischer
Thanks, but it doesn't seem to have changed since I upgraded the new version.

↓↓↓↓ `"cssnano": "^4.1.10"` [codesandbox](https://codesandbox.io/s/adoring-dew-q3pit?file=/package.json:269-290)
[code]

↓↓↓↓ `"cssnano": "^5.0.0-rc.0"` [codesandbox](https://codesandbox.io/s/boring-wright-j7gsg?file=/package.json:294-319)
[code]

[2021-03-05 12:11] ludofischer commented on #952
cssnano 5.0 release candidate uses the PostCSS 8 API. Install cssnano@next to try.

[2021-03-05 13:04] ludofischer commented on #68
As I see it, the issue is that the cssnano does not implement the `process()` method itself, it comes directly from PostCSS. And the PostCSS docs say the sync API is for debug purposes only: https://postcss.org/api/#lazyresult-css,

[2021-03-07 09:46] #994 closed

[2021-03-07 18:21] ludofischer commented on #1006
Thank you for your report! It definitely looks like a bug in `postcss-merge-longhand'.

[2021-03-07 19:34] ludofischer commented on #1004
Hi, thank you for the detailed reproduction! I have managed to reproduce the bug and I also believe it is fixed in the cssnano 5.0.0 release candidate. Could you tell me if the release candidate fixes the issue on your end too?
To test, set the cssnano version in `package.json` to
[code]

[2021-03-07 19:42] ludofischer commented on #1003
Hi, I did manage to reproduce the bug with cssnano `4.1.10` Updating the cssnano version to `5.0.0-rc.1` (`cssnano@next`) fixes it for me. Can you try updating to the 5.0.0 cssnano release candidate?

[2021-03-07 19:46] ludofischer commented on #995
Confirmed on my end too,  5.0.0 does not fix it.

[2021-03-07 20:13] ludofischer commented on #992
If things are so bad with the previous SVGO version, we could update to SVGO 2 for the 5.0.0 release. @anikethsaha @alexander-akait any thoughts?

[2021-03-07 21:11] Chris2011 commented on #1004
Hey, great to hear it. I tested it, and it seems to work. thx :)

[2021-03-07 21:17] Chris2011 commented on #1004
Unfortunately, I have a more detailed example:

[code]

and the output ignores the `div` it is still extra at the end of the file, but I expect that it will be merged togehter with the other selectors with `margin-top: 60px;`

[2021-03-08 04:55] anikethsaha commented on #992
Yea I think we should include the SVGO v2 as even if there are breaking changes, it wont be an issue.

👍

[2021-03-09 12:34] alexander-akait commented on #992
@anikethsaha Yes, PR welcome

[2021-03-09 15:22] #952 closed

[2021-03-09 16:54] ludofischer commented on #1004
Interesting. My intuition would be that `cssnano` runs before the rules get `unnested`, so it does not 'see' them, but that seems unlikely as the latest cssnano uses `OnceExit()` and should run after postcss-nested which uses `Rule`

[2021-03-09 17:02] Chris2011 commented on #1004
Yeah I thought also. I thought I need to change the order, when the stuff should run, but this is not needed as you said?

[2021-03-14 19:37] ludofischer commented on #992
PR to update SVGO to newly maintained version 2: https://github.com/cssnano/cssnano/pull/1016 SVG experts are welcome to suggest improvements.

[2021-03-16 07:46] SymbioticKilla opened #1018 "[CVE] is-svg 3.0.0 CVE-2021-28092"
Hi,

I hope it is a right place for this issue:

The is-svg package 2.1.0 through 4.2.1 for Node.js uses a regular expression that is vulnerable to Regular Expression Denial of Service (ReDoS). If an attacker provides a malicious string, is-svg will get stuck processing the input for a very long time.
https://www.whitesourcesoftware.com/vulnerability-database/CVE-2021-28092

Fix:
Upgrade to versio

[2021-03-16 11:57] alexander-akait commented on #1018
You can do it locally

[2021-03-16 11:57] #1018 closed

[2021-03-16 12:55] SymbioticKilla commented on #1018
@alexander-akait Will there be a new release of 4.x branch?
Actually it is fixed with this commit:
https://github.com/cssnano/cssnano/commit/724104992e22d1b51e65383a9c6fbeb89a6a73f0#diff-b46451d710460df9202ca561452bfcf7914176d753421a3c6f66caa66b7b0256

[2021-03-16 13:04] alexander-akait commented on #1018
Install `5.0.0-rc.2 `, fixed in master

[2021-03-16 13:05] SymbioticKilla commented on #1018
cssnano@4.1.10 is a part of @angular-devkit/build-angular@0.1102.2

[2021-03-17 07:55] SymbioticKilla commented on #1018
@alexander-akait  any chance?

[2021-03-17 12:28] martinbu commented on #1006
I think the following example/issue falls in the same category.
Original Post: https://github.com/angular/angular-cli/issues/20300

If the following css file is used, the border properties gets combined to `border: var(--borderThickness) solid #000`, that will be resolved to `border:  5px 10px 15px 20px solid #000` which is invalid css. As a result, no border is shown.

**CSS**
[code]

**HTML**
[c

[2021-03-17 15:57] kemarsh opened #1019 "[Bug] : update is-svg dep in postcss-svgo for CVE-2021-28092"
`cssnano@4.1.10` depends on a version of `is-svg` that is vulnerable to:

https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-28092

[code]

The package.json https://github.com/cssnano/cssnano/blob/4.x.x/packages/postcss-svgo/package.json has been updated to contain `"is-svg": "^4.1.0"` but we're still getting `"is-svg": "^3.0.0"` from what's published to npm.

Could `postcss-svgo@4.0.2` be up

[2021-03-17 16:29] ludofischer commented on #1019
It is fixed in postcss-svgo@5.0.0-rc.2

[2021-03-18 08:24] SymbioticKilla commented on #1019
It is also fixed in 4.x.x branch but it is need to be released: https://github.com/cssnano/cssnano/issues/1018

[2021-03-18 09:59] kemarsh commented on #1019
Full dependency tree below -  I'm pulling in via `cssnano@4.1.10` which is still tagged as the `latest` release so I can't choose to bump `postcss-svgo` version.
[code]
Would appreciate confirmation that 4.x.x stream will or won't be fixed.

[2021-03-18 18:22] ludofischer commented on #1019
Speaking for myself, I won't likely publish a new 4.x.x release, simply because I don't know what the state of that branch is right now, so I don't know whether publishing from that will result in working software.
From what I understand reading the CVE, the issue is that the SVG parser can get stuck reading some inputs.
I believe the vulnerability is only serious if you process user input with cs

[2021-03-18 18:22] #1019 closed

[2021-03-19 18:28] ludofischer commented on #1000
Confirmed with 5.0.0-rc.2

[2021-03-19 18:33] ludofischer commented on #999
Confirmed in 5.0.0-rc.2

[2021-03-19 18:51] ludofischer commented on #988
Confirmed in 5.0.0-rc.2

[2021-03-19 18:53] ludofischer commented on #984
Fixed in 5.0.0-rc.2

[2021-03-19 18:53] #984 closed

[2021-03-19 18:57] ludofischer commented on #974
Fixed in 5.0.0-rc.2

[2021-03-19 18:57] #974 closed

[2021-03-19 19:00] #968 closed

[2021-03-19 19:07] ludofischer commented on #958
Fixed in 5.0.0-rc.2

[2021-03-19 19:07] #958 closed

[2021-03-19 19:08] ludofischer commented on #957
Fixed in 5.0.0-rc.2

[2021-03-19 19:08] #957 closed

[2021-03-19 21:03] ludofischer commented on #962
Fixed in 5.0.0-rc.2

[2021-03-19 21:03] #962 closed

[2021-03-19 21:09] ludofischer commented on #945
I don't think this is in scope for cssnano, as cssnano cares only about minification. You can use other PostCSS plugins together with cssnano to support extra features.

[2021-03-19 21:09] #945 closed

[2021-03-19 21:13] ludofischer commented on #963
Fixed in cssnano 5.0.0-rc.2

[2021-03-19 21:13] #963 closed

[2021-03-19 21:14] ludofischer commented on #909
Fixed in 5.0.0-rc.2

[2021-03-19 21:14] #909 closed

[2021-03-19 21:47] ludofischer commented on #920
Fixed in 5.0.0-rc.2

[2021-03-19 21:47] #920 closed

[2021-03-20 16:14] illogic-al commented on #984
Thanks @ludofischer. Just curious. What was the commit that fixed this? Or what was the underlying issue that 5.0.0 fixes?

[2021-03-21 16:20] ludofischer commented on #984
I suspect it is just the cssnano-value-parser update that fixes it, so you might want to look at that repository.

[2021-03-22 16:49] romain-trotard opened #1024 "[Feature Request] Make a version 4.0.3 of postcss-svgo"
Hello guys,

In my project which is using `postcss-svgo` (not directly), I have a security issue that has been solved in your repository in this PR: https://github.com/cssnano/cssnano/pull/736 concerning `is-svg`.
I would like to know if it would be possible to make a version `4.0.3` of `postcss-svgo` not to have to fix the version of `is-svg` in my project ?

Thank you in advance.

[2021-03-22 16:54] alexander-akait commented on #1024
Fixed in rc

[2021-03-23 03:02] illogic-al commented on #984
Is that the repo name? I searched in GitHub and didn’t find it?

[2021-03-23 09:29] ludofischer commented on #984
Sorry, it is https://github.com/TrySound/postcss-value-parser

[2021-03-23 22:32] arderyp opened #1025 "[Bug] : [CVE-2021-28092] vulnerable version of "is-svg" in dependency chain"
**Describe the bug**
Depends on vulnerable version of `is-svg` version `4.2.0`

**To Reproduce**
see here: https://github.com/cssnano/cssnano/blob/master/packages/postcss-svgo/package.json

**Expected behavior**
Upgrade `is-svg` to version `4.2.2`

**Desktop (please complete the following information):**
- CSSNANO Version = 4.1.10]
- Plugins/presets versions:
-   cssnano-preset-default: 5.0.0-rc.2

[2021-03-23 23:35] arderyp opened #1026 "[Bug] : yarn registry points to incorrect github repo?"
My project includes [@symfony/webpack-encore](https://github.com/symfony/webpack-encore), which has a dependency chain that includes cssnano. I just ran an update and yarn appears to determine to location of cssnano package from:

https://registry.yarnpkg.com/cssnano/

this page point to https://github.com/ben-eb/css-nano (which doesn't exist) instead of https://github.com/cssnano/cssnano.

It doe

[2021-03-23 23:41] arderyp commented on #1026
and yet `yarn info cssnano` appears correct:

[code]

[2021-03-23 23:49] arderyp commented on #1025
It would be cool if we could update the dependency and issue a new release.

[2021-03-24 11:05] alexander-akait commented on #1026
https://github.com/cssnano/cssnano/blob/master/packages/cssnano/package.json#L33, please open an issue in yarn register repo

[2021-03-24 11:05] #1026 closed

[2021-03-24 13:49] techpeace commented on #1025
Just wanted to add that [you can find more info on that CVE here](https://github.com/advisories/GHSA-7r28-3m3f-r2pr).

[2021-03-24 13:52] ludofischer commented on #1025
This CVE does not really affect you if you don't process arbitrary SVGs. See my reply here https://github.com/cssnano/cssnano/issues/1019#issuecomment-802182732

[2021-03-24 13:52] #1025 closed

[2021-03-24 13:52] ludofischer commented on #1024
See reply to duplicate issue: https://github.com/cssnano/cssnano/issues/1019#issuecomment-802182732

[2021-03-24 13:52] #1024 closed

[2021-03-24 19:10] arderyp commented on #1025
I hear you @ludofischer, but it is still causing a vulnerability warning in my and many other peoples' GitHub repos.  Is there any harm in updating it?

[2021-03-24 20:53] lopopolo commented on #1025
The currently released version of `cssnano` depends on the 3.x release line of `is-svg`.

[2021-03-24 21:21] underdarknl opened #1029 "Update is-svg"
https://github.com/cssnano/cssnano/blob/60d107bc604f8171c67c77d5bb3de6fb948116c4/packages/postcss-svgo/package.json#L33

Upgrade is-svg as mentioned in https://github.com/cssnano/cssnano/pull/1023

[2021-03-25 00:13] arderyp commented on #1025
yeah @lopopolo, you're right, I am working on them updating their dependency chain here: https://github.com/symfony/webpack-encore/issues/954

[2021-03-25 00:17] arderyp commented on #1025
yeah @lopopolo, you're right.  I am trying to get the `@symfony/webpack-encore` team to address their dependency chain here: https://github.com/symfony/webpack-encore/issues/954

Their dependency, `css-minimizer-webpack-plugin`, is addressing it here: https://github.com/webpack-contrib/css-minimizer-webpack-plugin/issues/60

As afar as I can tell, the latest stable release of `cssnano` (4.1.10) is

[2021-03-25 07:51] illogic-al commented on #984
Thanks. TIL there's [a part of the CSS3 spec that deals with identifying strings as numbers](https://www.w3.org/TR/css-syntax-3/#convert-string-to-number)
Looks like https://github.com/TrySound/postcss-value-parser/pull/58 was probably responsible for fixing this bug. 👍

[2021-03-25 12:48] alexander-akait commented on #1029
Updated in rc, please stop duplicate the problem

[2021-03-25 12:48] #1029 closed

[2021-03-26 20:30] prueker opened #1030 "CVE-2021-28092 in `cssnano` due to an old version of `is-svg`"
**Describe the bug**
[CVE-2021-28092](https://nvd.nist.gov/vuln/detail/CVE-2021-28092)

Looking at the dependency tree of css nano shows that postcss-svgo depends on is-svg@3.0.0

[code]

[2021-03-27 12:56] alexander-akait commented on #1030
Please use search before open issue, answered a lot of time, please use `rc`

[2021-03-27 15:18] Dema opened #1031 "[Bug] : postcss-discard-duplicates crashes with TypeError: Cannot read property 'length' of undefined"
**Describe the bug**
I'm not sure what causes this error, I'm using Next.js 10.0.9, with bundled css-minimizer-webpack-plugin and postcss-nested, postcss-custom-media and I'm having this error

[code]
This happens in this line https://github.com/cssnano/cssnano/blob/master/packages/postcss-discard-duplicates/src/index.js#L58
[code]
Somehow `b.nodes` is undefined. Is it possible to add a condition

[2021-03-27 15:24] alexander-akait commented on #1031
We can't change code in this case

[2021-03-27 16:11] prueker commented on #1030
Well that's not really an option for most packages since they can't depend on `RC`'s by policy.

Given that cssnano is in the dependency chain of CRA/react-scripts and used by millions of users, a patch of version 4 will likely be required, so keeping this issue open instead of closing the issue and telling people a solution that doesn't work would be more helpful.

[2021-03-27 16:17] Dema commented on #1031
Can you give some advice on what is in `b.nodes`, so I could try to find out why it is undefined? I've tried to add console.log's ant there's some gigantic css file in `.source` field of both `a` and `b`.

The only differents in a and b is nodes:
![image](https://user-images.githubusercontent.com/207726/112726942-fd8cd700-8f30-11eb-8ddd-ef93812cb756.png)

Right now I can't reproduce it with smalle

[2021-03-30 01:16] kslimani commented on #1030
@alexander-akait could you please consider to simply release, for example,  a version 4.0.3 of postcss-svgo package (with an upgraded version of is-svg in [package.json](https://github.com/cssnano/cssnano/blob/4.x.x/packages/postcss-svgo/package.json#L33)) ?

It should help to solve the cve issue easier in a lot of projects.

[2021-03-30 12:18] mayorandrew commented on #932
I see that `4.x.x` branch of `cssnano` already contains the fix. Is there anything that is blocking releasing a patch version on the v4 branch with the fix?

Since `create-react-app` uses `cssnano` 4 for building the production bundle (via `optimize-css-assets-plugin`), updating to `cssnano` 5 and `postcss` 8 will likely take some time for them due to some breaking changes.

I tried to force usage

[2021-03-30 14:00] manooweb commented on #1030
I agree with the 2 comments above. In addition If I'm not mistaken 5.0.0-rc.2 is not ready yet with the is-svg 4.2.2 patched version
https://github.com/cssnano/cssnano/blob/5.0.0-rc2/packages/postcss-svgo/package.json#L33

Could it be possible to upgrade postcss-svgo package to a patched 4.0.3 version for taking in account the is-svg 4.2.2 version, please ?
Thanks

[2021-03-30 21:31] jcubic opened #1033 "[Feature Request] Provide API to use the package directly"
**Is your feature request related to a problem? Please describe.**
It seems that new 5.0 RC version break everything you no longer can use the package directly. You need to use postcss. So this no longer work:

[code]

I don't need any of Postcss i just want to compress single css file.

**Describe the solution you'd like**
Add back the API to use the package directly without postcss,

**Describe

[2021-03-31 06:39] ludofischer commented on #1033
You need to call `cssnano()`

[code]

Actually I thought about removing the `process()`. That way you could install `postcss()` indipendently, since it just calls postcss under the hood.

[2021-03-31 17:23] jolting commented on #1030
Correct. The `rc` doesn't fix the issue in `postcss-svgo`, which explains why dependabot created a pr on `master`. `master` and `5.0.0-rc.2` are equivalent right now.

[2021-03-31 19:45] #1033 closed

[2021-03-31 19:51] ludofischer commented on #1031
@Dema Try looking at the PostCSS API https://postcss.org/api/#rule

[2021-03-31 20:00] ludofischer commented on #897
Confirmed in 5.0.0-rc.2

[2021-03-31 20:05] ludofischer commented on #880
Still fails in 5.0.0-rc.2

[2021-03-31 20:09] ludofischer commented on #726
This seems fixed in 5.0.0-rc.2

[2021-03-31 20:15] alexander-akait commented on #910
@ludofischer we can't fix all edge cases in `postcss-calc` using `try/catch` and log warning on this case, so we can improve bugs/new syntax in future, should be easy

[2021-03-31 20:16] ludofischer commented on #847
Still broken on 5.0.0-rc.2

[2021-03-31 20:51] #726 closed

[2021-04-01 07:59] Dema commented on #1031
For now, I'm just patching the code in-place in postinstall :)

I just was under impression that `equals` should be associative and if the left side can have `.nodes === undefined` so can the right side.

 Although here https://github.com/postcss/postcss/blob/a0a2d3954426140bd0db38dca5e12e44f5f3fde1/lib/container.d.ts#L41 is `nodes` is **not nullable**, so I'm a bit confused where the real error i

[2021-04-01 08:23] Chris2011 commented on #1004
hey, is there anything todo where I can help here?

[2021-04-01 15:04] AviVahl commented on #1030
The `4.x.x` branch already uses `^4.1.0`: https://github.com/cssnano/cssnano/blob/4.x.x/packages/postcss-svgo/package.json#L33
So it would have caught the new version.

@alexander-akait any chance you could `lerna publish --force-publish` the `4.x.x` branch? It seems as if some of the changes there were never published.

[2021-04-01 15:06] alexander-akait commented on #1030
I am afraid v4 can be broken right now, in theory we can found the last commit before publish and use it for update

[2021-04-01 15:11] AviVahl commented on #1030
Are there any tests in place? I'm afraid that using specific commits or the rc version is not really an option, as that would require then going project-by-project and getting them all upgraded. Releasing the (already accepted) changes of the 4.x.x branch feels natural to the process, and would target all those use cases already making use of `^4.x.y`.

What can be done to verify the soundness of

[2021-04-01 15:18] AviVahl commented on #1030
Oh, I see what you mean by specific commit. You mean this: https://github.com/cssnano/cssnano/commit/d0f65e288f2cb8c91a2b19fe4763e38291095632

So if we take this commit + one more bumping the vulnerable dependencies, would that be enough to release a stable 4.x patch?

[2021-04-01 15:20] alexander-akait commented on #1030
yep, so we don't break anything

[2021-04-02 16:05] ludofischer commented on #1004
I don't think there is anything to do except diving inside the `postcss-merge-rules` code and trying to understand where it goes wrong. This issue is not the worst either, there are multiple cases where merging the rules results in incorrect output: https://github.com/cssnano/cssnano/issues/1006, https://github.com/cssnano/cssnano/issues/701, https://github.com/cssnano/cssnano/issues/1000, https:/

[2021-04-02 16:31] ludofischer commented on #910
@alexander-akait The change still needs to be done in the `postcss-calc` repository, right? We just add it to the plugin array in the default preset, we can't control how it handles errors from our own code.

[2021-04-02 16:33] alexander-akait commented on #910
Yes, I can invite you

[2021-04-02 16:34] alexander-akait commented on #910
oh, I can't, we need owner

[2021-04-02 16:35] alexander-akait commented on #910
/cc @MoOx Can you invite @ludofischer to `postcss-calc` (https://github.com/postcss/postcss-calc)

[2021-04-02 18:45] strarsis opened #1035 "[Feature Request] place-items to simplify align-items ∧ justify-items"
**Is your feature request related to a problem? Please describe.**
The now well supported CSS property [place-items](https://developer.mozilla.org/en-US/docs/Web/CSS/place-items) allows to set `align-items` and `justify-items` [as shorthand](https://developer.mozilla.org/en-US/docs/Web/CSS/place-items#constituent_properties).
So when `align-items` and `justify-items` are both present they can be r

[2021-04-02 18:58] AviVahl commented on #1030
Alright, then I suggest the current `4.x.x` branch will be deleted. `master` already contains **all** those commits. The branch is 32 commits behind `master`.

Then, create a *new* `4.x.x` branch with all commits up to (including): https://github.com/cssnano/cssnano/commit/d0f65e288f2cb8c91a2b19fe4763e38291095632

Then we'll be able to create a PR from a fork with the required upgrades, directly t

[2021-04-02 19:06] alexander-akait commented on #1030
/cc @ludofischer Let's create branch (`v4`) from https://github.com/cssnano/cssnano/commit/d0f65e288f2cb8c91a2b19fe4763e38291095632

[2021-04-02 19:09] ludofischer commented on #1030
Done https://github.com/cssnano/cssnano/tree/v4

[2021-04-02 19:11] alexander-akait commented on #1030
@AviVahl feel free to send a PR, we solve it in v5, let's do the same, just remove `is-svg`

[2021-04-02 19:25] ludofischer commented on #1030
FYI I could not even manage to complete `yarn install` on the `v4` branch with Node.js 14 (some node-gyp errors).

[2021-04-02 21:52] AviVahl commented on #1030
I was able to `nvm i 10` and yarn. then ran the tests. all passed.
then upgrade to is-svg@4. yarn. yarn test.

got two failures now:
[code]

Both, in theory, could be related to `is-svg` changing behavior to how it deals with some cases. Not sure TBH. Any idea?

[2021-04-03 13:30] alexander-akait commented on #1030
@AviVahl let's port this https://github.com/cssnano/cssnano/pull/1034 (no is-svg package)

[2021-04-03 14:56] AviVahl commented on #1030
@alexander-akait done. :+1:

[2021-04-04 08:54] Chris2011 commented on #1004
Hey @ludofischer thx for the info. That's is all what I wanted to know. Thx :)

[2021-04-06 12:21] alexander-akait commented on #1030
Done https://github.com/cssnano/cssnano/releases/tag/v4.1.11, hope we will do not break something :smile:

[2021-04-06 13:38] #1030 closed

[2021-04-06 14:29] nicolaszawada opened #1037 "[Bug] : No matching version found for postcss-svgo@4.0.3"
**Describe the bug**
Even though version 4.0.3 of postcss-svgo is published on the npm registry. There seems to be something wrong with it. It cannot be found.

**To Reproduce**
Steps to reproduce the behavior:

1. `npm install postcss-svgo@4.0.3`

_No matching version found for postcss-svgo@4.0.3_

**Expected behavior**
postcss-svgo version 4.0.3 must be installed

**Screenshots**

![2021-04-06_1

[2021-04-06 14:33] alexander-akait commented on #1037
Every time I get reported about it... You register did not get update from npm original register (you don't provide it) right now, sorry, won't fix on our side

[2021-04-06 14:33] #1037 closed

[2021-04-06 14:34] alexander-akait commented on #1037
Please, check version on `npm` (https://www.npmjs.com/package/postcss-svgo) before posting the issue

[2021-04-06 14:55] d892fc opened #1038 "cli tool requested"
I want the offcial cssnano command line tool.

I only use cssnano by a command line interface, and I don't want to use  PostCSS or webpack to use it indirectly.

[2021-04-06 14:56] alexander-akait commented on #1038
https://github.com/cssnano/cssnano/tree/master/packages/example-cli-usage

[2021-04-06 15:01] manooweb commented on #1030
Thanks 👍

It works for me to get rid of the `is-svg` vulnerabilty from `css-minimizer-webpack-plugin` which uses `cssnano` and because now `cssnano` doesn't use `is-svg` package anymore 🤣
But I'm quite sure we don't use SVG in our CSS code. So it isn't significant to say if cssnano@4.1.11 breaks nothing 😁

[2021-04-06 15:21] ludofischer commented on #1030
cssnano can still minify svg, `is-svg` is an implementation detail. Getting rid of it only changes the way cssnano reports some errors.

[2021-04-06 15:54] manooweb commented on #1030
@ludofischer ok thanks for the precision 😉

[2021-04-07 05:37] d892fc commented on #1038
Accepted!

[2021-04-07 05:37] #1038 closed

[2021-04-07 15:31] Neunerlei opened #1040 "[Bug] : Warnings when Font-Face declaration contains inline SVG"
**Describe the bug**
I'm using cssnano not directly, but as a dependency through "css-minimizer-webpack-plugin". I'm getting warnings like this, after upgrading a project from webpack 4 to webpack 5 (which is probably not related, and only occurs because I updated the dependencies):

[code]

I have noticed, that there is a v 5.0.0 release candidate for "postcss-svgo" which might fix the problem? B

[2021-04-07 15:33] alexander-akait commented on #1040
PR welcome

[2021-04-07 15:50] Neunerlei commented on #1040
I would, but I don't know if this is still an issue with 5.0.0-rc2

[2021-04-07 15:52] alexander-akait commented on #1040
I think this problem on both versions, i.e. `rc` and `4`

[2021-04-08 09:50] commyfriend commented on #1003
5.0.0-rc.2 works for me, thank you

[2021-04-08 10:33] #1003 closed

[2021-04-08 17:03] silverwind opened #1042 "[Bug] : postcss-colormin produces odd results for #rrggbbaa input"
Using `postcss-colormin@4.0.3`:

Original:
[code]

After colormin:
[code]

I think in this case, `colormin` should not touch the original color because it is already pretty minimal.

[2021-04-08 17:31] ludofischer commented on #1040
It is still a bug on master and so on 5.0.0-rc2. I have opened https://github.com/cssnano/cssnano/pull/1043 to fix this.
I am surprised that the issue also occurred on `4.1.10` since that was before removing `is-svg`. Apparently that `is-svg` check did not catch this case either.

[2021-04-08 17:40] ludofischer commented on #1042
Still a bug on master. Looks like the colormin plugin is using the wrong test to decide whether the 'optimized` value is better than the original.

[2021-04-08 18:46] Neunerlei commented on #1040
@ludofischer

True, I spend a bit of time to investigate this. The problem indeed, only occurs if `4.1.11` is used.

We bundle our webpack logic in a single package to use in all our projects, and in this bundle itself cssnano is installed as "4.1.10" (locked by the package.lock file), while in the project itself it gets installed as `4.1.11`. But I assumed that `4.1.10` was installed in the proje

[2021-04-09 16:55] #1040 closed

[2021-04-09 17:40] sv3k opened #1044 "[Bug] : border + border-color shorthand with css var = unwanted border-color:currentcolor"
**Describe the bug**
Using `border` shorthand AND `border-color` shorthand AND css var in `border-color` results in `border-color:currentcolor` in output.

**To Reproduce**
[Playground link](https://cssnano.co/playground/#eyJpbnB1dCI6Ii8qIHdyaXRlIHlvdXIgY3NzIGJlbG93ICovXHJcbmRpdiB7XHJcbiAgICBib3JkZXI6IDFweCBzb2xpZDtcclxuICAgIGJvcmRlci1jb2xvcjogcmVkIHZhcigtLWdyZXkpO1xyXG59IiwiY29uZmlnIjoiLy8gY3Nzbm

[2021-04-09 21:54] sm9 opened #1045 "How to turn cssnano on or off for different npm build scripts?"
I'm using Tailwind CSS as a PostCSS plugin with PurgeCSS and cssnano. I'm using npm scripts to run my build process and I've included my postcss.config.js and package.json files below.

At the moment, running `npm run build:cssmin` builds my Tailwind CSS file, including PurgeCSS and cssnano, and this bit is working fine. But I'm having issues with `npm run build:css` - I want this to build my Tail

[2021-04-10 13:05] alexander-akait commented on #1045
you can set `NODE_ENV` and return different plugins, not related to cssnano, I think better ask this questions on stackoverflow

[2021-04-10 13:07] ludofischer commented on #1045
Can't solve this from inside cssnano, you can also ask for help on the PostCSS gitter chat https://gitter.im/postcss/postcss

[2021-04-10 13:07] #1045 closed

[2021-04-10 14:46] ludofischer commented on #979
cssnano 5.0.0 has been published to npm: https://www.npmjs.com/package/cssnano/v/5.0.0

[2021-04-10 14:46] #979 closed

[2021-04-10 14:47] ludofischer commented on #904
5.0.0 has been released https://www.npmjs.com/package/cssnano/v/5.0.0 which should contain the fix

[2021-04-10 16:47] jaszfalvitamas commented on #904
Hi there!

I tried to disable SVGO using this guide: https://cssnano.co/docs/presets, but neither the cssnano.config.js nor the package.json version work for me. I always get this error:
Error: postcss-svgo: Error in parsing SVG: Unquoted attribute value

I'm using yarn, and forced both cssnano and postcss to the latest version. Any help would be greatly appreciated on how to disable this plugin!

[2021-04-10 17:54] ludofischer commented on #904
What cssnano version are you using exactly?

[2021-04-10 18:01] jaszfalvitamas commented on #904
cssnano@5.0.0 is installed to node_modules.

[2021-04-11 23:58] proton-ab opened #1046 "[Bug] : cssnano v5 breaks on yarn/npm with --no-bin-links due to postinstall step for opencollective"
**Describe the bug**
cssnano v5 added forced dependency on `opencollective-postinstall` with `postinstall` which breaks on yarn/npm with `--no-bin-links`.

**To Reproduce**
[code]

**Expected behavior**
No issue during install in all environments supported by `cssnano`

**Additional context**
Generally acceptable solution here would be to use `node ./node_modules/opencollective-postinstall/index.j

[2021-04-12 09:01] ludofischer commented on #1046
Thanks for the report.
I am afraid your suggestion breaks if someone uses Yarn 2 PnP as there will be no `node_modules`:
[code]
@alexander-akait what should we do here?
I think the issue is that it cannot find  the `opencollective-postinstall` script. That's why the process fails even if `opencollective-postinstall` checks for `process.env.CI`

[2021-04-12 09:20] ludofischer commented on #1046
I have opened a pull request to replace `opencollective-postinstall` (https://github.com/cssnano/cssnano/pull/1047) with the `funding` field, since I suspect always printing that message annoys people more than anything else, especially if it breaks their CI.

[2021-04-12 09:48] #1046 closed

[2021-04-13 18:23] ludofischer commented on #904
@jaszfalvitamas Have you got `postcss.config.js`? Try to put the configuration in there instead of `cssnano.config.js`.  In  [this test  repository I have created](https://github.com/ludofischer/cssnano-config-test) `cssnano.config.js` has no effect but `postcss.config.js` does.

[2021-04-13 18:27] ludofischer commented on #992
Closing this since SVGO is maintained again. We could open an issue for changing the default preset to lite though (as https://github.com/cssnano/cssnano/issues/992#issuecomment-774459335 suggests).

[2021-04-13 18:27] #992 closed

[2021-04-13 18:44] ludofischer commented on #904
I do not understand the use case for `cssnano.config.js`. `postcss.config.js` takes precedence. So its use limited to configuring a tool that invokes cssnano without exposing a postcss config AND without exposing its own config (for example https://github.com/webpack-contrib/css-minimizer-webpack-plugin has got its own config)

[2021-04-13 19:18] ludofischer commented on #1046
cssnano@5.0.1 is out which does not use `opencollective-postinstall` any more.

[2021-04-13 20:25] jaszfalvitamas commented on #904
Here's what worked for me:
I searched through @symfony/webpack-encore for postcss stuff, and found an option named `Encore.enablePostCssLoader();`
Having that line added to my webpack.config.js AND creating a postcss.config.js I managed to disable the svgo loader. So on my end, issue seems to be resolved. Sorry for the inconvinience!

[2021-04-14 09:29] jonnitto opened #1049 "[Bug] : svgo"
**Describe the bug**
Since cssnano V5, I'll get this error warning

**To Reproduce**
Steps to reproduce the behavior:
Run CSS Nano

[code]

**Expected behavior**
No error in parsing SVG

**Desktop:**
- CSSNANO Version 5.0.1
- Preset: `default`

`npx envinfo`

[code]

`npm ls cssnano`

[code]

`minimze` in ` rollup-plugin-postcss` is disabled

[2021-04-14 09:59] ludofischer commented on #1049
I can't say if the issue is in cssnano or svgo. Can you link to a repository with a minimal reproduction? Or try running `svgo` directly on the problematic SVG and see if it gives a warning. Does cssnano output the minified css or does it crash in the middle? We've had a similar issue with too SVGO many warnings that should have been fixed: https://github.com/cssnano/cssnano/issues/1040

[2021-04-16 15:15] aniketh-deepsource commented on #1044
can you please check whether this is occurring in `v5` as well or not ?

[2021-04-16 15:15] anikethsaha commented on #1044
Can you check whether this is reproducible in `v5` or not ?

[2021-04-19 18:05] redallen opened #1051 "[Bug] : mergeLonghand should not apply to CSS variables"
**Describe the bug**
mergeLonghand should not apply to CSS `var`s since it cannot know what the var expands to.

**To Reproduce**
Input:
[code]

Output:
[code]

**Expected behavior**
Expected output: Same as input.

`cssnano@4.1.10`

[2021-04-21 11:56] stof opened #1053 "The website is outdated"
The footer of the website says that 4.1.10 is the latest release, instead of 5.0.0:
![image](https://user-images.githubusercontent.com/439401/115549803-5be77400-a2a9-11eb-8793-0ec9ff9a78cd.png)

[2021-04-21 11:56] stof commented on #1053
And https://cssnano.co/docs/changelog does not have the 5.0 changelog either

[2021-04-21 12:30] ludofischer commented on #1053
See https://github.com/cssnano/cssnano/pull/1022

[2021-04-22 02:19] naruaway opened #1054 "[Bug] : The default preset breaks border related styles by `cssDeclarationSorter`"
**Describe the bug**
The latest version of [`cssnano`](https://github.com/cssnano/cssnano/) (`5.0.1`) 's default preset breaks border related styles by `cssDeclarationSorter`.

**To Reproduce**
Please take a look at [the minimum reproducible example](https://github.com/naruaway/cssnano-border-declaration-sorter-bug).

**Expected behavior**
[code]
should not be broken by `cssnano`'s default preset.

[2021-04-22 02:28] zaaack opened #1055 "[Bug] : Disable feature in cssnano-preset-default looks not working"
**Describe the bug**

Disable feature in cssnano-preset-default looks not working.

**To Reproduce**
Steps to reproduce the behavior:

1. Add `{discardDuplicates: false}` options in CssMinimizerPlugin/css nano playground,

**Expected behavior**
Should not discardDuplicates

**Screenshots**
[playground](https://cssnano.co/playground/#eyJpbnB1dCI6Ii8qIHdyaXRlIHlvdXIgY3NzIGJlbG93ICovXG5cbi5hYSB7XG4gI

[2021-04-22 12:18] alexander-akait commented on #1055
Please use `cssnano@5`, `cssnano@4` is deprecated and accept only security fixes

[2021-04-22 12:23] zaaack commented on #1055
@alexander-akait Hi,thank for quick reply.  I think the playground should be using the newest cssnano, but still cannot disable any plugins in the default preset, am I wrong about the config?

[2021-04-22 12:24] alexander-akait commented on #1055
Please provide example how you setup cssnano, we need to look, we have tests on this, and all is green

[2021-04-22 12:26] zaaack commented on #1055
[playground](https://cssnano.co/playground/#eyJpbnB1dCI6Ii8qIHdyaXRlIHlvdXIgY3NzIGJlbG93ICovXG5cbi5hYSB7XG4gIHBhZGRpbmctdG9wOiAxMHB4OyBcbiAgcGFkZGluZy10b3A6IGNhbGMoMTBweCArIGVudihzYWZlLWFyZWEtaW5zZXQtdG9wKSk7XG59IiwiY29uZmlnIjoiLy8gY3NzbmFubyBjb25maWdcbntcbiAgXCJwcmVzZXRcIiA6IFtcImRlZmF1bHRcIiwge1xuICBcImF1dG9wcmVmaXhlclwiOiBmYWxzZSxcbiAgXCJjc3NEZWNsYXJhdGlvblNvcnRlclwiOiBmYWxzZSxcbiAgXCJyYXdDYWNo

[2021-04-22 19:46] ludofischer commented on #1053
Footer and changelog shoudl be updated: https://cssnano.co/

[2021-04-22 19:46] #1053 closed

[2021-04-26 04:39] sv3k commented on #1044
Tested on `5.0.1`, still reproducible, with a bit different (worse) order:
`div{border-bottom:1px solid red;border-color:currentcolor;border-left:1px solid var(--grey);border-right:1px solid var(--grey);border-top:1px solid red}`

[2021-04-26 17:38] #1051 closed

[2021-04-26 17:58] ludofischer commented on #914
Solved in latest 5.0.0 release. The example minimizes without crashing to:

[code]

[2021-04-26 17:58] #914 closed

[2021-04-27 00:03] panpansh commented on #751
perfect using grunt thanks

[code]

[2021-04-28 13:30] ludofischer commented on #752
Confirmed in 5.0.2

[2021-04-28 13:33] ludofischer commented on #733
Confirmed in 5.0.2

[2021-05-03 19:18] dtzxporter opened #1064 "[Bug] : opacity using percentages breaks during minification"
**Describe the bug**
opacity: 70% becomes opacity 1%

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Should not try to bring into 0-1 range while keeping the percent sign.

**Screenshots**
If applicable, add screenshots to help explain your problem. (from [cssnano-playground](https://cssnano.co/playground/))

**Desktop (please complete the following information):**

[2021-05-03 19:32] dtzxporter commented on #1064
Fixed in recently released css-minimizer-webpack-plugin

[2021-05-03 19:32] #1064 closed

[2021-05-05 07:02] alan-agius4 commented on #1054
We can also see this issue in other cases

https://github.com/angular/angular-cli/issues/20693
https://github.com/ionic-team/ionic-framework/issues/23266

[2021-05-05 08:50] ludofischer commented on #1054
This seems yet another bug in `postcss-merge-longhand`.

[2021-05-05 12:51] alexander-akait commented on #1054
@ludofischer maybe we should just change order of plugins

[2021-05-05 13:29] ludofischer commented on #1054
Is there a reason besides improving gzip compression that cssnano uses `css-declaration-sorter`? Because in my tests so far it makes compression _worse_, so we could remove it.

[2021-05-05 13:30] alexander-akait commented on #1054
hm, I think we need test it, it always seemed to me that sorting reduces the gzip size

[2021-05-07 13:02] nstepien opened #1068 "[Bug] : `cssDeclarationSorter` doesn't work well with `all`"
**Describe the bug**
`cssDeclarationSorter` moves `all` after `align-items` for example, which overrides `align-items`.

**To Reproduce**
[code]

**Expected behavior**
Nothing(?) should be moved before `all`.
Instead it roughly translates into:
[code]

**Screenshots**
N/A

**Desktop (please complete the following information):**
- CSSNANO Version 5.0.2
- Plugins/presets versions
  - cssnano is use

[2021-05-07 13:25] alexander-akait commented on #1068
/cc @Siilwyn

[2021-05-08 13:12] Siilwyn commented on #1068
Moving `all` to the top sounds like a good idea, will fix this. Also looking into the other issues, thanks for the cc @alexander-akait.

[2021-05-12 09:19] FilipChalupa commented on #675
@hetgelaat not ideal but setting `mergeLonghand` in cssnano config to `false` solves the problem with missing camelCasing for me.

border: solid 2px var(--buttonBorderColor, var(--buttonBaseColor, #000));
Turns into
border: 2px solid var(--buttonbordercolor,var(--buttonBaseColor,#000));
Notice the missing camelCasing in the generated outcome.

[2021-05-12 12:38] alexander-akait opened #1098 "[Bug] : preset doesn't allow enable plugins"
**Describe the bug**

preset doesn't allow to enable plugins, only disable

**To Reproduce**
Steps to reproduce the behavior:
https://github.com/webpack-contrib/css-minimizer-webpack-plugin/issues/87

or just set:

[code]

CSS:

[code]

Output

[code]

**Expected behavior**

Plugin should enabled and minify to `h1{margin:0 auto}`

**Screenshots**

No need

**Desktop (please complete the following

[2021-05-12 12:41] ludofischer commented on #1098
I think the reason is that `preset-lite` does not include `discard-duplicates` at all. We would need to restructure the presets so every preset depends on all plugins. I suppose the main disadvantage would be that the install size of the smaller presets would increase.

[2021-05-12 13:16] alexander-akait commented on #1098
We can add peerDeps for yarn PnP, ask to install plugin and when you have `discard-duplicates: true` require it

[2021-05-12 14:12] #730 closed

[2021-05-12 14:12] #999 closed

[2021-05-12 20:07] ludofischer commented on #821
Cannot reproduce it with cssnano 5.0.2 and the SVGs posted in https://github.com/svg/svgo/issues/990, I assume svgo  fixed it.

[2021-05-12 20:07] #821 closed

[2021-05-12 20:09] ludofischer commented on #451
We've already updated to selector parser v6.0 since the time this issue was opened.

[2021-05-12 20:09] #451 closed

[2021-05-13 14:15] Siilwyn opened #1100 "[Bug] : Merging border-top and border-color gives unexpected output"
**Describe the bug**
Given `a{border-top:1px solid;border-color:purple}` results in `a{border-color:currentcolor purple purple;border-top:1px solid purple}`.

**To Reproduce**
Run a test like this:
[code]

**Expected behavior**
Expected output would I think be the same as the input so: `border-top:1px solid;border-color:purple`.

**Environment**
Node.js 14, cssnano on master `4d7fe367`.

**Additio

[2021-05-13 16:56] ludofischer commented on #1100
I think this might be a duplicate of https://github.com/cssnano/cssnano/issues/1044

[2021-05-13 17:07] alexander-akait commented on #1100
We really need rewrite our merge on more stable solution, right now it is so complex

[2021-05-13 18:00] Siilwyn commented on #1100
Yes, let's close this as a duplicate of #1044.

[2021-05-13 18:00] #1100 closed

[2021-05-13 18:01] Siilwyn commented on #1044
It does not need to be a CSS variable, just combining `border-top` and `border-color` with regular values causes the same output.

[2021-05-14 17:50] stagefright5 opened #1102 "[Bug] : TypeError: Cannot read property 'toLowerCase' of undefined"
**Describe the bug**

I have an angular project (latest v11, more precisely `"@angular-devkit/build-angular": "0.1102.13"`) that I am trying to build (`ng build --configuration=production`) and this package is throwing the following error.

<pre><code>
[error] TypeError: Cannot read property 'toLowerCase' of undefined
    at $PROJECT_ROOT\styles.a7990a61a7ecede859a2.css:3506:1
    at hasInherit ($

[2021-05-14 19:26] ludofischer commented on #1102
Thank you for the bug report. Can you post some how the unminified CSS output (after sass has run but before minification)? It woud help us to pinpoint which rule is causing this error. As a workaround you can try disabling the `merge-longhand` when cssnano gets added to the PostCSS configuration.

[code]
Unfortunately I am not familiar with Angular Cli so I don't know you can access the PostCSS c

[2021-05-14 21:27] stagefright5 commented on #1102
@ludofischer , as I have mentioned in the op, the generated css is this. Please observe that the `border-color` property DOES NOT have any hex code mentioned for color.
[code]

It seems like the variable which value was supposed to get replaced, had been replaced with an empty string.

[2021-05-15 18:00] DenisDolgov opened #1103 "[Bug] : [object Object] is not a PostCSS plugin"
When building the project, I get the error "[object Object] is not a PostCSS plugin". When using version 4 of cssnano everything is OK.

Here are my dependencies:

[code]

Here is my postcss config:

[code]

Here is the full text of the error:

ERROR in ./src/css/app.scss (./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[7].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[

[2021-05-16 12:34] ludofischer commented on #1103
Are you using PostCSS 7 or 8? cssnano 5 only works with PostCSS 8. I don't remember how postcss-loader works, but according to the [readme](https://github.com/webpack-contrib/postcss-loader) you should install postcss along postcss-loader, but there is no postcss in your `devDependencies`.

[2021-05-17 07:27] alan-agius4 opened #1105 "[Bug] : @media feature value is dropped incorrectly"
**Describe the bug**
The `@media` query feature value `all` is dropped incorrectly.

**To Reproduce**
Steps to reproduce the behavior:
Providing the following input:
[code]

The following output is generated
[code]

**Expected behavior**
`@media all` is retained as the outputted CSS is invalid

**Desktop (please complete the following information):**
- CSSNANO Version [e.g. 22] 5.0.2
- Plugins/pre

[2021-05-17 16:50] #1068 closed

[2021-05-17 16:53] alexander-akait commented on #1103
Please add `postcss` to your package.json, run `npm install -D postcss`, postcss-loader requests `postcss` as peer dep, also please always read warnings/errors from your package manager, thanks

[2021-05-17 16:53] #1103 closed

[2021-05-17 16:59] ludofischer commented on #1054
https://github.com/cssnano/cssnano/pull/1071 fixes this (the CSS in this issue has been added to the test cases)

[2021-05-17 16:59] #1054 closed

[2021-05-17 19:53] beruic opened #1106 "[Bug] : Vulnerabilities on version 4.x.x with PostCSS"
**Describe the bug**

There is a moderate security vulnerability reported by `npm audit` on the `postcss` version used by 4.1.11.

This one is related: https://github.com/egoist/rollup-plugin-postcss/issues/373

I know dependants should probably update to 5.x.x, but since 4.1.11 is the most downloaded version, and it seems to be still maintained (given the last release to be fairly recent), I thin

[2021-05-18 11:14] #1106 closed

[2021-05-18 15:48] michael-goss commented on #1106
@alexander-akait can you elaborate? Apparently cssnano-preset-default requires a vulnerable version of postcss

[2021-05-18 15:53] alexander-akait commented on #1106
We can't use `postcss` v5 for `cssnano` v4 because it is breaking change, here two solutions:
- migrate on `cssnano` v5 (please open an issue in `rollup-plugin-postcss`)
- backport vulnerable fix to `postcss` v4 (please open an issue in `postcss`)

Maybe `postcss` already fix this issue, so you need update your deps

[2021-05-18 19:18] ludofischer commented on #1106
I have already opened a PR some months ago to switch rollup-plugin-postcss to cssnano 5 https://github.com/egoist/rollup-plugin-postcss/pull/357

A version of cssnano-preset-default without the vulnerable dependency already exists, it's version 5.x.x

All PostCSS 7 versions are vulnerable so to avoid the vulnerability you need PostCSS 8. Since cssnano is a suite of PostCSS plugins, dropping the Po

[2021-05-19 16:21] #819 closed

[2021-05-19 16:21] #1042 closed

[2021-05-19 22:54] blueiceprj opened #1110 "[Bug] :"
I'm unable to build my app due to an error coming from a dependency that relies on Colord. Any help with this would be appreciated!

When running npm run build, I get the following error:

Error [ERR_PACKAGE_PATH_NOT_EXPORTED]: Package subpath './plugins/names' is not defined by "exports" in ./node_modules/colord/package.json

[2021-05-19 23:06] bildungsroman commented on #1110
I'm hitting the same issue.

I have a dependency that relies on `postcss-colormin` as a dependency, and it's breaking my entire build as of a few hours ago. Any help would be appreciated!

Here is the entire error:

[code]

[2021-05-20 00:30] omgovich commented on #1110
Exports are fixed in colord@1.7.2.

[2021-05-20 09:49] codeonquer opened #1112 "[Bug] : PropConflict when using postcss-merge-rules"
Always forgive my poor English.

## Describe the bug

- postcss-merge-rules@5.0.0

My origin scss file:

- displayFlexCover comes from somewhere, I place them together;
- I place some useless props in displayFlexCover to generate merge-rules.

[code]

after scss:

[code]

after postcss-merge-rules:

[code]

Now, we can see that `justify-content` in `.fa-csr-bg .table` is in conflict. I want `flex-

[2021-05-20 11:26] mynameisbogdan opened #1113 "[Bug] : postcss-colormin transforms z-index: 999999 to z-index: #999"
**Describe the bug**
postcss-colormin transforms `z-index: 999999` to `z-index: #999`

**To Reproduce**
[code]

**Expected behavior**
Should not be transformed to a hex

**Screenshots**
![Screenshot 2021-05-20 at 14 25 22](https://user-images.githubusercontent.com/707714/118970732-3b2d3f80-b977-11eb-843d-c5a9053792bd.jpg)

**Desktop (please complete the following information):**
cssnano@5.0.3
post

[2021-05-20 11:33] alan-agius4 opened #1114 "[Bug] : `minifySelectors` causes `Unclosed comment` error"
**Describe the bug**
Using `/deep/` selector will cause `Unclosed comment` error when using `/deep/` and `minifySelectors`

**To Reproduce**
[code]

**Expected behavior**
The input css is minimized

**Desktop (please complete the following information):**
- CSSNANO Version [e.g. 22] 5.0.3
- Plugins/presets versions `default`
[code]

**Additional context**
This is caused by `minifySelectors`

[2021-05-20 11:41] evilPaprika commented on #1113
I have the same problem. How can I get around this?

[2021-05-20 11:43] daks01 commented on #1113
similarly with z-index range from 100 to 999

[2021-05-20 12:08] yumadilovtimur opened #1115 "[Bug] : Hashes (#) were added to the RGB color format"
Hashes (#) were added to the RGB color format:
https://github.com/angular/angular-cli/issues/20869#issuecomment-845029637

Expected:
![image](https://user-images.githubusercontent.com/40427062/118975827-cfa29c80-b98d-11eb-8777-b2f3297743dc.png)

In fact:
![image](https://user-images.githubusercontent.com/40427062/118975854-d3ceba00-b98d-11eb-8a3d-bc1ba51e8905.png)

I set the values as in the first

[2021-05-20 12:24] alexander-akait commented on #1114
`/deep/` is not supported... it is non standard?

[2021-05-20 12:25] alexander-akait commented on #1113
/cc @ludofischer I think high priority

[2021-05-20 12:26] alexander-akait commented on #1115
@ludofischer We need be careful in future, a lot of regressions :disappointed:

[2021-05-20 12:27] alexander-akait commented on #1112
PR welcome

[2021-05-20 12:27] #1110 closed

[2021-05-20 12:30] yumadilovtimur commented on #1115
@alexander-akait Please let us know when the problem is resolved. I will be very grateful

[2021-05-20 12:44] alexander-akait commented on #1115
@yumadilovtimur You can help and send a PR with fix and test

[2021-05-20 12:45] alan-agius4 commented on #1114
Yes, it’s supper was removed from a number of major browsers. Therefore, feel free to close.

[2021-05-20 13:12] alan-agius4 commented on #1115
We have received multiple reports about similar issues: https://github.com/angular/angular-cli/issues/20870

[2021-05-20 13:22] alexander-akait commented on #1115
Yes, we will try to fix it asap

[2021-05-20 13:38] alan-agius4 commented on #1114
There is more context https://github.com/angular/angular-cli/issues/20867

[2021-05-20 13:59] alexander-akait commented on #1114
@alan-agius4 I see... I think better solution is migration from `/deep/`...

[2021-05-20 14:02] alan-agius4 commented on #1114
Agreed.

[2021-05-20 14:02] #1114 closed

[2021-05-20 14:19] codeonquer commented on #1112
My PR works for me. Please review.
This is my first PR. I hope it will help the project.
@alexander-akait

[2021-05-20 15:06] scottieslg commented on #1115
My `z-index: 100` is translating to `z-index: #100` in my Angular build as well.

[2021-05-20 16:22] jbms opened #1117 "[Bug] postcss-colormin@5.1.0 incorrectly minifies numbers as colors"
Example CSS file:
[code]

Postcss config:

[code]

Incorrect minified result with postcss-colormin@5.1.0:

[code]

Correct minified result with postcss-colormin@5.0.0:

[code]

[2021-05-20 16:30] #1117 closed, assigned to nobody

[2021-05-20 17:07] romainmenke commented on #1113
Example of the issue with minimal config :

https://github.com/romainmenke/cssnano-bug-1

[2021-05-20 20:31] ludofischer commented on #1113
As a workaround you can change the z-index from `999` to `99` (or `9999`). I believe the issue is that the new color parser we introduced in the release interprets  any number that could work as a hex color as a hex color, so any sequence of 3, 4, 6 or 8 digits will get a hex in front or potentially convert to an `rgb()` value.

[2021-05-21 04:58] MilanAryal opened #1119 "[Bug] : Unexpected hashes (#) were added in minified CSS"
**Description**
After updating cssnano to v5.0.3, an unexpected hashes (#) were added in minified CSS.

**Expected behavior**

<img width="260" alt="Screenshot 2021-05-21 103701" src="https://user-images.githubusercontent.com/9361180/119083873-83ed0300-ba20-11eb-88b9-be34c3b1a053.png">

**Unexpected result**

<img width="269" alt="Screenshot 2021-05-21 103246" src="https://user-images.githubuserco

[2021-05-21 06:29] ludofischer commented on #1119
This is a duplicate of #1115.

[2021-05-21 06:29] #1119 closed

[2021-05-21 07:05] akoreh opened #1120 "[Bug] : postcss-colormin change to colord parser breaks rgba colors with variable alpha"
**Describe the bug**
Given the folowing color definition:

[code]

Parsing with the new `colord` package gives an alpha of 1 every time (this occurs if the variable is not included in the parse aswell).

` {parsed: Object {r: 51, g: 153, b: 255, a: 1}, rgba: Object {r: 51, g: 153, b: 255, a: 1}}`

This will then trigger the plugin to go through the normal flow and turn the rgba definition into hex

[2021-05-21 08:15] ludofischer commented on #1120
Thank you for the bug report and sorry for the breakage. @omgovich I think this could be adressed at the colord level.

[2021-05-21 09:00] omgovich commented on #1120
Hey @ludofischer. Sorry for the headache. Colord was created for a bit different purposes and I didn't expect it will be used inside of CSS processing, but I will do my best to make it fit better to cssnano.

I am already working on parsers that will follow the specs. I am going to come back to you later today with some news, but I would recommend to release a small temporary workaround.

[2021-05-21 09:14] RettentoRectangle commented on #1115
In our css file:

![cssfile](https://user-images.githubusercontent.com/42135870/119113431-62424a80-ba25-11eb-8d2c-b89667d599a5.png)

In browsers:

![customvariables](https://user-images.githubusercontent.com/42135870/119113241-2effbb80-ba25-11eb-82f0-8a91bb4d7aee.png)

Time to going back to scss variables?! :D

[2021-05-21 09:25] victordc55 commented on #1115
The same is happening with stroke-dashoffset and stroke-dasharray with values like:
`.svg-element{
stroke-dashoffset:400;
stroke-dasharray:398 400}
`
being compiled to
`
.svg-element{stroke-dashoffset:#400;stroke-dasharray:#398 #400}
`

[2021-05-21 09:34] ludofischer commented on #1120
No worries. So far I think there are only two separate issues;

1. colord interpretes any sequence of 3/6/4/8 digits as a color
2. colord ignores CSS variables as if they were rando texts

https://github.com/cssnano/cssnano/pull/1118 should fix both now

[2021-05-21 09:37] ludofischer commented on #1115
It's interpreting every sequence of 3/4/6/8 digits into a color

[2021-05-21 10:14] victordc55 commented on #1115
Then why are font-weights staying the same? Are they processed diferently?

[2021-05-21 10:21] RettentoRectangle commented on #1115
Everything works fine after disabling colormin:
(temporary fix).

require('cssnano')({
  preset: [
    'default',
    {
      **colormin: false**
     }
  ]
})

[2021-05-21 10:25] ludofischer commented on #1115
That's a good question. I have looked into the code and it turns out the colormin skips font declaration explicitly:
https://github.com/cssnano/cssnano/blob/8a31ca38796e12e6fe52620cf8a545cb058fe295/packages/postcss-colormin/src/index.js#L86
So maybe there was an initial attempt at skipping declarations where a color cannot appear, but no one updated the list so it ended up relying on the color lib

[2021-05-21 10:34] camillalo opened #1121 "[Bug] : translate z-index:100 to z-inde: #100"
**Describe the bug**
when i use 'cssnano-preset-default' or 'cssnano-preset-advanced', this value of 'z-index' will be transformed by 'colord' as a valid color value.

**Code**
[code]
then:
[code]

[2021-05-21 10:38] victordc55 commented on #1115
So a temporary fix would be adding more declarations to skip or use @RettentoRectangle  solution of disabling colormin.

[2021-05-21 10:40] ludofischer commented on #1115
Disabling colormin fixes the problem without having to change the source code.
There's already a pull request with a fix https://github.com/cssnano/cssnano/pull/1118 It skips numbers if `colord` sees them as hex values but they don't start with `#`.

[2021-05-21 10:46] romainmenke commented on #1120
Maybe just roll back the change? :)
Appreciating all the effort that is going into getting this resolved, but a roll back would stop the issue stream.

[2021-05-21 11:13] ludofischer commented on #1120
That's also an option. @alexander-akait what do you think?

[2021-05-21 11:17] ludofischer commented on #1121
Duplicate of https://github.com/cssnano/cssnano/issues/1113

[2021-05-21 11:17] #1121 closed

[2021-05-21 12:40] omgovich commented on #1120
Hey guys! I just made Colord's string parsers conforming to the CSS specs.
It's going to be even wiser than `color` you used to import before since `color` doesn't support some syntaxes like `"rgb(50% 50% 50%)"` which is absolutely valid color.

[2021-05-21 13:34] alexander-akait commented on #1120
@omgovich Big thanks for helping and great work

[2021-05-21 14:23] m-e-h opened #1123 "[Bug] : count property of `columns` shortand gets removed"
**Describe the bug**
A clear and concise description of what the bug is.
`columns: 2 200px` gets transformed into `columns: 200px`, removing the 'count' property.
`columns: 200px 2` produces the same result.

**To Reproduce**
Steps to reproduce the behavior:

1. Run cssnano over the above CSS.

**Expected behavior**
A clear and concise description of what you expected to happen.
I'd expect the cou

[2021-05-21 15:32] enrique-ramirez commented on #1113
Just to add my two cents: I have an issue where my `:root` variables are being added the # as well. I store my variables as rgb values like this:

[code]

This gets converted to the following:

[code]

[2021-05-21 16:07] ludofischer commented on #1123
Thak you for the bug report! For once this does not seem related to colormin (I have tried to add a test for it on master and it passes).

[2021-05-21 16:10] #1113 closed

[2021-05-21 16:10] #1115 closed

[2021-05-21 16:10] #1120 closed

[2021-05-24 20:38] #1112 closed

[2021-05-29 13:45] internalsystemerror commented on #1049
Using `@fortawesome/fontawesome-free` I am able to reproduce this error:

Works:
[code]

Fails:
[code]

[2021-05-29 15:17] alexander-akait commented on #1049
@internalsystemerror What is the error?

[2021-05-29 16:12] internalsystemerror commented on #1049
same as the OP `Error in parsing SVG: Text data outside of root node.`. There are other SVGs being inlined which don't throw this error, there is something specific about the SVG included in `regular.scss` and I'm trying to figure out what exactly. I don't believe its because the SVG itself is invalid, though that may of course be a possibility.

[2021-05-29 16:22] alexander-akait commented on #1049
Can you show `regular.scss` code, looks like SVG invalid itself or bug in svgo, also can you provide version of `cssnano`?

[2021-05-29 16:30] internalsystemerror commented on #1049
cssnano v5.0.5

I'll share what I can now but I'll have to get back with the specific generated css on Monday. Note, that the `brands.scss` also includes an SVG which is being inlined without throwing an error.

From: https://github.com/FortAwesome/Font-Awesome/blob/5.15.3/scss/regular.scss

[code]

And the SVG being inlined: https://github.com/FortAwesome/Font-Awesome/blob/5.15.3/webfonts/fa-regu

[2021-06-04 12:48] corradin opened #1141 "[Bug] : High vulnerability ReDoS in normalize-url in cssnano 4"
There is a Regular Expression Denial of Service (ReDoS) vulnerability in the normalize-url dependency.

The vulnerability has been fixed in normalize-url versions: `6.0.1`, `5.3.1` and `4.5.1`

The latest version of postcss-normalize-url (`5.0.1`) still uses the unfixed version of normalize-url (`4.5.0`). This vulnerability can be fixed by including version `4.5.1`, `5.3.1` or `6.0.1`, see: https:

[2021-06-04 13:10] alexander-akait commented on #1141
Please update `cssnano` to v5

[2021-06-04 13:15] ludofischer commented on #1141
Hi, thank you for the reminder. You do not need to wait for cssnano to update the dependency , `postcss-normalize-url` accepts all minor and patch updates of `normalize-url` 4 (because of the caret in front of the version number):
https://github.com/cssnano/cssnano/blob/36cef9255ec532a4a47f1d776c1a792bae64c1b4/packages/postcss-normalize-url/package.json#L27
so you can run `npm update normalize-url

[2021-06-04 13:23] corradin commented on #1141
Thanks for the responses. I am depending on version `4.1.11` of cssnano (through another package) and that version includes the following: ` "postcss-normalize-url": "^4.0.1"`
Is it an option to update this to `4.5.1` or `^4.5.0`?

[2021-06-04 13:25] corradin commented on #1141
Thanks for the responses. I am depending on version `4.1.11` of cssnano (through another package) and that version includes the following: ` "normalize-url": "^3.0.0",`
Is it an option to update this to `4.5.1` or `^4.5.0`?

[2021-06-04 13:28] alexander-akait commented on #1141
Why? Please read how semver works

[2021-06-04 13:31] corradin commented on #1141
@alexander-akait Sorry, I think you misunderstood my question.
I am depending on version `4.1.11` of cssnano in which cssnano includes version `3.0.x` of normalize-url.
Instead of including version `3.0.x` would it be possible to include `^4.5.0`?

[2021-06-04 13:39] ludofischer commented on #1141
I think it's unlikely we'll update cssnano 4. version 4 is not really maintained any more. Besides, as far as I can see,  the attacker would need to inject maliciously crafted URLs in the CSS you pass to cssnano. I you use `normalize-url` as part of your build it is going to run on trusted input (your own CSS), so the issue is limited.

[2021-06-04 14:52] #1141 closed

[2021-06-05 18:49] ludofischer commented on #1123
I can reproduce it but I don't know yet which plugin is causing this.

[2021-06-05 20:13] ludofischer commented on #1123
Found it! `postcss-ordered-values` breaks the `columns` declaration.

[2021-06-07 13:11] #1123 closed

[2021-06-07 13:13] romainmenke commented on #1123
Thank you @ludofischer ! 🎉

[2021-06-08 14:09] Edge00 opened #1146 "[Bug] : Some CSS keys were merged"
before -> after
`padding-bottom` were merge however `width` were not

![image](https://user-images.githubusercontent.com/23715779/121199607-a77bce80-c8a5-11eb-8f1b-4ef81270a81f.png)

[2021-06-09 04:50] keerthiannappa opened #1147 "Vulnerability - normalize-url : ReDos"
I would like to report a vulnerability.

  High            Regular Expression Denial of Service

  Package         normalize-url

  Dependency of   cssnano [dev]

  Path            cssnano > cssnano-preset-default > postcss-normalize-url >
                  normalize-url

  More info       https://npmjs.com/advisories/1755

[2021-06-09 05:21] keerthiannappa commented on #1147
Sorry, i updated the package to latest version and it cleared the vulnerability.

[2021-06-09 05:21] #1147 closed

[2021-06-09 17:04] adamwathan commented on #1106
Sorry for jumping into a closed issue, especially if this isn't even the same thing but I'm getting people complaining about vulnerability warnings in Tailwind that appear to come from cssnano but I can't even understand why.

Here's a project where I've just pulled in cssnano ^5 and no other packages, and `npm audit` shows 6 high severity vulnerabilities:

<img width="1037" alt="image" src="https

[2021-06-09 17:35] ludofischer commented on #1106
@adamwathan  Maybe what you're experiencing is in part a different issue than what your users are seeing. I cannot reproduce your example  (but it got me worried that I've bungled a release completely!): it looks like an old nightly release of `cssnano-preset-default` ended up in the dependency tree. But when I install cssnano@^5.0.5. I receive cssnano-preset-default^5.1.2 (`package.json` in cssna

[2021-06-10 07:22] Edge00 commented on #1146
https://github.com/cssnano/cssnano/issues/967

[2021-06-10 07:22] #1146 closed

[2021-06-15 16:06] slowbeat92 commented on #1102
Hi, @stagefright5  just to share, I had the same problem as yours in my application.
After some debugging, I noticed that the problem was due to the fact that the missing value of the tag was recovered from a map and the key that I was using was not present in the map.

Hope it helps!

[2021-06-17 05:55] KID-joker commented on #1049
When I use `css filter`, the same error occurs.
[code]

[2021-06-17 06:20] TrySound commented on #1049
`char #` looks like svgo get reference (`#id`) instead of svg string.

[2021-06-19 07:40] jonnitto commented on #1049
It happens if I use https://www.npmjs.com/package/pleeease-filters

[2021-06-21 20:05] ludofischer commented on #1098
If you want to be able to enable any plugin from a single package, we could fold the different plugins into a single package. Imagine having a single `OnceExit` where at every step (declaration, etc). we apply every relevant transformation in order. I think it would make the code easier to read and to maintain and probably faster  (accordinng to a benchmark I've seen it's twice as slow as the othe

[2021-06-22 11:10] alexander-akait commented on #1098
@ludofischer Yes, once upon a time it was my idea for perf improvements, idea was - remove presets and refactor postcss plugins to functions and use them inside `cssnano`, maybe we can do it now too without breaking change (under option(s))

[2021-06-22 12:26] ludofischer commented on #1098
Yes!  To see if we can avoid any breaking changes I would need to understand how the current configuration works in practice, because I think it does not work as the current docs say. There are a few bugs open (https://github.com/cssnano/cssnano/issues/1055, https://github.com/cssnano/cssnano/issues/904), but maybe it might be better to keep it working as it does now, 'fixing` to do as the docs sa

[2021-06-22 12:35] alexander-akait commented on #1098
Sounds good :+1:

[2021-06-24 15:49] AlanBreck commented on #1106
Has this been resolved? I'm still getting vulnerability warnings from `npm audit`:

[code]

[2021-06-24 15:57] alexander-akait commented on #1106
Open an issue in `css-what`

[2021-06-26 15:46] stagefright5 commented on #1102
What @slowbeat92 said turned out to be the issue. My bad. I'm closing this issue.

Thanks

[2021-06-26 15:46] #1102 closed

[2021-06-27 13:57] ludofischer commented on #1105
I cannot reproduce this with cssnano 5.0.6. Are additional rules required to trigger this?

[2021-06-27 14:39] ludofischer commented on #995
Cannot reproduce it any more in 5.0.6, closing it for now although I am not sure how it was fixed.

[2021-06-27 14:39] #995 closed

[2021-06-27 16:57] sigveio commented on #1105
I was able to recreate the behaviour by creating a fresh Angular app using their CLI tool, which used cssnano 5.0.6, adding the provided input to `src/styles.css` and running `npm run build`

But I would argue that...

Is false. Because these are equivalent:

[code]
(ref: https://www.w3.org/TR/mediaqueries-5/#media-query-list)

When no media type is provided, it defaults to all. Hence it is a shor

[2021-06-28 08:42] sigveio commented on #1105
I investigated this a bit further since I was curious about why the `all` was removed with Angular's implementation and not when I initially fired up a simple test with standalone webpack and cssnano to reproduce.

Angular uses `css-minimizer-webpack-plugin` which in turn uses `cssnano` with `cssnano-preset-simple`. This preset includes the plugin `postcss-minify-params` which takes care of cleani

[2021-06-30 13:01] wszydlak commented on #742
Could you provide issue number in postcss-calc? Is this already fixed?

[2021-07-02 17:35] #991 closed

[2021-07-03 13:00] sigveio opened #1157 "Pull request template"
Could it be worth having a pull request template to help encourage/guide submitters to follow guidelines and provide relevant information?

I made a [suggestion/example](https://github.com/sigveio/cssnano/blob/9df673bfb1c0af2c7606e438eec9123dc48bf935/.github/pull_request_template.md) but thought I would ask for feedback before submitting a PR

[2021-07-03 13:06] sgon00 opened #1158 "[Feature Request] Is that possible to use cssnano cli directly without any config file?"
Is that possible to do something like?

[code]

I knew https://github.com/cssnano/cssnano/tree/master/packages/example-cli-usage

But I don't want to do that.

I don't do any node.js programming too.

I am using `uglifyjs` and `html-minifier`. Both provide pure cli tool directly.

Thanks a lot.

[2021-07-03 13:24] sigveio commented on #1158
To understand you better; could you explain why you do not wish to do what the `example-cli-usage` shows?

If you use the `postcss.config.js` there, you should be able to do what you wish like this:

[code]

[2021-07-03 13:34] sigveio commented on #1158
If you use Yarn, you could remove the input/output part of the script definition in `package.json` like this:

[code]

(And have the same `postcss.config.js` file so that cssnano is loaded as plugin)

And then run it like this:

[code]

[2021-07-03 13:49] sgon00 commented on #1158
@sigveio Thank you very much for your quick reply.
The reason why I don't want to use it might because of personal preference and because I am not running nodejs projects.

1. I am using shell scripts to do website build automation. It's better not to have other `.js`, `.json` config files.
2. I don't do node.js programming. By looking at the config file, I don't understand the syntax `module.expo

[2021-07-03 13:49] #1158 closed

[2021-07-03 14:47] sigveio commented on #1158
No problem @sgon00 - I only read the issue text and didn't see the "without any config file" from the title at first, so I just wanted to understand better why the CLI example wasn't suitable for you. :-)

I believe you are either way using node under the hood with those other CLI tools you mention.

For example, when uglifyjs is installed as a global CLI tool you can see it's just a symlinked nod

[2021-07-03 15:10] sgon00 commented on #1158
@sigveio got it. Thank you very much for the detailed explanation and answer. 😀

[2021-07-03 16:12] sigveio opened #1159 "[Feature Request] Replace html2plaintext dependency in postcss-reduce-initial"
## Is your feature request related to a problem? Please describe.

I noticed that the acquire tool in `postcss-reduce-initial` which builds the from/to JSON files depends on the package `html2plaintext` which has a transitive dependency of a vulnerable `css-what` version.

So I headed over to their [repo](https://github.com/kurttheviking/html2plaintext) - and it's not been updated for 3 years.
Fro

[2021-07-03 16:24] alexander-akait commented on #1159
Yep PR welcome

[2021-07-03 17:11] ludofischer commented on #1157
I think it would be a good idea. I was also thinking the issue template could use some improvement. For example, it says to post screenshots so people end up posting a screenshot of the problematic code, which I think is worse than copy paste as it forces you to re-type it.

[2021-07-03 18:26] sigveio commented on #1157
Yeah I agree with you that they could also do with some tweaks.

For example using Markdown headings instead of bold for the various headings would be cleaner too.

[code]
Do you know what this is intended to mean (from the bug template)?

[2021-07-03 19:23] sigveio commented on #1159
Aight, coming up :-)

Should I also regenerate `fromInitial.json` and `toInitial.json` while I'm at it?

There's various additions and a few deletions/changes since it was last generated. (All tests passes with them)

[2021-07-04 14:14] ludofischer commented on #1159
I think you've got to include the changes to `fromInitial.json` and `toInitial.json`, else we cannot check if the result is still correct. I have never looked into `reduce-initial` in detail, but from a cursory look I am not surprised the tests pass, since the tests check the output against the `json` files. I think we need to inspect the files by hand and see if the changes make sense.

[2021-07-04 17:46] sigveio commented on #1159
Yeah, you are right about that. So if you don't mind, I would like to refactor the acquire script a bit more heavily to make it testable - and pair it with a test suite of its own. Then generation of those files could perhaps also be automated at some point - so they are always kept up to date. Having test coverage would also make it easier for some future contributor to maintain/refactor with con