[2018-07-05 14:17] wroughtec opened #537 "BrowserslistError: Unknown version 67 of android"
Going from `4.0.0-rc.2` to `4.0.0` I get the following error:

[code]
When compiling with webpack. My browerslist config is as follows:
[code]

[2018-07-05 14:18] evilebottnawi commented on #537
/cc @ai

[2018-07-05 14:19] evilebottnawi commented on #408
Please open new issue, don't write here if you have problem after upgrade.

[2018-07-05 14:19] #408 closed

[2018-07-05 14:20] evilebottnawi commented on #537
@wroughtec try to update you dependencies and lock file

[2018-07-05 14:46] wroughtec commented on #537
ok combinging in the lock file seems to have resolved:
[code]

[2018-07-05 14:55] evilebottnawi commented on #537
@wroughtec problem still exists?

[2018-07-05 15:29] ai commented on #537
Seems like Browserslist used in wrong way `browserslist(browserslist))`.

I will look on weekend.

[2018-07-05 15:31] ai commented on #535
@Siilwyn yeap, but we need to keep order of any longhand/shorthand properties

[2018-07-05 16:54] ai commented on #537
The problem is here: https://github.com/cssnano/cssnano/blob/8d8a8e7875c2619cb02463985ea8e8d0979a3cfd/packages/postcss-reduce-initial/src/index.js#L18

First, you use Browserslist A to generate browsers. Then you pass these browsers for `caniuse-api` with Browserslist B. Browserslist A and Browserslist B could have different versions and use different `caniuse-lite` DBs.

I am thinking about the s

[2018-07-05 16:58] ai commented on #537
I think, the best way will be:

[code]

But `env` and `stats` options will not work. In other hand, people should use env variables `BROWSERSLIST_STATS=path npx gulp css`, since anyway most of toools doesn’t support this options.

[2018-07-05 17:00] evilebottnawi commented on #537
@ai can you send fix?

[2018-07-05 17:02] ai commented on #537
@evilebottnawi sure https://github.com/cssnano/cssnano/pull/538

[2018-07-06 08:01] wroughtec commented on #537
@evilebottnawi yes I managed to resolve if I pointed to the latest versions of canIuse db and lite. But a bit of a manual process, hopefully #538 resolves without the need to do this

[2018-07-07 07:42] sailei1 commented on #537
the same problem, how to  fix?

[2018-07-07 07:43] ai commented on #537
@sailei1 update to `css-loader` 1.0.

[2018-07-08 03:14] ylemkimon commented on #537
@sailei1 Try to dedupe the `caniuse-lite` version using `npm dedupe` or manually editing `package-lock.json` or `yarn.lock`.

[2018-07-08 03:37] ylemkimon commented on #537
@ai Correct me if I'm wrong, but does `cssnano` use `caniuse-lite`?

[2018-07-08 03:38] ai commented on #537
@ylemkimon some of `cssnano` plugins use `browserslist` and this `browserslist` uses `caniuse-lite`

[2018-07-08 08:48] ylemkimon commented on #537
@ai Ah, then I think `caniuse-lite` should be peer dependency of them.

[2018-07-08 09:03] ai commented on #537
@ylemkimon, unfortunately, it will not fix the conflict. Look how people uses Browseslist:

1. `css-loader` → `cssnano` → `browserslist` → `caniuse-lite`
2. `autoprefixer` → `caiuse-lite`

So there are many deep branches in npm dependencies tree to `caniuse-lite`. It is just impossible to add `peerDependency` to every tool inside branches. Just send them a PR with `ignoreUnknownVersions` option (B

[2018-07-08 14:00] ngyikp opened #539 "No longer bundled with css-loader 1.0.0, documentation might need updating"
https://cssnano.co/guides/getting-started/#webpack

https://github.com/webpack-contrib/css-loader/releases/tag/v1.0.0

[2018-07-09 16:18] selfagency commented on #537
i'm having this same issue, using cssnano@4.0.0-rc.2 and 4.0.0. where should a PR be submitted? i don't see broswerslist in the package.json for caniuse-lite. so who should be getting passed an option where?

[2018-07-09 16:21] ai commented on #537
@selfagency use `npm ls` to check your dependencies. Try to find any dependency branch with Browserslist < 3.0.

[2018-07-09 16:31] ai commented on #537
Oops, this is a different issue 😅

Nope, this issue was not solved. My PR is still open.

[2018-07-09 16:44] evilebottnawi commented on #537
Sorry, don't have fix it right now, a lot of regular work, feel free to send a PR

[2018-07-09 16:47] ai commented on #537
@evilebottnawi PR is not a problem (I sent it already). Main problem is to make the right way :(.

We need changes from `caniuse-api` (adding `ignoreUnknownVersions` and update Browserslist). But maintainer didn’t respond.

[2018-07-09 17:12] evilebottnawi commented on #537
@ai who is unavailable?

[2018-07-09 17:13] ai commented on #537
@Nyalab the maintainer of [`caniuse-api`](https://github.com/Nyalab/caniuse-api)

[2018-07-10 00:37] selfagency commented on #537
@ai i just hit him up on twitter

[2018-07-10 15:30] mission712 opened #540 "Bizzare output on "border" values"
Processing the following:
[code]
gives me the following.
[code]
Note things like `border:none currentColor;` and `border-bottom-width:var(--hovering-border);border-width:none none 1px;`.
This causes a weird border with the text color, while the unminified CSS doesn't have this issue.

PostCSS configuration:
[code]

[2018-07-10 15:33] evilebottnawi commented on #540
@mission712 PR welcome, will be great if you reduce example to small, it is allow other people have actual and expected output and easy and fast fix it

[2018-07-10 15:34] Nyalab commented on #537
i just release `caniuse-api@3.3.0`, let me know if this works for you now

@selfagency i did not receive anything, i think you hit the wrong guy 😄

sorry for the delay guys, i just had my second baby, time passes very quickly these days, anyway, i'm back for good now, tell me if i can do more to help you

[2018-07-10 15:36] selfagency commented on #537
@Nyalab not you?
![screenshot 2018-07-10 11 36 04](https://user-images.githubusercontent.com/2541728/42520893-72696b60-8435-11e8-8d90-4a145b8f13e4.png)

[2018-07-10 15:39] Nyalab commented on #537
omg that is me indeed! but as you can see my last mention is from the 2nd of july, is twitter broken or what?
<img width="956" alt="screen shot 2018-07-10 at 17 37 55" src="https://user-images.githubusercontent.com/721993/42521025-14971ce8-8468-11e8-9c68-5083b8dd6e06.png">

[2018-07-10 15:42] selfagency commented on #537
do you happen to have the quality filter on?

[2018-07-10 15:43] Nyalab commented on #537
yes, i had it on, wtf is that setting, you actually may be the type of mention i want to show, not to hide!

[2018-07-10 15:44] selfagency commented on #537
it hides people from your mentions that have received past temporary suspensions

[2018-07-10 15:46] selfagency commented on #537
anywho this solved the problem with cssnano, but @ai, now there's a problem with postcss-merge-rules which uses caniuse-api@2.0.0 and pixrem@4.0.1 which uses browserslist@2.11.3.

[2018-07-10 15:57] ai commented on #537
@selfagency thanks for PR 👍

[2018-07-10 16:54] evilebottnawi commented on #537
@ai updating `caniuse-api` to latest version should solve problem?

[2018-07-10 16:55] ai commented on #537
1. Update `caniuse-api`
2. Call it with `ignoreUnkownVersions: true`

[2018-07-10 19:19] ai commented on #537
@selfagency `postcss-merge-rules` is in cssnano repo https://github.com/cssnano/cssnano/blob/e12db214a481ba286eff0b3365f9cdbc1c804a5f/packages/postcss-merge-rules/README.md

[2018-07-10 20:14] selfagency commented on #537
@ai oh i submitted my pr [here](https://github.com/ben-eb/postcss-merge-rules/pull/60) which i thought was the source

[2018-07-11 00:05] virzak opened #541 "Warnings after upgrading to 4.0.0"
Getting these warnings. Not sure why:

[code]

[2018-07-11 07:41] webcarrot commented on #537
For yarn users - add this to "main" package.json (yolo mode but work well):
[code]

[2018-07-11 10:22] evilebottnawi commented on #541
@virzak reinstall you dependecies and update lock file, `rm -r package-lock.json && rm -r node_modules && npm cache clear --force && npm i`. Feel free to feedback.

[2018-07-11 11:46] virzak commented on #541
The issue us still there. I ran

[code]

[2018-07-11 12:15] evilebottnawi commented on #541
@virzak can you create minimum reproducible test repo?

[2018-07-11 13:14] evilebottnawi commented on #537
Somebody can test with `cssnano@4.0.1` version and confirm what bug was fixed?

[2018-07-11 13:40] #539 closed

[2018-07-11 14:03] mo commented on #537
I upgraded a mid-size webapp to css-loader 1.0 with cssnano 4.0.1 now and everything went smoothly (43 E2E tests passing and CSS minifications works as expected when I deploy to my staging server). I ran into the "version 67 of android" on my previous attempt to upgrade this project so from what I can see this bug fix is working properly.

[2018-07-11 15:11] JaZo commented on #537
I can also confirm that updating to `cssnano@4.0.1` solves this issue. Thanks for the fix!

[2018-07-11 15:15] evilebottnawi commented on #537
Looks fixed. Feel free to feedback, thanks!

[2018-07-11 15:15] #537 closed

[2018-07-11 15:21] evilebottnawi commented on #540
@mission712 which version of `cssnano` you use?

[2018-07-11 15:36] JaZo commented on #540
I have this same issue.

Input:
[code]

Output:
[code]

Version: 4.0.1
Preset: default

[2018-07-11 15:42] evilebottnawi commented on #540
@JaZo thanks, looks bug, feel free to send a PR :+1:

[2018-07-12 07:47] weaintplastic opened #545 "`colormin` does change the actual color when transforming to hsl"
I did find a bug with `postcss-colormin` that causes the underlying color value to be different after transforming it to hsl(a).

### Setup
Let's say the input for `postcss-colormin` is`rgb(221, 221, 221)`. The `hex` representation of it is `#DDDDDD`.

### Expected Result
The correct `hsl` representation of this would be `hsl(0, 0%, 86.7%)` or `hsl(0, 0%, 86.6666667%)` to be more precise. Both `hs

[2018-07-12 11:08] evilebottnawi commented on #541
Please try to install `cssnano@4.0.1`

[2018-07-12 11:57] virzak commented on #541
cssnano@4.0.1 has the same issue. A bit short on time to create a minimum repo. Will try on the weekend.

[2018-07-12 12:15] andyjansson commented on #541
Is this a webpack issue? How are you using it?

[2018-07-12 12:16] evilebottnawi commented on #541
Looks on `critical` plugin, but i can't know why use this plugin on `node_modules`

[2018-07-12 13:16] virzak commented on #541
Using it similarly to this:

[code]

From: https://github.com/mui-org/material-ui/blob/master/pages/_document.js

[2018-07-12 21:07] equinusocio commented on #540
Similar issue here:

**input**
[code]

**output**
[code]

This is issue is blocking for me because i can't remove/override the `border-color: currentColor` property that cause a weird style corruption that block my releases :(

[2018-07-13 17:33] mission712 commented on #540
Yep, same as above. The `border-color: currentColor` causes a border around my divs that look ugly.

[2018-07-13 18:33] #545 closed

[2018-07-13 18:46] #540 closed

[2018-07-13 19:15] equinusocio commented on #540
@evilebottnawi It seems that `4.0.2` does not fix all cases. @mission712 Can you try with `4.0.2`?

I have the same issue, i get the ugly `border-color: currentColor;` property..

[2018-07-13 19:29] evilebottnawi commented on #540
@equinusocio can you create new issue and put minimum example?

[2018-07-13 19:30] evilebottnawi commented on #429
Please test with latest `cssnano` version and feel fre to create new issue if problem still exists, thanks!

[2018-07-13 19:30] #429 closed

[2018-07-14 12:47] equinusocio opened #550 "Unexpected border-color property when using custom properties."
Hi, it seems that `4.0.2` does not fix this issue. When using a custom property as value of any `border*` property **cssnano** adds a `border-*-color: currentColor` property that cause ugly style and can't be overwritten. The optimisation that cause this issue is `postcss-merge-longhand`. Right now the only way to avoid this issue is to disable this optimisation.

This issue is blocking for me bec

[2018-07-14 13:00] andyjansson commented on #550
I can't reproduce your results.

[code]

`input.css`:
[code]

`output.css`:

[code]

Check your lockfile?

[2018-07-14 13:17] equinusocio commented on #550
I edited the example to make things more clear, this my source code:

[code]

[2018-07-14 13:32] andyjansson commented on #550
Have you tried the following?

[code]

[2018-07-14 19:57] equinusocio commented on #550
Still get this issue... :(

[2018-07-14 20:37] andyjansson commented on #458
Reopening this since #479 didn't correctly solve the issue.

[2018-07-16 06:53] JaZo commented on #550
I can't reproduce it either, `4.0.2` fixed the issue for me.

[2018-07-16 10:12] evilebottnawi commented on #550
Can't reproduce :confused:

[2018-07-16 10:29] mission712 commented on #550
@equinusocio I cannot reproduce anymore, I'd suggest the same as above: maybe your packages are outdated. I did: `$ npm i --save cssnano@4.0.2`, maybe try that?

[2018-07-16 10:39] mission712 commented on #550
Just tested and yes, I can't reproduce, the ugly borders are gone.

[2018-07-16 10:42] evilebottnawi commented on #550
Looks fixed, feel free to feedback if you still have problem

[2018-07-16 10:42] #550 closed

[2018-07-17 02:57] andyjansson opened #551 "Incorrect merging of border declarations"
As originally reported [here](https://github.com/ben-eb/postcss-merge-longhand/issues/26):

# Case 1

## Input

[code]
## Output

[code]
## Expected

[code]

# Case 2

## Input

[code]
## Output

[code]
## Expected

[code]

Thanks to @apriljunge and @implico for reporting these issues.

[2018-07-17 10:06] #551 closed

[2018-07-17 14:10] hudochenkov opened #553 "mergeLonghand breaks border-color"
`mergeLonghand` breaks CSS in `cssnano@4.0.2`.

Input:

[code]

Output:

[code]

`currentColor` is black by default, so instead of transparent, we have black.

[2018-07-17 14:11] hudochenkov opened #554 "mergeLonghand removes things it shouldn't remove"
`mergeLonghand` removes CSS in `cssnano@4.0.2`.

Input:

[code]

Output:

[code]

[2018-07-17 16:01] vseguin commented on #554
@hudochenkov Do you have any workaround? Did you downgrade meanwhile?

[2018-07-17 16:03] hudochenkov commented on #554
@vseguin I disabled this rule:

[code]

[2018-07-17 16:13] virzak commented on #541
Here is the minimal demo:

https://github.com/virzak/cssnano-issue-541

It is based on this example:
https://github.com/zeit/next.js/tree/canary/examples/with-typescript

Warnings disappear when you roll back to version 3.10.0

A few additional issues:
I am forced to add these lines to next.config.js:

https://github.com/virzak/cssnano-issue-541/blob/81903dab459db3b96c58ab5a15165c81de743a13/next.c

[2018-07-17 16:52] evilebottnawi commented on #554
/cc @andyjansson

[2018-07-17 16:53] vseguin commented on #554
@hudochenkov  worked for me, thank you so much!

[2018-07-17 20:17] andyjansson commented on #554
Looking into this.

[2018-07-17 20:17] andyjansson commented on #553
Looking into this.

[2018-07-18 09:50] #553 closed

[2018-07-18 09:50] evilebottnawi commented on #554
Done in https://github.com/cssnano/cssnano/pull/555

[2018-07-18 09:50] #554 closed

[2018-07-18 10:32] evilebottnawi commented on #554
Fixed in `cssnano@4.0.3`

[2018-07-18 10:32] evilebottnawi commented on #553
Fixed in `cssnano@4.0.3`

[2018-07-18 10:35] evilebottnawi commented on #411
@andyjansson Looks we should ignore merge rule inside `@supports`

[2018-07-18 10:41] evilebottnawi commented on #142
@andyjansson We already use `postcss-calc` for this, looks we just should add tests and close issue

[2018-07-18 11:16] hudochenkov commented on #554
Thank you for a quick fix!

[2018-07-18 11:16] hudochenkov commented on #553
Thank you for a quick fix!

[2018-07-18 12:48] bytasv opened #556 "CSS rule gets removed entirely"
Hello,

I'm running dev and prod builds and using cssnano to minify css, here are screens of dev and prod versions output:

DEV:
[code]

PROD:
[code]

You can see that for some reason CSS nano decides to remove `border-bottom` rule (obvious visual flaw appears)

I'm pretty sure this is an issue as it shouldn't drop rules like that. I've tried using both presets `default` and `advanced` none behave

[2018-07-18 12:53] evilebottnawi commented on #556
@bytasv please try `cssnano@4.0.3`, we should fixed this in new version

[2018-07-18 13:36] bytasv commented on #556
@evilebottnawi

[code]

I've checked it :(

[2018-07-18 13:43] evilebottnawi commented on #556
/cc @andyjansson looks bug again :disappointed:

[2018-07-18 14:18] bytasv commented on #556
@evilebottnawi I'm trying to disabled offending rule like so:
[code]
But it doesn't change the output, the rule is still removed. Shouldn't disabling this rule prevent it from happening?

[2018-07-18 14:32] evilebottnawi commented on #556
@bytasv right now now, a lot of work, feel free investigate problem and send PR with fix this bug

[2018-07-18 14:58] bytasv commented on #556
I've tried a bunch of different configurations nothing seems to affect the output, maybe it's a whole setup with plugin and cssnano... I didn't figure out. Eventually I decided to go and use `css-loader` with `minimize: true` option and it seems that the resulted output size of the CSS was almost identical to the one outputed with `optimize-css-assets-webpack-plugin` using `cssnano` (interesting)

[2018-07-18 16:44] andyjansson commented on #556
Can't reproduce.

**Input**

[code]

**Output**

[code]

[2018-07-18 17:02] evilebottnawi commented on #556
/cc @bytasv maybe you have multiple cssnano (old version)? Can you put `package-lock.json` file here?

[2018-07-19 11:03] bytasv commented on #556
Here is the [lock file](https://pastebin.com/G3knTCV8)

I do see cssnano with older version being used by the webpack plugin. However I tried modifying cssnano source directly in my node-modules and it logged out string, so it should be using latest version that I've installed and passed to the plugin. I'm now wondering, maybe it picks up wrong dependencies, like broken presets or something like t

[2018-07-19 13:57] andyjansson commented on #556
Closing this for now, seeing as it seems like an outdated dependency.

[2018-07-19 13:57] #556 closed

[2018-07-19 15:08] ZhangYiJiang opened #557 "mergeLonghand incorrectly merges border"
Reproduced using just the default preset

[code]

gets turned into

[code]

The `border` in the middle is gone. This is an incorrect transformation. This does not happen if `mergeLonghand` is disabled.

Reproduced on 4.0.0 and 4.0.3. Does not reproduce in 3.10.0

[2018-07-19 15:11] evilebottnawi commented on #557
/cc @andyjansson again bug with border, maybe better disable border by default?

[2018-07-19 15:12] evilebottnawi commented on #458
/cc @andyjansson can we put example how we minify this right now and what expected

[2018-07-19 19:12] bytasv commented on #556
@evilebottnawi I tried removing yarn.lock file, node_modules, clean yarn cache and do a clean install, however it is still resolving to the wrong version of longhand:
`cssnano-preset-default` is the one which depends on it, however it is a direct dependency of `cssnano` itself.
As I understand it - cssnano points at wrong version of the preset therefore it is a bug, no?
Or can you tell me how can

[2018-07-19 19:16] evilebottnawi commented on #556
@bytasv `yarn cache clean/npm cache clear force` and remove lock file and again install

[2018-07-19 19:17] evilebottnawi commented on #556
For next release i will update packages version in presets to avoid this situation

[2018-07-19 19:50] bytasv commented on #556
@evilebottnawi ok, I'm feeling really bad now, I think it was an issue with my `dist` folder not being updated properly after clean install, seems to be working well now. Thanks a lot for all the patience ❤️

[2018-07-20 07:07] Diablohu opened #559 "mergeLonghand bug for converting currentColor"
source:
[code]

output:
[code]

Result is OK when `mergeLonghand` disabled

[2018-07-20 10:38] Diablohu commented on #559
test on 4.0.3

[2018-07-20 14:18] #559 closed

[2018-07-21 07:01] kleinfreund commented on #556
I’m experiencing the same issue and can only resolve it with `mergeLonghand: false`.

[code]
Output:

[code]

[2018-07-21 07:12] kleinfreund opened #561 "border-width custom property is dropped from border shorthand"
**`test.js`**:

[code]

**`input.css`**:

[code]

Actual **`output.css`**:

[code]

Expected **`output.css`**:

[code]

Versions:

- postcss 7.0.1
- cssnano 4.0.3

Similar issues:

- https://github.com/cssnano/cssnano/issues/550
- https://github.com/cssnano/cssnano/issues/556

Workaround:

[code]

[2018-07-21 11:47] evilebottnawi commented on #561
Should be fixed in master

[2018-07-21 12:10] kleinfreund commented on #561
Probably in commit 28d89b011f3a4671a77dfa93b563cc33af4206c9. Thanks for looking into it.

[2018-07-21 12:16] evilebottnawi commented on #561
/cc @andyjansson maybe we should add example above to tests?

[2018-07-21 18:19] #561 closed

[2018-07-25 09:31] oriSomething opened #564 "Minification removes <width> of border rule if it's a CSS Variable"
before:
[code]

after:
[code]

As you can see, the `var(--border-width)` part is gone.

The repo for the bug reproduction: [link](https://github.com/oriSomething/css-nano-bug/commit/e4c5d1c9b2020552edc2dc35da2c18fc4c2e53a7)

More details: You might not see `cssnano` as a direct dependency. But `optimize-css-assets-webpack-plugin` uses `cssnano` latest version for the minification

[2018-07-25 10:13] evilebottnawi commented on #564
/cc @andyjansson we already fix it? IF yes let's add tests

[2018-07-25 11:14] andyjansson commented on #564
Yup, it's already fixed in master.

[2018-07-25 11:53] #564 closed

[2018-07-25 11:54] evilebottnawi commented on #564
@oriSomething Already fixed in master, release will be today

[2018-07-25 14:43] nikwen opened #566 "Changelog mentions customizing caniuse browser selection; not documented anywhere"
According to the CHANGELOG, the following holds true:

  `postcss-reduce-initial` were enhanced with different behaviour depending
  on which browsers are passed.

However, I could not find any documentation on how to customize "which browsers are passed".

Could this please be documented and in the meantime be explained briefly in this issue?

[2018-07-25 14:46] evilebottnawi commented on #566
@nikwen it is internal change, you should just put `.browserslist` in your project and all

[2018-07-25 15:17] nikwen commented on #566
@evilebottnawi Thank you for your reply! I think that this should be documented somewhere. :+1:

As for my use-case, I will consider that option. I have a monorepo with multiple directories being built separately but using the same build process and thus I have avoided copying `.browserlistrc` files into each directory that I build (autoprefixer has a `browsers` option that I pass my browserlist c

[2018-07-25 15:43] evilebottnawi commented on #301
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-07-25 15:43] #301 closed

[2018-07-25 22:01] Yeti-or opened #567 "Remove comments with exclamation mark"
with bang:
[code]

without:

[code]

Expected behaviour:
comments with exclamation mark should be removed

[2018-07-25 22:02] Yeti-or commented on #567
Version:
[code]

[2018-07-25 22:08] Yeti-or commented on #567
checked on version 4.0.4, same problem:
[code]

[2018-07-25 22:08] andyjansson commented on #567
Working as intended. If you want to remove comments with an exclamation mark, set [`removeall`](https://github.com/cssnano/cssnano/tree/master/packages/postcss-discard-comments#removeall) to `true`.

[2018-07-25 22:08] #567 closed

[2018-07-25 22:09] Yeti-or commented on #567
oh I see know, sorry for that

[2018-07-25 22:10] andyjansson commented on #567
No problem.

[2018-07-26 13:24] actuallymentor opened #568 "::after content breaks because quotes are being encoded"
Hello!

Thanks so much for this wonderful package, it makes my life a lot easier :)

I'm running into an issue where:

[code]

Is being nanofied to:

[code]

Am I misconfiguring cssnano of does this quality as a bug?

[2018-07-26 13:34] evilebottnawi commented on #568
@actuallymentor looks like a bug, what version `cssnano` you use?

[2018-07-26 14:35] actuallymentor commented on #568
I'm using `4.0.2`.

[2018-07-26 14:40] actuallymentor commented on #568
I just updated to `4.0.4`, the issue still persists.

[2018-07-26 17:49] andyjansson commented on #568
I can't replicate.

**Input**

[code]

**Output**

[code]

[2018-07-26 19:15] andyjansson commented on #568
I'd advice you to check your lockfile. You're likely using outdated versions. I'm closing this for now.

[2018-07-26 19:15] #568 closed

[2018-07-27 08:08] actuallymentor commented on #568
All packages are at their latest stable versions.

cssnano is at:

[code]

The relevant .lock sections:

[code]

I've run a full `rm -rf node_modules && npm i`.

Old versions of what? I'm happy to dig.

[2018-07-27 08:19] andyjansson commented on #568
I can't reproduce your results: https://cssnano.co/playground/

Have you checked the versions of the other dependencies? Easiest way would be to delete your [package-lock.json](https://docs.npmjs.com/files/package-lock.json) or [yarn.lock](https://yarnpkg.com/lang/en/docs/yarn-lock/) and let it regenerate upon the next install.

Try one of the following:

**npm**:

[code]

**yarn**:
[code]

[2018-07-27 08:46] andyjansson opened #570 "Border minification throws error"
As originally reported [here](https://github.com/ben-eb/postcss-merge-longhand/issues/28#issuecomment-408350181):

[code]

throws the following error:

[code]

[2018-07-27 10:05] #570 closed

[2018-07-27 10:11] actuallymentor commented on #568
Hmm, that did not resolve the issue.

Could you try to reproduce using node `v10.4.1`? I have a sneaking suspicion something might be wrong there.

[2018-07-27 10:19] evilebottnawi commented on #568
@actuallymentor looks you have other minification for css too, do you use webpack?

[2018-07-27 11:12] andyjansson commented on #515
I see you nabbed the package name. That's unfortunate.

[2018-07-27 23:03] lukapopijac opened #572 "Wrong output when using css variables with border"
input:
[code]

output (clearly wrong):
[code]

[2018-07-27 23:50] andyjansson commented on #572
Looking into this.

[2018-07-30 04:09] #572 closed

[2018-07-30 17:19] lukapopijac commented on #572
This is still not fixed in 4.0.5

[2018-07-30 17:25] andyjansson commented on #572
One of the subpackages hasn't been published properly, that's the issue. Give us a moment.

[2018-07-30 17:38] evilebottnawi commented on #572
@andyjansson what package?

[2018-07-30 17:41] evilebottnawi commented on #572
I can release new version only tomorrow

[2018-07-30 18:00] andyjansson commented on #572
@evilebottnawi it's already been published with the help of @ai.

@lukapopijac If you update your `postcss-merge-longhand` dependency to `4.0.4`, you'll see that it's working now. You can also test it here: https://cssnano.co/playground/

[2018-07-30 18:08] lukapopijac commented on #572
It works now. Thanks!

[2018-07-31 09:31] ben-mckernan opened #574 "Feature: Order animation values"
Add support for ordering animation values to `postcss-ordered-values`

Input:
[code]

Output:
[code]

[2018-07-31 09:37] andyjansson commented on #574
`postcss-ordered-values` should be extended to support this.

[2018-08-01 15:42] nikwen commented on #566
I got around this personally by just placing `.browserlistrc` and `.postcssrc.js` files in the root directory of my project. The documentation part remains.

[2018-08-01 16:58] actuallymentor commented on #568
I dug deep and it turned out to be an issue with the pugjs parser.

Thank you very much for spending time on the debugging process and apologies to have misattributed the issue.

[2018-08-01 17:55] andyjansson commented on #568
Glad you found the cause of your issues.

You're welcome, and it's no bother at all. If you have any more problems or questions, don't hesitate to open an issue or hit us up at gitter.

[2018-08-02 10:52] #574 closed

[2018-08-02 12:44] selipasha opened #576 "Can't disable minification"
How can I disable minification? I don't need that and have no Idea how to turn it off

[2018-08-02 13:03] evilebottnawi commented on #576
@selipasha what you mean? Just don't use plugin

[2018-08-02 13:03] #576 closed

[2018-08-02 13:16] selipasha commented on #576
I mean I like the other feature of this plugin except minification

[2018-08-02 13:19] evilebottnawi commented on #576
@selipasha what features?

[2018-08-02 13:37] andyjansson commented on #576
@selipasha You can disable optimisations by passing options to the preset, as documented here:
https://cssnano.co/guides/presets#excluding-transforms

The optimisations enabled in each preset are listed here:
https://cssnano.co/guides/optimisations

For what reason do you wish to disable the optimisations, if you don't mind me asking? Did you run into a bug?

[2018-08-02 14:08] selipasha commented on #576
I can't see any option that disable minification. I have already an extesnion in Visual Studio Code that already minify css files, and I don't need another one. I just need disable cssnano minification in my gulpfile! I see that you barely understand me. I'm sorry my English isn't the best

[2018-08-02 14:11] andyjansson commented on #576
https://cssnano.co/optimisations/normalizewhitespace

[2018-08-02 14:28] selipasha commented on #576
I don't understand how to disable this, it's very hard and unclear. Here's a part of my code from my gulpfile, what should I type to disable "normalizeWhitespace" ?

[code]

[2018-08-07 13:18] MarvinXu opened #578 "Parse Error on "calc(env(safe-area-inset-bottom) * 3)""
cssnano version: latest(4.0.5)
(I used to use version cssnano@3.10.0, and it works fine)

my css code:
[code]
error msg:
![image](https://user-images.githubusercontent.com/7382357/43777243-bf732e72-9a84-11e8-8a09-cdffdfee86cc.png)

[2018-08-07 13:35] evilebottnawi commented on #578
@MarvinXu expected, you use non standard css, please move `cssnano` latest in postcss plugins.

[2018-08-07 16:00] andyjansson commented on #578
Please refer to this: https://github.com/MoOx/reduce-css-calc/issues/34

[2018-08-08 02:44] MarvinXu commented on #578
@evilebottnawi do u mean I should downgrade cssnano? but this seems to be a problem that should be solved anyhow

[2018-08-08 09:40] evilebottnawi commented on #578
@MarvinXu you should put cssnano as last postcss plugin, cssnano works only with standard css

[2018-08-08 10:35] kingback commented on #535
same problem when using `-webkit-background-size`

Input:

[code]

Output:

[code]

**And `-webkit-background-size` is overrided by `background`**

Expected output:

[code]

[2018-08-08 10:41] Siilwyn commented on #535
@kingback do you include prefixed properties in your source code?

Regarding the fixed order I think I'll have time to look into it tomorrow!

[2018-08-08 11:12] andyjansson commented on #578
@evilebottnawi `env()` and `constant()` is an iPhone X-only feature. It's not standard, but it's not exactly made up either. Either way, the issue lies with reduce-css-calc.

[2018-08-09 18:00] albertxing opened #579 "Invalid CSS output when combining border:none and border-color"
**Input:**
[code]
**Output:**
[code]
**Expected:**
[code]

Note: `border-bottom: none none red` is invalid.

And if you replace `border-bottom: none` with `border: none` the output is also invalid:
[code]

cssnano version: 4.0.5

[2018-08-09 19:18] andyjansson commented on #579
I'll try to have a look at it this weekend.

[2018-08-10 08:04] yansyjing commented on #247
the same problem

[2018-08-10 08:27] andyjansson commented on #247
This optimisation is only enabled in the advanced preset in cssnano 4. If you're using the default preset, this shouldn't be an issue.

[2018-08-10 09:41] blieque commented on #418
I'm still getting a 404 for `/usage/`. Similarly, I can't load `/options/`, or find any other API reference documentation for cssnano.

See ben-eb/gulp-cssnano#95.

[2018-08-10 09:51] andyjansson commented on #418
Yes, when we rewrote the website for the v4 release, we also implemented a new URL structure. The README.md for the 3.x release linked to the old website, but v4 has now been released so it shouldn't be an issue.

This is how you configure the presets: https://cssnano.co/guides/presets#options-syntax
This is what optimisations are available: https://cssnano.co/guides/optimisations

[2018-08-10 11:16] andyjansson commented on #418
I agree, there are many improvements to be done to the website and I've been planning to address them at some point. Unfortunately, we have more pressing issues which take priority.

[2018-08-10 15:03] blieque commented on #418
Once I get webpack + OptimizeCSSAssetsPlugin + cssnano + PostCSS + autoprefixer all working how they should, I'd be happy to write some kind of guide if it would save some others some time. From what I gather, this setup is pretty defacto for webpack bundling. Is there a good place this could go?

[2018-08-13 09:28] kingback commented on #535
yes, some legacy code use prefixed properties to compatible with old mobile devices, maybe we can remove the vendor prefix before sort properties

[2018-08-13 10:03] amatiasq opened #581 "Docs: optimizations configuration keys not clear."
I've been reading [the optimizations documentation](https://cssnano.co/guides/optimisations) (which is just a table with [examples](https://cssnano.co/optimisations/discardduplicates)).

My intention was to disable `postcss-discard-duplicates`. I passed `{ "postcss-discard-duplicates": false }` and `{ postcssDiscardDuplicates: false }`. I knew I had to pass `false` to disable it but I couldn't fin

[2018-08-13 10:12] andyjansson commented on #581
it's `discardDuplicates`.

[2018-08-13 12:53] amatiasq commented on #581
@andyjansson I see, that's what I mean with it being clear. That's kind of buried down inside the Guides section. I think that having the keys nearer to the optimizations documentation (where plugins are listed) will give it at first glance instead of reading the text in the guide to look for it.

[2018-08-13 13:29] andyjansson commented on #581
I agree that the documentation could be clearer. I *am* planning on redoing things on the website to improve readability and comprehension, but there's simply other things that take priority.

[2018-08-13 14:55] amatiasq opened #582 "Order in css matters"
This is the same issue as ben-eb/postcss-discard-duplicates#42. The deduplication plugin is removing the first instance of a rule, and leaving the second one. This can lead to unexpected side effects.

[This PR](https://github.com/ben-eb/postcss-discard-duplicates/pull/44) is created to solve this issue, if you agree with the solution I can adapt that PR to this project.

[2018-08-13 17:38] andyjansson commented on #582
I'm sorry, but the issue is invalid. The current behaviour is correct and this is how the cascade in CSS works. You can view the behaviour on codepen: https://codepen.io/anon/pen/mjogaM

If you're including the same stylesheet over and over, and you're worried about cascading styles, then you should be using a bundler such as webpack.

[2018-08-13 17:38] #582 closed

[2018-08-13 17:41] andyjansson commented on #579
It's gonna be a few more days. Sorry for the delay.

[2018-08-14 11:41] Siilwyn commented on #535
Still a valid use-case, @kingback I would recommend to look at using [autoprefixer](https://github.com/postcss/autoprefixer). But I'll take a look at prefixed properties too.

[2018-08-14 12:42] amatiasq commented on #582
I think there was a misunderstanding here. I am using Webpack with SASS.

SASS is processing two files: `a.scss` and `b.scss`

[code]

[code]

[code]

And the HTML has an element:

[code]

The expected style for the `div` is `background-color: red` but SASS is resolving the imports of `a.scss` and `b.scss` and [`MiniCssExtractPlugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) con

[2018-08-14 13:44] andyjansson commented on #582
Again, our behaviour is consistent with how CSS works. This is a webpack issue. Please refer to the webpack documentation or ask for assistance in their gitter channel.

[2018-08-16 09:46] christophstockinger opened #584 "update the documentation from postcss-normalize-charset"
this documentation ist not good. No example and no description for wepback!!!

[2018-08-16 09:59] evilebottnawi commented on #584
@christophstockinger for `webpack`, what you mean?

[2018-08-17 15:00] christophstockinger commented on #584
An example for implement `postcss-normalize-charset` would not be bad.

[2018-08-17 17:26] walkerburgin commented on #582
// Sorry to jump in unsolicited, it just took me a minute to understand this -- maybe this helps somebody else.

I think what @andyjansson is saying is that given this input CSS, the browser will apply a green background color to an element with `class="c a"`, because `c` comes later in the stylesheet and gets [precedence](https://css-tricks.com/precedence-css-order-css-matters/).

[code]

So this

[2018-08-17 18:33] andyjansson commented on #582
@walkerburgin that is absolutely the case. While not intuitive for the users intent, abiding to this request means breaking CSS which is something we absolutely cannot do.

[2018-08-18 04:40] AndreiSoroka opened #585 "DiscardComments does not work"
https://github.com/cssnano/cssnano/issues/90
Hi all!
Not remove comments :(

postcss.config.js
[code]
libs
[code]
webpack
[code]

build.css
[code]

[2018-08-18 04:48] AndreiSoroka commented on #585
P.s. and I try all points in here https://cssnano.co/guides/presets

[2018-08-18 08:52] andyjansson commented on #585
Did you try the following?

[code]

https://cssnano.co/guides/presets/#options-syntax

[2018-08-18 08:53] AndreiSoroka commented on #585
@andyjansson yes

[2018-08-18 09:05] andyjansson commented on #585
What version of `cssnano` and `postcss-discard-comments` are you using?

[2018-08-18 09:08] AndreiSoroka commented on #585
cssnano 4.0.5
postcss-discard-comments: 4.0.0

[2018-08-18 10:36] wmertens commented on #585
I just noticed that postcss-loader 3.0.0 uses postcss@7 and cssnano uses postcss@6. Can this be involved?

[2018-08-18 10:58] andyjansson commented on #585
@wmertens Sorry, no. I'm pretty sure @AndreiSoroka is simply configuring it incorrectly.

[2018-08-18 16:15] AndreiSoroka commented on #585
@wmertens @andyjansson Thanks!
I'm finded what is wrong (it is my hands)
In scss I'm `@import file.css`.

[code]

I'm create other rules for `css`...

[2018-08-18 16:15] #585 closed

[2018-08-18 21:11] ozguruysal opened #586 "Line breaks before and after closing curly braces"
Hi, I'm using cssnano version 4.0.5 with webpack 4.16.5 via postcss-loader 3.0.0 and seeing continuous linebreaks in the resulting css before and after closing curly braces.

**Here's the example output:**

[code]
**Expected Result:**
[code]
You can see the issue in [this repository](https://github.com/ozguruysal/vue-ssr-boilerplate). Please inspect the css injected into the html in the browser.

[2018-08-19 13:16] andyjansson commented on #586
We need more information about your setup. I don't think it has to do with cssnano per se, but you're welcome to try the [playground](https://cssnano.co/playground/) and see if you can replicate the results.

[2018-08-19 13:29] andyjansson commented on #586
\cc @evilebottnawi

[2018-08-20 09:55] evilebottnawi commented on #586
Interesting, i will investigate this in near future, feel free to go ahead

[2018-08-20 09:56] #579 closed

[2018-08-20 12:39] andyjansson commented on #579
@albertxing Sorry for the delay, the fix will be published in the next release.

[2018-08-20 16:45] albertxing commented on #579
Thanks! 🙌 🙇

[2018-08-22 10:24] stof opened #587 "Postcss 7"
Postcss 7 has been released. It would be great if cssnano could support it.

[2018-08-22 20:26] nikolay-borzov opened #588 "Comments aren't removed if browserlist contains Edge/UCAndroid"
cssnano version: `3.10.0` (used by [`rollup-plugin-postcss`](https://github.com/egoist/rollup-plugin-postcss))

I use `rollup-plugin-postcss` with cssnano config:
[code]

Browserlist:
[code]
With this setup `/* */` commets aren't removed from output.

If I delete  `last 2 Edge versions` and `last 2 UCAndroid versions` `/* */` commets are removed

[2018-08-23 09:02] matanarbel-startapp opened #589 "mergeLonghand creates invalid border"
I'm using cssnano@4.0.5 (with the latest postcss-merge-longhand fixes), and I'm getting invalid border CSS.
Original:

After processing:

The "none" in "border-width" is invalid and Chrome ignores the entire definition (and shows an error).
When I'm manually changing the "none" to 0 it works.

*** When disabling mergeLonghand it works - but I don't want to do it.

[2018-08-23 09:16] andyjansson commented on #589
Hi, thanks for reporting. Luckily, this issue is already fixed in master but we've yet to roll it out. This is what 4.0.6 will do to your snippet once released:

[code]

[2018-08-23 09:16] #589 closed

[2018-08-23 09:17] matanarbel-startapp commented on #589
Great, thanks!

[2018-08-23 09:47] evilebottnawi commented on #588
@nikolay-borzov please send a PR in `rollup-plugin-postcss` and upgrade `cssnano` to latest version

[2018-08-23 11:21] everdimension opened #590 "Improve border output"
Hi!

Thanks for creating this package.

I stumbled upon an issue, though. The css code that was minified with CSSNANO gave me an incorrect result. Here's a demo:
https://codepen.io/everdimension/pen/XPbGQO?editors=1100

![image](https://user-images.githubusercontent.com/5347023/44522791-542e3680-a6e0-11e8-8e7e-656e0def411f.png)

[2018-08-23 11:26] evilebottnawi commented on #590
Looks problem with border

[2018-08-23 11:59] andyjansson commented on #590
I don't believe this issue persists in current master.

[2018-08-23 12:09] evilebottnawi commented on #590
@andyjansson maybe we can tests?

[2018-08-23 13:04] andyjansson commented on #590
The following input..

[code]

...produces the following output:

[code]

It's not optimal, but it's at least technically correct. I think we should keep the issue open as something to work on as an enhancement.

[2018-08-24 08:40] afgomez opened #591 "Bug when compressing `border` properties"
In the latest stable version (4.0.5) there's a bug when merging `border` properties:

Consider the following block:
[code]

When pasted into [the playground](https://cssnano.co/playground/) it transforms into:
[code]

The rule `border-width:1px 10px 1px none` is invalid, and makes the browser ignore the other `border-width` values.

<img width="227" alt="screen shot 2018-08-24 at 10 32 57" src="ht

[2018-08-24 13:47] andyjansson commented on #591
Thanks for the report. This is already fixed in master.

[2018-08-24 13:47] #591 closed

[2018-08-25 01:13] eablokker commented on #590
I'm also having issues with border output

This gets transformed
[code]

Into this
[code]

The `border-style: solid;` negates the `border-left: 0;` rendering a broken result.

Why oh why is cssnano rearranging my properties and putting them in alphabetical order? Even if I turn off the `cssDeclarationSorter` option, it still sorts them this way.

[2018-08-25 16:36] andyjansson commented on #590
@eablokker that's already been fixed.

[2018-08-25 17:02] andyjansson commented on #591
If you update your dependencies, you should see that this issue has been fixed.

[2018-08-25 17:03] andyjansson commented on #589
If you update cssnano to `4.1.0`, you should see that it has been fixed.

[2018-08-26 07:58] matanarbel-startapp commented on #589
@andyjansson - I've updated to cssnano to `4.1.0`, but I still got the same problem:

[2018-08-26 14:38] andyjansson commented on #589
Then you haven't upgraded the sub-dependencies.

Here's the output from the playground, which is running the latest version:

[code]

I'd suggest you'd check your `package.json` and lockfile. Additionally, clear your cache. `postcss-merge-longhand` has been updated to `4.0.5`.

[2018-08-26 15:26] matanarbel-startapp commented on #589
You're right, `postcss-merge-longhand` wasn't updated...
It's working now. Thanks!

[2018-08-27 07:50] afgomez commented on #591
Confirmed that it works. Thanks a lot!

[2018-08-27 10:19] afgomez opened #592 "Reordering of `border-radius` properties in the output breaks the cascade"
Hi!

Latest stable (4.1.0) seems to change the order of certain properties, breaking the cascade.

Consider this CSS:

[code]

When pasted in the [playground](https://cssnano.co/playground/), it minimizes as:
[code]

The shorthand `border-radius` overrides the specific `border-bottom-left-radius` ([demo](https://codepen.io/afgomez/pen/OoNxww)).

<img width="259" alt="screen shot 2018-08-27 at 12 1

[2018-08-27 10:36] stevenMouret opened #593 "Transform attribute on svg element is removed"
Cssnano version 3.10.0 used by gulp-cssnano v2.1.2

Cssnano remove transform attribute on SVG element.

unminified
[code]

minified
[code]

[2018-08-27 10:43] evilebottnawi commented on #593
@stevenMouret please upgrade `cssnano` to latest version, send a PR to `gulp-cssnano`

[2018-08-27 12:31] andyjansson commented on #535
Given the amount of issues we have around `cssDeclarationSorter` it might be warranted to disable the plugin entirely.

[2018-08-27 12:58] evilebottnawi commented on #535
@andyjansson i think we should fix it, don't disable, can we provide list of problems here?

[2018-08-27 13:06] andyjansson commented on #535
Well the issue is that it's entirely too naïve and doesn't respect precedence. I do not believe we can easily fix it without major rewrites, which is hard given that it is an external dependency.

[2018-08-27 13:09] evilebottnawi commented on #535
@andyjansson we can move sort algorithm inside `css-declaration-sorter` in theory and don't use dependecy

[2018-08-27 17:26] dutchenkoOleg commented on #535
People, you are killing cssnano! (((

[2018-08-27 18:16] andyjansson commented on #535
@dutchenkoOleg That's an unwarranted response. What gives?

[2018-08-27 19:53] Siilwyn commented on #535
Yes I'm certain I can make this work, just need to put time and thoughts into the problem. Doesn't really matter it is external or not right? I'm willing to change parts on my end. :)

[2018-08-27 21:03] andyjansson commented on #535
@dutchenkoOleg and how are we "killing cssnano"? Like @ai says, `css-declaration-sorter` is unsafe in its current form, leading to broken CSS. We are discussing whether disabling this plugin until a resolution can be found is an appropriate course of action.

If you have any concerns, go ahead and voice them, but we can do without the outburts and hyperboles.

[2018-08-28 05:11] dutchenkoOleg commented on #535
I think you needed to turn off this plug-in immediately, when you realized that this is unsafe, rather than discuss it "...to be or not to be..."

[2018-08-28 05:30] kingback commented on #535
agree with @andyjansson, not only this issue, there're issues like [postcss-calc/issues/48](https://github.com/postcss/postcss-calc/issues/48) makes me feel like it's unsafe to use `cssnano`, I think we should support disable plugins, like:

[code]

So we can have a choice to deside which plugin we don't want to use.

[2018-08-28 06:16] andyjansson commented on #535
We've always supported that. https://cssnano.co/guides/presets#excluding-transforms

The issue here is `MoOx/reduce-css-calc`. It's had a fix for the longest time, but the package has been poorly maintained.

@ai do you have access to this repo? If not, other options are to fork the code, or move the logic to `postcss-calc`.

[2018-08-28 15:53] yoannisj commented on #410
I have stumbled upon a similar problem, trying to enable/disable `normalizeWhitespace` depending on the environment I am running in.

In development environment, I want to enable some of the optimisations only in order to anticipate problems that could occur when minifying in production. But not all of them, so my code stays readable.

[code]

When the `environment` variable is set to `'dev'`, thi

[2018-08-28 16:17] andyjansson commented on #410
@yoannisj You should create a separate issue for this. Additionally, have you tried setting `exclude`?

[code]

[2018-08-29 07:11] guylando commented on #578
FYI: I wrote a simple workaround in a comment in https://github.com/MoOx/reduce-css-calc/issues/34

[2018-08-29 15:56] lionel-bijaoui commented on #592
@andyjansson I tried in a vue-cli project and it doesn't change a thing

[2018-08-30 15:34] evilebottnawi commented on #274
Fixed in `cssnano@4`, you can try this in `https://cssnano.co/playground/`

[2018-08-30 15:34] #274 closed

[2018-08-31 07:01] TitanSnow commented on #592
Maybe you could try `vue inspect`?

vue-cli 3 has this configure:
[code]

[2018-08-31 09:48] evilebottnawi commented on #592
@TitanSnow can you provide `cssnano` version?

[2018-08-31 15:36] TitanSnow commented on #592
@evilebottnawi It’s 4.1.0

[2018-08-31 16:07] evilebottnawi commented on #592
@TitanSnow looks like a bug, we should not move `shorthand` property before if part of `shorthand` property already exists, in theory it is not difficult to fix

[2018-08-31 16:31] andyjansson commented on #592
@evilebottnawi it's because of `cssDeclarationSorter`, same as the other issues we've been seeing.

[2018-08-31 16:55] andyjansson commented on #592
@afgomez I looked into your issue. You didn't set the options to disable `cssDeclarationSorter` properly.

[code]

[2018-09-03 17:09] rightaway opened #595 "package.json configuration"
I have `cssnano` and `cssnano-preset-default` installed in my package.json `devDependencies`, but when I run webpack with `postcss-loader` configured, the CSS file doesn't get minified. Here is my `package.json` configuration.

[code]

[2018-09-04 00:50] #595 closed

[2018-09-06 17:32] andyjansson commented on #578
I'll get to work on fixing this next week by moving the logic from `reduce-css-calc` to `postcss-calc`.

[2018-09-08 15:27] minocoko opened #597 "padding fallback was discarded"
it can reproduce form https://cssnano.co/playground/

input css:
body {
  padding: 20px 10px;
  padding: 2rem 1rem;

  font-size: 16px;
  font-size: 1.6rem;
}

output css:
body{font-size:16px;font-size:1.6rem;padding:2rem 1rem}

font-size works well, but padding fallback to px was discarded.

please look into this issue
thanks a lot

[2018-09-09 07:56] hsxfjames opened #598 "Could cssnano merge background properties?"
Like this:
[code]

it can be merged into:
[code]

or even:
[code]

But I can't find any optimization for this. If I use vue.js and bind the style above to an element, it will generate a merged inline style on this element.
[code]

[code]

I think it is a nice optimization to reduce more size. Is there a configuration that I haven't found to achieve it? Or will cssnano consider to implement it? tkx

[2018-09-09 14:29] andyjansson commented on #598
We don't support it at the moment, but it's something which is planned for the future. There's a lot of work that goes into rewriting rules to their shorthand form and it's easy to get it wrong. We're going to fix the bugs we currently have before we move on to the next feature.

[2018-09-09 15:47] andyjansson commented on #597
I don't see how this is an issue. What browser do you have which doesn't support `rem`?

[2018-09-09 16:32] minocoko commented on #597
I use chrome, the latest versiocorrect output should be
body{font-size:16px;font-size:1.6rem;padding: 20px 10px;padding:2rem 1rem}

`padding: 20px 10px;`  was discarded

[2018-09-09 16:38] andyjansson commented on #597
Yes, because `padding:2rem 1rem` takes precedence over `padding: 20px 10px`. This is by design.

I ask again, why do you want a `px` fallback if it makes no difference to the browsers? What browser do you target which doesn't support `rem`?

[2018-09-09 16:51] minocoko commented on #597
ie9

I don't know why `font-size:16px;` exists in output.
maybe I should target to ie11 to avoid this issue, and don't fallback to px anymore.

[2018-09-10 04:53] #597 closed

[2018-09-12 10:38] smashercosmo opened #600 "Issue with overriding preset"
Having the following postcss config:
[code]
I noticed, that any normalizeUrl value, no matter 'true' or 'false', switches this rule off. Removing overrides object completely makes this rule enabled. I tested 'convertValues' rule and it behaves the same way. Probably relevant for all other rules. I assume, that I'm doing something wrong, but can't figure out what exactly.

P.S. I'm using cssnano@4.

[2018-09-12 11:33] andyjansson commented on #600
Also see: https://github.com/cssnano/cssnano/issues/410#issuecomment-416648484

[2018-09-12 11:35] smashercosmo commented on #600
@andyjansson do you want me to try 'exclude' option?

[2018-09-12 11:41] andyjansson commented on #600
Go ahead and try it.

[2018-09-13 21:14] Siilwyn commented on #535
For now keep all properties that have a shorthand in the same order in the default preset, downside being this will reduce the effectiveness of reducing size. On the advanced preset it will still sort all properties. Mostly done with this, just have to clean up the tests and add an explanation to the documentation. If it is okay with @ai @evilebottnawi? I'll finish it and create a PR in the coming

[2018-09-13 21:27] ai commented on #535
Yeap, send PR

[2018-09-13 21:33] andyjansson commented on #535
@Siilwyn It's not enough to look at shorthands. There are properties which compete for the same space whilst not being a shorthand of one another. One example of this is `border-style` and `border-top`.

Respecting precedence is key here.

[2018-09-13 21:53] Siilwyn commented on #535
@andyjansson that is exactly what I mean though, `border-style` is a shorthand. So `border-top` has a shorthand property and won't be changed in order.

[2018-09-13 22:15] andyjansson commented on #535
That depends on what you compare it with. It's a shorthand of `border-<TRBL>-style`, but it's a longhand of `border`.

Whether it's a shorthand or not isn't really the key issue here; *precedence* is. The order of declaration makes a huge semantic difference, regardless of whether shorthand or longhand declarations are involved.

[code]

[code]

The above two snippets, although being identical in

[2018-09-17 06:06] ladjzero opened #603 "postcss-svgo@4.0.0 is incompatible with svgo@1.1.0"
Cloned from https://github.com/ben-eb/postcss-svgo/issues/61 because the repo postcss-svgo was migrated to here.

[code]

Relates to svg/svgo#1030

[2018-09-17 07:09] yqz0203 commented on #603
I fixed it by install svgo@1.0.0 manually.☹️☹️

[2018-09-17 08:33] andyjansson commented on #603
Thanks for the report. Looks like svgo released a new version 15 hours ago. The fix will likely be applied upstream, but I'll monitor the thread just in case.

[2018-09-17 10:14] evilebottnawi commented on #603
https://github.com/svg/svgo/issues/1030#issuecomment-421931404 some body can reproduce bug now?

[2018-09-19 10:13] Aqours opened #604 "discardComments is not working for less which mix css file"
webpack less rule
[code]

index.less
[code]

test.css
[code]

The comment in test.css will not discard.

[2018-09-19 12:11] Aqours commented on #604
not cssnano bug

[2018-09-19 12:11] #604 closed

[2018-09-20 09:33] evilebottnawi commented on #458
@andyjansson looks issue already solved? Playground:
[code]

[2018-09-20 10:03] evilebottnawi commented on #592
Duplicate. Close in favor https://github.com/cssnano/cssnano/issues/535

[2018-09-20 10:03] #592 closed

[2018-09-20 10:19] evilebottnawi commented on #593
Issue https://github.com/svg/svgo/issues/1035

[2018-09-20 10:26] evilebottnawi commented on #590
Close in favor https://github.com/cssnano/cssnano/issues/535

[2018-09-20 10:26] #590 closed

[2018-09-20 10:32] evilebottnawi commented on #411
@benmcginnis can we reduce bug example?

[2018-09-20 10:37] evilebottnawi commented on #411
Example:

Input:
[code]

Output:
[code]

Expected don't merge same at-rules in `@supports`

[2018-09-20 15:48] andyjansson commented on #458
It's solved incorrectly, which is why I reopened the issue. I have a branch with a rewrite which still needs some tweaks for optimal output, but which fixes the issue entirely.

[2018-09-20 15:57] evilebottnawi commented on #411
WIP

[2018-09-20 16:08] evilebottnawi commented on #111
It can be safe in many cases. Example:
[code]

Also i can provide more examples

[2018-09-20 16:14] andyjansson commented on #111
I have a rewrite which does this, @evilebottnawi.

[2018-09-20 16:15] andyjansson commented on #411
I have a rewrite which fixes this, @evilebottnawi.

[2018-09-20 16:18] evilebottnawi commented on #411
@andyjansson why you don't commit this? Do not wait and constantly rewrite everything, this gives rise to regressions

[2018-09-20 16:21] andyjansson commented on #411
Like I said in a different comment, it needs a couple of more tweaks before it's ready. It's a necessary rewrite in order to fix the issues around `all`. It incidentally improves merging drastically.

[2018-09-20 16:29] evilebottnawi commented on #411
@andyjansson fixes/improvements/etc will be accepted in this plugin anyway, I did not see roadmap with dates or other meta information about this, rewriting may be delayed and it is bad

[2018-09-20 16:43] evilebottnawi commented on #578
Fixed in original package. Just update your lock files.

[2018-09-20 17:03] #578 closed

[2018-09-21 14:19] ZurrTum opened #616 "css modules Can't resolve url"
Module not found: Error: Can't resolve 'share.png' in 'C:\Users\ZurrT\Desktop\postcss-cssnano-issue\src'
 @ ./src/style.css (./node_modules/css-loader??ref--5-1!./node_modules/postcss-loader/src??ref--5-2!./src/style.css) 7:83-103
 @ ./src/style.css
 @ ./src/index.js
error Command failed with exit code 2.

I have prepared a repo.
`git clone https://github.com/ZurrTum/postcss-cssnano-issue.git`
`cd

[2018-09-21 14:30] evilebottnawi commented on #616
@ZurrTum How it is related to `cssnano`? Try to remove `cssnano` and run again

[2018-09-21 14:45] ZurrTum commented on #616
@evilebottnawi I certainly confirmed that it can run normally without cssnano.

[2018-09-21 14:49] andyjansson commented on #616
I believe this is more of a css-loader issue than a cssnano issue.

[2018-09-21 18:12] ZurrTum commented on #616
@andyjansson You are right.
in the css-loader/lib/**processCss.js**  -155
[code]

cssnano  `=>`  **share.png**
if unset options.modules  `=>`  has global  `=>`  **./share.png**  `=>`  PASS
has options.modules  `=>`  has local  `=>`  **share.png**  `=>`  ERROR

I do not know why.
The cssnano input to the css-loader is the same string, but the css-loader uses a different parsing method.
Who can give

[2018-09-21 18:12] #616 closed

[2018-09-22 07:05] ZurrTum commented on #616
hey!

[2018-09-22 07:06] ZurrTum commented on #616
I solved it,By using cssnano indirectly.
optimize-css-assets-webpack-plugin

[2018-09-22 07:10] ZurrTum commented on #616
[code]
It works for me

[2018-09-22 10:11] Siilwyn commented on #592
Good find it seems like `postcss-merge-longhand` should merge these properties right?

[2018-09-24 19:13] ai commented on #535
Another week ended. Did we released any solution or we are still in political powerless?

It is a critical issue. We had a quick option and long option. Why we prefer to choose the worst option to do nothing?

/cc @evilebottnawi

[2018-09-24 19:22] Siilwyn commented on #535
@ai the quick option is already merged, just no version bump yet.

Meanwhile I'm waiting for feedback on my PR which is ready to be merged too.

[2018-09-24 19:34] evilebottnawi commented on #535
@ai I apologize for the current situation, but I really have a lot of work and I will not have enough time :disappointed: So I gave github/npm access to you (@ai) and @andyjansson so feel free to release, i can find time only tomorrow.

[2018-09-24 19:43] evilebottnawi commented on #535
@Siilwyn you solution is not good. Why?

It is bad to have list of properties in file https://github.com/cssnano/cssnano/pull/580/files#diff-bc4bbe1119837b527465f18f074304ff (each new option require adding to file).

A lot of changes not related to PR. Example:
From:
[code]
To
[code]

Why it is happens? It is not alphabetic order. We need maximum alphabetic order to better `gziping`.

Here issue a

[2018-09-24 19:54] dkenul commented on #535
Would it be possible to at least update the optimisations docs:
https://cssnano.co/optimisations/

to indicate that this plugin is unsafe and have it off by default? Recently updated to a newer version of cssnano in a legacy project and this threw me for a loop.

I'll make a PR for that if anyone wants. This is _not_ safe, especially when dealing with a CSS pre-processor.

[2018-09-24 19:55] ai commented on #535
I will try to release it right now

[2018-09-24 19:57] evilebottnawi commented on #535
Please provide example.

[2018-09-24 20:13] #587 closed

[2018-09-24 20:29] evilebottnawi commented on #535
@dkenul don't use `cssnano`  with a CSS pre-processor. It is always unsafe. Use `cssnano` only on pure `css` code

[2018-09-24 20:35] Siilwyn commented on #535
@evilebottnawi I know that, it's not ideal but it is still much better than disabling the plugin! That is why I proposed this as the solution for now: https://github.com/cssnano/cssnano/issues/535#issuecomment-421155502

Please reconsider, I would hate it if all these hours I spend on a solution I proposed and worked on to be wasted.

[2018-09-24 20:36] dkenul commented on #535
@evilebottnawi can you elaborate? This specific issue can occur with or without a pre-processor.

[2018-09-25 10:13] evilebottnawi commented on #535
@dkenul please create new issue with example what you have in `css`, what you actually have after minification and what you expected, thanks!

[2018-09-26 15:53] kelly-tock commented on #578
@evilebottnawi which package do we upgrade for this? `postcss-calc`?

[2018-09-26 16:05] evilebottnawi commented on #578
@kelly-tock `postcss-calc`

[2018-09-26 19:36] kelly-tock commented on #578
hmm...i'm still having issues.

I upgraded `postcss-calc`
`postcss-calc@6.0.2`

stack trace:
[code]

example css:
[code]
i'm using this all in the context of:

https://www.npmjs.com/package/mini-css-extract-plugin

[2018-09-28 10:27] evilebottnawi opened #618 "throw error in postcss-merge-longhand"
Input:
[code]

[2018-10-01 16:10] infctr commented on #616
Thnx for bringing that up!

I've changed the default config to `cssnano({ preset: ['default', { normalizeUrl: false }] })` to make that work

[2018-10-01 19:04] skateborden opened #619 "border, and a border-color set to a css variable, is resulting in a unwanted border-color:currentcolor"
Using both a `border` property and a `border-color` property, with the border-color property set to a css variable, is resulting in a unwanted `border-color:currentcolor` in the output.

input:
`:root{--color-var:red}div{border:1px solid;border-color:var(--color-var)}`

output:
`:root{--color-var:red}div{border-color:currentcolor;border:1px solid var(--color-var)}`

I'm able to verify this in the

[2018-10-01 19:08] evilebottnawi commented on #619
/cc @andyjansson

[2018-10-02 02:08] trainiac commented on #586
I ran into the same problem. This is an issue with vue-loader. https://github.com/vuejs/vue-loader/issues/1395.

[2018-10-02 07:05] jsdevnl opened #620 "Large css when upgrading cssnano-preset-advanced"
When upgrading `cssnano-preset-advanced` to any version beyond `4.0.0-rc.2`, the optimised css file becomes significantly larger. In my specific case from 279kb to 394kb.
Tested with multiple `cssnano` versions - including current `4.1.4`, with same results.

Configuration:
[code]

Any ideas?

[2018-10-02 07:47] andyjansson commented on #620
Can you create a repo demonstrating the issue?

[2018-10-02 08:14] andyjansson commented on #618
Fixed in master

[2018-10-02 08:14] #618 closed

[2018-10-02 08:21] andyjansson commented on #68
Can this be closed?

[2018-10-02 08:28] andyjansson commented on #142
Closing this since it's functioning as intended and we already have fixtures for it.

[2018-10-02 08:30] andyjansson commented on #197
Closing this. @evilebottnawi has put a lot of work in to handle this.

[2018-10-02 08:34] andyjansson commented on #237
Closing this since this feature is of dubious value and it's very unlikely that we'll implement it.

[2018-10-02 08:34] #237 closed

[2018-10-02 08:45] andyjansson commented on #261
I believe this feature would expose the same issues that `reduceIndents` has, and doesn't really align with the policy change that we should no longer accept any unsafe optimisations.

Therefore I'm closing this issue. If the optimisation can be deemed safe, I'll reopen this issue.

[2018-10-02 08:45] #261 closed

[2018-10-02 08:46] andyjansson commented on #262
Closing this since we are now only focusing on safe optimisations.

[2018-10-02 08:46] #262 closed

[2018-10-02 08:49] andyjansson commented on #265
Closing this since we are now only focusing on safe optimisations. I don't think it's up to a minifier to change the semantics of a CSS document. Additionally, there are [postcss plugins which do this already](https://github.com/postcss/postcss-custom-properties).

[2018-10-02 08:49] #265 closed

[2018-10-02 08:53] andyjansson commented on #242
This doesn't seem to be an issue anymore.

[2018-10-02 08:53] #242 closed

[2018-10-02 08:58] andyjansson commented on #344
Closing the issue since it's unlikely that we will implement something like this.

[2018-10-02 08:58] #344 closed

[2018-10-02 09:04] evilebottnawi commented on #586
@trainiac can you create minimum reproducible test repo?

[2018-10-02 09:05] evilebottnawi commented on #197
@andyjansson it is issue about new plugin wat lowercase all stuff, i think we should left this open

[2018-10-02 09:06] andyjansson commented on #441
Custom properties are dependent upon the cascade. It's unsafe to inline the variables, and goes against our policy change to only accept safe optimisations. If you want to inline custom properties, use [postcss-custom-properties](https://github.com/postcss/postcss-custom-properties).

[2018-10-02 09:06] #441 closed

[2018-10-02 09:06] evilebottnawi commented on #68
@andyjansson i think yes, some optimization impossible do sync

[2018-10-02 09:07] andyjansson commented on #437
Closed due to inactivity.

[2018-10-02 09:07] #437 closed

[2018-10-02 09:07] #619 closed

[2018-10-02 09:10] andyjansson commented on #443
Closing this due to being an issue which is likely difficult to implement and which provides very little value.

[2018-10-02 09:10] #443 closed

[2018-10-02 09:11] andyjansson commented on #445
Closing this due to being of dubious value and, as @Justineo mentioned, unsafe, which is against our current policy of only accepting safe optimisations.

[2018-10-02 09:11] #445 closed

[2018-10-02 09:14] andyjansson commented on #515
Closing this in favour of  #197

[2018-10-02 09:14] #515 closed

[2018-10-02 09:15] evilebottnawi commented on #618
@andyjansson Can you provide link on commit with fix?

[2018-10-02 09:16] andyjansson commented on #618
https://github.com/cssnano/cssnano/commit/9a78b410643e7823c9b4d1afdb0acbf340676cc1

[2018-10-02 09:17] evilebottnawi commented on #618
@andyjansson thanks!

[2018-10-02 09:18] andyjansson commented on #457
I believe this would be something better handled by a bundler, such as webpack.

[2018-10-02 09:18] #457 closed

[2018-10-02 09:33] andyjansson commented on #229
Looks like we're already handling all of these cases safely and correctly.

[2018-10-02 09:33] #229 closed

[2018-10-02 09:35] evilebottnawi commented on #593
@andyjansson i think yes, also we provide way to seto options for svgo to disable this

[2018-10-02 09:36] andyjansson commented on #264
I don't see an evident gain by this change, plus that it would have lower browser support and prone to unwanted side-effects due to the cascade. I'm closing this.

[2018-10-02 09:36] #264 closed

[2018-10-02 09:40] andyjansson commented on #593
We already pass the options over to svgo. Closing.

[2018-10-02 09:40] #593 closed

[2018-10-02 10:00] andyjansson commented on #391
The optimisations are now listed according to their keys. Closing.

[2018-10-02 10:00] #391 closed

[2018-10-02 10:00] andyjansson commented on #581
The optimisations are now listed by their key. Closing.

[2018-10-02 10:00] #581 closed

[2018-10-02 10:05] andyjansson commented on #322
Doesn't look like there's any truncation anymore. Closing.

[2018-10-02 10:05] #322 closed

[2018-10-02 10:20] andyjansson commented on #323
I'm not sure if this is a worthwhile optimisation to make.

[2018-10-02 10:21] evilebottnawi commented on #323
@andyjansson

is safe

[2018-10-02 10:27] andyjansson commented on #541
Did you manage to solve this issue @virzak  ?

[2018-10-02 10:32] ozguruysal commented on #586
Nice find @trainiac, Thank you for sharing.

[2018-10-02 10:36] andyjansson commented on #263
Does this mean we can close this issue?

[2018-10-02 10:39] evilebottnawi commented on #263
@andyjansson i think `stylehacks` is safe in some cases - if you have browserlist and set what you doesn't support IE9 (we can safely remove all IE9 hacks)

[2018-10-02 11:04] jsdevnl commented on #620
Repo demonstrating the issue:

https://github.com/jsdevnl/cssnano-issue-620

I used a small fraction of my CSS for this demonstration.  Given that this fragment only contains `keyframes` declarations, I guess these might be causing issues...

[2018-10-02 11:28] andyjansson commented on #410
Closing this in favour of  #600

[2018-10-02 11:28] #410 closed

[2018-10-02 11:30] andyjansson commented on #598
More context: #349

[2018-10-02 11:30] andyjansson commented on #349
Closing in favour of  #598

[2018-10-02 11:30] #349 closed

[2018-10-02 12:27] andyjansson commented on #620
It removes prefixes if your browserslist does not require those prefixes. I tested it with `firefox ESR` and the `-webkit-` prefixes disappeared.

[2018-10-02 12:52] #600 closed

[2018-10-02 13:16] jsdevnl commented on #620
Okay, root cause seems to be that apparently my browserlist query "last 2 versions"  does not remove `-webkit` prefixes anymore after upgrading from 4.0.0-rc.2. So probably due to an update in the underlaying autoprefixer.
So I guess my only option is use a different browserquery.

[2018-10-02 14:31] xavierfoucrier opened #623 "discardDuplicates rule behavior"
The **discardDuplicates** rule do not work if some styles differs inside each block.

For example, this:

[code]

Will result with default preset in:

[code]

The expected behavior should be a remove of the **duplicate font-weight property** by taking the last one, based on the order of the cascading styles:
[code]

Why this rule is working this way?

Thanks for your answer.
Best regards!

[2018-10-02 14:38] andyjansson commented on #623
Duplicate of  #86

[2018-10-02 14:38] #623 closed

[2018-10-02 14:41] xavierfoucrier commented on #623
Big thanks, I didn't pay attention to this thread sorry!
Have a nice day :+1:

[2018-10-02 18:25] assembledadam opened #624 "Cannot handle nested calc()?"
The input CSS I believe is coming from Bootstrap 4, possibly this line, but it's hard to pinpoint based on the error.

[code]

Getting:
[code]

Any ideas?

[2018-10-02 19:02] andyjansson commented on #624
Open a ticket in https://github.com/MoOx/reduce-css-calc

[2018-10-03 15:56] valtlai opened #625 "Remove whitespace inside calc()"
If I have code like this
[code]

it can be minified to
[code]

but it gets minified to
[code]

So could cssnano remove whitespace around `*` or `/` inside `calc()`?

It’s allowed by [the spec](https://drafts.csswg.org/css-values-3/#calc-syntax):

-----
If I have code like this
[code]

it gets minified to
[code]

So the space after the comma is not removed inside `calc()`, but is outside `calc()`.

[2018-10-03 16:02] valtlai opened #626 "Remove whitespace between @media and parenthesis"
If I have code like this
[code]

It can be minified to
[code]

But it gets minified to

[code]

Could whitespace after `@media` and before opening parenthesis `(` be removed?

[2018-10-03 16:05] evilebottnawi commented on #626
Duplicate https://github.com/cssnano/cssnano/issues/324

[2018-10-03 16:05] #626 closed

[2018-10-03 16:06] evilebottnawi commented on #626
Feel free to send a PR

[2018-10-03 16:12] valtlai opened #627 "Whitespace is not removed inside calc()"
If I have code like this
[code]

it gets minified to
[code]

So the space after the comma is not removed inside `calc()`, but is outside `calc()`.

[2018-10-03 16:15] evilebottnawi commented on #627
Don't duplicate issues https://github.com/cssnano/cssnano/issues/625

[2018-10-03 16:15] #627 closed

[2018-10-03 16:17] valtlai commented on #627
@evilebottnawi This issue isn’t related to math operators unlike #625.

[2018-10-04 20:16] kelly-tock commented on #578
any ideas on this?  I realized this is being used by optimize-css-assets-webpack-plugin and not mini-css-extract.

[2018-10-07 12:24] GrimLink opened #628 "Parentheses inside calc are removed"
When I run CSSNano my nested calc's are trimmed.

[code]
Disabling the calc plugin did not help.
So was expecting some other plugin was doing this.
But I can not find which one.

If it is not an plugin than at least give an option to prevent this use case.

[2018-10-07 13:07] andyjansson commented on #628
This is intended behaviour. Why is this an issue?

I just tested disabling the plugin, it works fine:

[code]

**Input**:

[code]

**Output**:

[code]

[2018-10-07 15:02] GrimLink commented on #628
@andyjansson sorry 😅
I somehow managed to put it outside the default config, directly in preset.
Stupid me.

[2018-10-07 15:02] #628 closed

[2018-10-09 13:28] andreymal opened #629 "postcss-normalize-whitespace breaks the sourcemap"
Example (you can download it [here](https://home.andreymal.org/files/postcss_test2.zip)):

[code]

**Build command:** `postcss src/index.css -o build/main.css --map`

**postcss.config.js**

[code]

**src/index.css**

[code]

**src/foo/fooindex.css**

[code]

**src/foo/vars.css**

[code]

When the postcss-normalize-whitespace plugin is disabled, here is the correct sourcemap (Chromium and Firefox):

[2018-10-09 13:35] evilebottnawi commented on #629
@andreymal can you disable `import` plugin? Also please create minimum reproducible test repo

[2018-10-09 13:39] andreymal commented on #629
@evilebottnawi `import` plugin is required for some other plugins in my project (`postcss-custom-properties`, `postcss-mixins` etc.), so I can't disable it.

You can download the minimum reproducible test [here](https://home.andreymal.org/files/postcss_test2.zip), why do you need a repository?

[2018-10-09 13:45] evilebottnawi commented on #629
@andreymal we need disable this for determinate what problem not in `postcss-import`

[2018-10-09 14:12] andreymal commented on #629
@evilebottnawi okay, you can download another example [here](https://home.andreymal.org/files/postcss_test3.zip)

There is exactly one input file `src/main.css`, but it contains the inline sourcemap that contains info about multiple files.

**Command:** `postcss src/main.css -o build/main.css --map`

**src/main.css**: [https://pastebin.com/UTqADdEZ](https://pastebin.com/UTqADdEZ)

**postcss.config

[2018-10-09 14:15] evilebottnawi commented on #629
Looks bug, feel free to investigate, i will look on this in near future

[2018-10-10 11:28] evilebottnawi commented on #578
/cc @andyjansson

[2018-10-10 11:37] andyjansson commented on #578
Hi. I'm busy today (birthday celebration), but I'll look into releasing it this weekend.

[2018-10-10 11:40] evilebottnawi commented on #578
@andyjansson Great! Have a good birthday celebration :star:

[2018-10-10 12:41] Swiftwork opened #630 "[postcss-colormin] missing pass through options to colormin"
Tried to avoid making a duplicate issue, but couldn't find anything referencing this issue. Noticed that out IE10 site was having issues in production, due to using cssnano. More specifically colormin was converting `rgba(0,0,0,0)` to `transparent`. Colormin has an option to avoid this called legacy. However it doesn't seem postcss-colormin passes these options through to colormin library alternat

[2018-10-10 12:43] evilebottnawi commented on #630
@Swiftwork can you provide example and your config?

[2018-10-10 19:53] virzak commented on #541
@andyjansson Seems to work fine now!

[2018-10-10 19:53] #541 closed

[2018-10-10 23:39] mareolan opened #631 "Speed improvement in postcss-merge-rules (124s to 16s)"
We use cssnano and autoprefixer in webpack for building ~20 color schemes, each resulting in a standalone CSS file of ~300kB. The build takes really long - 124s on i5-6600 @ 3.3Ghz. CSS selectors heavily use pseudo-classes, such as :not(), etc.

Profiling shows that 112s (90%) of the time is spent on using `caniuse.isSupported()` API in **`postcss-merge-rules/dist/lib/ensureCompatibility.js`**. Re

[2018-10-11 10:30] evilebottnawi commented on #631
@mareolan great job, can you send a PR?

[2018-10-12 08:56] andyjansson commented on #630
cssnano should check this compatibility via browserslist. If `ie 8` or `ie 9` is part of your browserslist configuration, the legacy flag will be passed to colormin.

[2018-10-12 08:56] #630 closed

[2018-10-12 14:30] jordrake opened #635 "Inline eslint configuration?"
I noticed there are some inconsistencies across the packages (e.g. single and double quotes) and saw that this uses an external but specific eslint config located at https://github.com/ben-eb/eslint-config-cssnano.

I am assuming at one point this was because the packages used to be spread out across various repositories. Now this is no longer the case (I believe?) could we bring the eslint config

[2018-10-12 14:41] evilebottnawi commented on #635
@jordrake Yes, we need do it, also we should use `prettier` https://github.com/prettier/prettier for code style. I think we can avoid creating new package because we in monorepo. Feel free to send a PR.

Also will be great to switch from `ava` to `jest` with snapshot testing, he is faster and snapshot allow writing test very fast and very conveniently. Ava also have snahpshot, but the last time wh

[2018-10-12 14:50] jordrake commented on #635
You'll get no argument from me on any of those fronts.

The conversion from jest to ava might be slightly painful as the tests rely a lot of ava's macro functionality but we could add a utility function which has the same signature or do something clever with codemods.

[2018-10-12 14:54] evilebottnawi commented on #635
@jordrake yep, so migration from `ava` to `jest` is not high priority. We have other high priority bugs https://github.com/cssnano/cssnano/issues/411 https://github.com/cssnano/cssnano/issues/458 https://github.com/cssnano/cssnano/issues/535 (require more work). Any help welcome.

[2018-10-12 15:29] jordrake commented on #535
What about the alternative where we maintain a collection of shorthand and their longhand expansions? It will still require vigilance to keep up to date but should be less change overall. Similar to https://github.com/stylelint/stylelint/blob/master/lib/reference/shorthandData.js

Perhaps also expose it as an option too to allow people to customise it such that new additions can be added outside o

[2018-10-12 15:33] evilebottnawi commented on #535
@jordrake sounds good

[2018-10-12 17:46] andyjansson commented on #635
These two I'll fix. Declaration sorting I haven't started on.

[2018-10-12 18:57] Siilwyn commented on #535
@jordrake I already keep a collection of properties up-to-date at `css-declaration-sorter` by downloading them from the MDN docs, so that should be not much extra effort to do.

[2018-10-15 16:33] andyjansson commented on #625
Fixed in upstream package.

[2018-10-15 16:33] #625 closed

[2018-10-15 16:35] andyjansson commented on #624
This should be fixed in the upstream package.

Your expression will be reduced to:

[code]

[2018-10-15 16:35] #624 closed

[2018-10-15 20:41] kelly-tock commented on #578
@andyjansson looks like maybe you just released?

[2018-10-15 21:12] kelly-tock commented on #578
looks like the other culprit for my case anyway is `cssnano-preset-default` which has a dep on `postcss-calc` of `^6.0.0`. ugh...

[2018-10-15 21:13] kelly-tock opened #636 "update post-css-calc"
recently published a fix for an ios issue, but this is pinned to `^6.0.0`. possible to update to 7?

https://github.com/cssnano/cssnano/issues/578#issuecomment-428539932

https://www.npmjs.com/package/postcss-calc

[2018-10-15 21:14] kelly-tock commented on #636
this is down the chain in `optimize-css-assets-plugin` I believe.

[2018-10-15 21:17] andyjansson commented on #636
Yes, we'll look into updating cssnano tomorrow.

[2018-10-16 08:37] huashengwang1989 opened #637 "'TypeError: Cannot read property '0' of undefined' (postcss-merge-longhand border.js mergeRedundant)"
**Description**

While I'm using `optimize-css-assets-webpack-plugin`, which uses `cssnano-preset-default`, to optimise / minimize css from a Vue project in Webpack, I have encountered the following error in console:

[code]
This is the part of the CSS that reports Error (This CSS is generated / extracted by respective Webpack loaders; Original is in SCSS):
[code]

I've tried to add console output

[2018-10-16 12:04] FreekVR opened #638 "Merge-rules conflicts with autoprefixer grid option"
I'm running a postcss stack with both autoprefixer with 'grid: true' on, and running cssnano with the 'default' preset. It appears the  "mergeRules" option isn't working correctly with the autoprefixer grid options (I get this error, unless I disable either the mergeRules or the grid option of autoprefixer)

[code]

Here's my unprefixed source file:

[code]

Here's my config (using gulp)
[code]

[2018-10-16 13:09] andyjansson commented on #637
Duplicate of #618. Already fixed in master.

@evilebottnawi can you release this?

[2018-10-16 13:10] #637 closed

[2018-10-16 13:19] andyjansson commented on #638
Can you provide the compiled CSS for this, too? Looks like you're using Less.

[2018-10-16 13:32] FreekVR commented on #638
Sure thing! Here's what that compiles to with autoprefixer

[code]

[2018-10-16 13:46] andyjansson commented on #638
I can't seem to reproduce.

[2018-10-16 19:32] FreekVR commented on #638
Okay, there's some weird stuff going on here.

Running postcss with autoprefixer, then feeding that prefixed css (as in my previous comment) to cssnano, works fine.

However, running an _unprefixed_ css file through postcss with BOTH the autoprefixer and cssnano plugins on, returns the error.

(running the most recent autoprefixer, postcss, cssnano versions)
Here's the css in that scenario
[code]

[2018-10-16 20:03] andyjansson commented on #638
Yes, I'd wager this is the case. I managed to reproduce the issue now, and it looks like the `.layout__header` rule is missing its parent.

[2018-10-16 20:04] andyjansson commented on #638
\cc @ai

[2018-10-16 22:07] ai commented on #638
@bogdan0083 do we insert rules in a tricky way so they can lose `rule.parent` in new Autoprefixer?

[2018-10-16 23:32] ai commented on #638
I found mistake

[2018-10-16 23:42] ai commented on #638
Fixed

[2018-10-16 23:46] andyjansson commented on #638
Great!

[2018-10-16 23:46] #638 closed

[2018-10-16 23:49] ai commented on #638
Released in 9.2.1

[2018-10-17 03:50] bogdan0083 commented on #638
@ai Wow. Can you please tell me what I did wrong and why the parent went missing? 😄

How does this breaks the parent:
[code]

and this does not:

[code]

[2018-10-17 05:29] FreekVR commented on #638
Wow, thanks for getting op top of this so quickly and fixing this guys! <3

[2018-10-17 10:11] bencripps commented on #636
It would be great to get this released!

[2018-10-17 10:38] evilebottnawi commented on #636
Today in near future i will release new version

[2018-10-17 22:00] evilebottnawi commented on #636
Done in https://github.com/cssnano/cssnano/releases/tag/v4.1.5

[2018-10-17 22:00] #636 closed

[2018-10-18 05:08] PanJiaChen opened #639 "TypeError: Cannot read property 'search' of undefined"
When I upgrade to v4.1.5, the following error occurs.

![image](https://user-images.githubusercontent.com/8121621/47132495-aea9d480-d2d6-11e8-8ebd-9be5cb368080.png)

I guess it can be caused by the following code:

https://github.com/cssnano/cssnano/blob/1ebc3192629adbcb0e513452b4a9c1035730081e/packages/postcss-merge-longhand/src/lib/decl/borders.js#L376-L379

[2018-10-18 05:38] valtlai commented on #625
The second one is not fixed yet!

[2018-10-18 08:49] andyjansson commented on #639
Can you provide a minimal set of code to reproduce the issue?

[2018-10-18 09:44] PanJiaChen commented on #639
@andyjansson [online demo](https://github.com/PanJiaChen/cssnano-test)

[2018-10-18 16:28] fracmak commented on #458
Another scenario that's unsafe. When using the postcss [focus-visible](https://github.com/jonathantneal/postcss-focus-visible) plugin,
[code]
**becomes**
[code]

mergeRules combines those roles back together into this
[code]
The browser ends up dropping the whole style because of the unknown :focus-visible, so even the .focus-visible doesn't work

[2018-10-18 16:32] evilebottnawi commented on #458
@fracmak it is bug in polyfill not in `cssnano`, we use standard logic for `css`, polyfill should looks on all selectors

[2018-10-18 16:37] fracmak commented on #458
I've tested this without the polyfill and without the postcss plugin. The browser does drop the styles of unknown pseudo-selectors

[2018-10-18 16:43] evilebottnawi commented on #458
@fracmak works fine https://codepen.io/evilebottnawi/pen/EdEJpO

[2018-10-18 16:57] fracmak commented on #458
Here's my example:

https://codepen.io/anon/pen/ZqxNEq

This is what I see in chrome

![image](https://user-images.githubusercontent.com/378178/47170937-6e962200-d2d5-11e8-9664-35889a16eb5f.png)

[2018-10-18 17:12] andyjansson commented on #458
@fracmak That's fair. We should see to it that `mergeRules` takes into account browser support when merging rules.

Could you create a separate issue for this?

[2018-10-18 17:19] evilebottnawi commented on #458
@andyjansson @fracmak with `.green` in `.green, .green:focus-visible` it is still doesn't work

[2018-10-18 17:20] #639 closed

[2018-10-18 17:31] fracmak commented on #458
I'm not certain this is browser specific. I've tried it in Safari 12, Firefox 60, Chrome 69, Edge 16 with the same behavior.

[2018-10-18 17:31] evilebottnawi commented on #458
@andyjansson hm looks it is happens only when you use invalid class, it is will be hard to fix

[2018-10-18 17:32] fracmak commented on #458
You could just not merge pseudo selectors

[2018-10-18 17:36] evilebottnawi commented on #458
@fracmak bad idea, need investigate how we can solve this, please create new issue

[2018-10-18 18:12] fracmak opened #642 "mergeRules should not merge unknown pseudo selectors"
It appears that if a browser (tested in Chrome 69, Firefox 60, Safari 12, Edge 16) does not recognize a pseudo selector, it drops the entire selector, including any combined selectors.

Example:

https://codepen.io/anon/pen/ZqxNEq

![image](https://user-images.githubusercontent.com/378178/47170937-6e962200-d2d5-11e8-9664-35889a16eb5f.png)

[2018-10-18 18:12] fracmak commented on #458
New issue created #642

[2018-10-18 18:16] andyjansson commented on #458
It's  a property which is still in WD. No browser has this, except for Chrome behind an experimental flag.

Nah, this is how browsers handle CSS. Whenever a browser encounters something it does not understand, it'll ignore it fully. Like fracmak said, we shouldn't merge stuff which our supported browser range does not understand.

[2018-10-19 01:33] PanJiaChen commented on #639
Looking forward to the release of a new version ::smile:

[2018-10-19 06:55] lulucas commented on #639
node_modules/postcss-merge-longhand installed from npm,

"version": "4.0.7"

borders.js line 106 seems to be old, missing fixed code, something wrong ???

const isValueCustomProp = value => !!~value.search(/var\s*\(\s*--/i);

[2018-10-19 06:58] lulucas commented on #639
@andyjansson

postcss-merge-longhand installed from npm,

"version": "4.0.7"

borders.js line 106 seems to be old, missing fixed code, something wrong ???

const isValueCustomProp = value => !!~value.search(/var\s*(\s*--/i);

[2018-10-19 21:02] dadamssg opened #643 "version bump to include border fix"
Can we get a version bump?

The lack of [this](https://github.com/cssnano/cssnano/commit/d181d30c560386f406de3c9322855b32e88848b4) is currently breaking my production build. I'm using [optimize-css-assets-webpack-plugin](https://github.com/NMFR/optimize-css-assets-webpack-plugin/blob/master/package.json#L33) which is dependent on `cssnano@^4.1.0`. Going from 4.1.4 to 4.1.5 breaks because of the bo

[2018-10-22 12:19] aldarund opened #644 "error in postcss-merge-longhand"
this code
```.el-step__icon.is-text{border-radius:50%;border:2px solid;border-color:inherit}```

[code]
It break element-ui framework

[2018-10-22 13:28] evilebottnawi commented on #644
Already fixed in master

[2018-10-22 13:28] #644 closed

[2018-10-22 14:31] evilebottnawi commented on #643
@dadamssg WIP, in future please use `lock` file to avoid this problem

[2018-10-22 15:13] evilebottnawi commented on #643
Done in https://github.com/cssnano/cssnano/releases/tag/v4.1.7

[2018-10-22 15:13] #643 closed

[2018-10-22 19:59] awgul opened #645 "Problem with removed parenthesis from calc before var"
Hey,

Code:
`padding-top: calc(100% / (var(--aspect-ratio)));`
gets compiled to:
`padding-top: calc(100%/var(--aspect-ratio));`

And this is wrong.
Chrome and Firefox don't respect the `var()` without parenthesis around it and so the code is not working as expected.

[2018-10-22 21:08] andyjansson commented on #645
I just tested this in both Firefox and Chrome. It works fine: https://codepen.io/anon/pen/jevrdX

[2018-10-22 22:11] andyjansson commented on #645
Wrap the property declaration in a parenthesis?

[2018-10-23 05:12] awgul commented on #645
Yes, you are right. `(16/9)` is the solution.

[2018-10-24 09:55] luisapace opened #646 "postcss-reduce-initial 4.0.2 - Template:CSSData by Mozilla Contributors is licensed under CC-BY-SA 2.5."
Hi, my team would like to use the package **_postcss-reduce-initial 4.0.2_** and to approve that I've to verify all its licenses.
In the readme I see written:  "Template:CSSData by Mozilla Contributors is licensed under CC-BY-SA 2.5", but I cannot find any template in that package.
Could you please confirm me if there any CC-BY-SA 2.5 piece of code in **_postcss-reduce-initial 4.0.2_**? in this ca

[2018-10-24 10:01] evilebottnawi commented on #646
@luisapace oh, it is bug, we use MIT, feel free to send PR with change this https://github.com/cssnano/cssnano/tree/master/packages/postcss-ordered-values#license

[2018-10-24 10:14] luisapace commented on #646
Thanks for you quick confirmation!

[2018-10-24 11:30] saulhardman commented on #642
I've recently come across this issue myself and I'm wondering if it's currently possible to disable optimisations on a line-by-line basis? E.g. like ESLint's `// eslint-disable-line` comment format.

[2018-10-24 11:33] evilebottnawi commented on #642
@saulhardman no, it is hard to implement using comments, but PR welcome

[2018-10-24 11:50] saulhardman commented on #642
@evilebottnawi I figured as much, thanks for your response 👍

[2018-10-25 08:24] kurtextrem opened #647 "[src=""] is minified to [src]"
This is my config:
[code]

cssnano version: 4.1.7

It minifies `selector[src='']` to `selector[src]`, which effectively breaks functionality (The first one checks for an empty src, the latter one checks for 'is there a src attribute')

[2018-10-25 10:14] evilebottnawi commented on #647
@kurtextrem Looks you have something other what minify, maybe you still use version plugin. Can't reproduce using locally and on playground https://cssnano.co/playground/

[2018-10-25 10:16] kurtextrem commented on #647
If I comment out the cssnano require, it doesn't minify the css / minify the selector.

[2018-10-25 10:17] evilebottnawi commented on #647
@kurtextrem Can you create minimum reproducible test repo?

[2018-10-25 10:31] kurtextrem commented on #647
Before doing that, do you have any idea which plugins touch selectors? minify-selectors doesn't seem to be the one doing this, as I've added a return statement and it doesn't do anything. The selector is still being touched.

[2018-10-25 10:35] evilebottnawi commented on #647
@kurtextrem try to disable plugin step by step

[2018-10-25 15:28] p-a opened #648 "postcss-merge-longhand should preserve case of CSS custom properties"
CSS custom properties are unlike other properties [case-sensitive](https://www.w3.org/TR/css-variables-1/#defining-variables)

postcss-merge-longhand however lowercases all properties which f.ex. turns

`.foo {
 border: 1px rgba(var(--camelCase),1);
}`

into

`.foo{border:1px rgba(var(--camelcase),1)}`

The culprit seems to be [parseWsc.js](https://github.com/cssnano/cssnano/blob/v4.1.7/packages/p

[2018-10-25 15:43] evilebottnawi commented on #648
@p-a oh, it is bug, feel free to send a PR

[2018-10-27 08:15] kurtextrem commented on #647
This is my config now:
[code]
and it still removes the selector, is there anything cssnano does on its own?

[2018-10-27 08:53] kurtextrem commented on #647
I have tested all other css minifiers on the market together with their postcss plugins and all do the same. They remove the `=''`. So I guess this is either a postcss-loader issue, a cssloader or a postcss issue... Hm.

[2018-10-27 08:59] kurtextrem commented on #647
Honestly, no idea why this happens. If I don't minify the css, the selector isn't minified. If I add clean-css/cssnano/csso it is.

[2018-10-27 08:59] #647 closed

[2018-10-28 06:09] zymr-keshav commented on #379
typo  in Step3:

npm install -g ~$~ @angular/cli@1.7.3

[2018-10-28 18:40] valtlai opened #650 "Support gradient color stop double-position syntax"
I have a CSS gradient with double-position color stops, like this:

[code]

After minification it looks like:

[code]

The first color stop position, `0`, is removed which breaks the gradient.

[2018-10-28 21:33] andyjansson commented on #650
The source gradient isn't valid.

[2018-10-29 14:53] valtlai commented on #650
@andyjansson Can you elaborate? This syntax is specified in [css-images-4](https://drafts.csswg.org/css-images-4/#color-stop-syntax) spec and it’s [supported](https://www.chromestatus.com/feature/5712111258828800) by Chrome&nbsp;≥&nbsp;71.

[2018-10-29 20:12] andyjansson commented on #650
Oh, ok. So this is an updated syntax draft which isn't supported in any yet-released browser. All current browsers report it as an invalid property value.

[2018-10-30 15:09] pacifier007 opened #651 "Performance: Takes 4-6 seconds to load"
I am using cssnano 4.1.4 with gulp (not the gulp plugin) and it's taking ~4seconds to load everytime:

[code]

And the result is usually 4-6seconds: `Loading plugins: 6321.839ms`

This is on MBP Retina with the extremely fast SSDs - it takes even longer on the standard SSDs. I read through the old issues but all I could find was that it'd be fixed in v4 which I'm already using.

[2018-10-30 15:16] evilebottnawi commented on #651
@pacifier007 feel free to investigate problem and send a PR

[2018-10-30 19:21] thompk2 commented on #616
@infctr That works for me!

Css Modules assumes that anything imported _without_ a leading `./` is imported from node modules. See here: https://github.com/css-modules/css-modules#css-modules

So when cssnano normalizes URLs **before** being sent to the css-loader, they'll be interpreted as relative to node_modules. I assume the `optimize-css-assets-webpack-plugin` works because it runs cssnano **

[2018-10-31 18:54] manucorporat opened #652 "CSS variables + border generate wrong output"
A picture is worth a thousand words:
<img width="1259" alt="screenshot 2018-10-31 at 19 47 09" src="https://user-images.githubusercontent.com/127379/47811688-a6c24980-dd46-11e8-9e83-0ec729a35ecc.png">

[code]

generates:
[code]

which is clearly wrong

[2018-10-31 18:58] manucorporat commented on #652
Seems related with `postcss-merge-longhand`

[2018-10-31 19:29] evilebottnawi commented on #652
/cc @andyjansson recently we have a lot of bugs with `border`, what we can do with this? Maybe disable `border` minification by default as unsafe?

[2018-10-31 19:29] evilebottnawi commented on #584
Not related

[2018-10-31 19:29] #584 closed

[2018-10-31 19:43] manucorporat commented on #652
We just disabled the `merge-longhand` optimization all together
https://github.com/ionic-team/stencil/commit/2c081e5d576ca57d980753395c6582463d344be6
as workaround.

I can try to find time to make a PR, but unfortunately I don't think it will be anytime soon

[2018-10-31 19:52] evilebottnawi commented on #652
@manucorporat maybe you have other example invalid minification in issues are referenced here?

[2018-11-01 09:50] #652 closed

[2018-11-01 09:51] #648 closed

[2018-11-03 15:08] pacifier007 commented on #651
I have tried it on multiple machines, isolated (without gulp) but the problem seems to persist. It just seems like cssnano is loading too much.

How much does it take for everyone else here? Anyone can share the times they're seeing? Knowing the MacOS version and Node version will be a great help.

[2018-11-06 21:50] evilebottnawi commented on #651
@pacifier007 need enable/disable plugins step by step and search what is plugin has problem with perf, when send a PR with fix

[2018-11-07 17:16] evilebottnawi commented on #651
@pacifier007 Looks `gulp` require many time to loading, locally `cssnano` only take `1.3`-`1.4`ms

[2018-11-07 17:17] evilebottnawi commented on #651
But i agree it is very many, we should reduce time minimum on 2x

[2018-11-07 18:37] evilebottnawi commented on #646
/cc @andyjansson What do you think? Looks `data/fromInitial.json` and `data/toInitial.json` from mozilla

[2018-11-07 18:42] andyjansson commented on #646
What are you asking?

[2018-11-08 09:19] evilebottnawi commented on #646
@andyjansson It is compatibility with OSS projects and commercial use? Should/Can we change license?

[2018-11-08 09:48] andyjansson commented on #646
It's not our license, it's Mozilla's. And yes, it allows commercial use. Just click the link for the license:

[2018-11-08 09:49] #646 closed

[2018-11-08 16:50] luisapace commented on #646
Hi, I've seen your last comments, and I think I've to redo the initial question:
In the readme I see written: "Template:CSSData by Mozilla Contributors is licensed under CC-BY-SA 2.5", but I cannot find any template in that package.
Could you please confirm me if there any CC-BY-SA 2.5 piece of code in postcss-reduce-initial 4.0.2? in this case where is that piece of code?
Thanks.

[2018-11-09 18:16] luisapace commented on #646
thanks

[2018-11-13 16:39] andyjansson commented on #309
Upstream repo has [decided not to fix this](https://github.com/postcss/postcss/issues/1195#issuecomment-438339553).

[2018-11-13 16:39] #309 closed

[2018-11-16 03:34] twop opened #656 "mergeLonghand works incorrectly with border-image"
cssnano v 4.1.7

[code]

is translated to
[code]
Which seems to be incorrect according to mdn:
https://developer.mozilla.org/en-US/docs/Web/CSS/border

+ I was unable to repro the issue in the playground

[2018-11-16 07:04] andyjansson commented on #656
I've completely missed the fact that `border` does this. It's weird that it's declared as a shorthand for `border-width`, `border-style` and `border-color`, yet manipulates `border-image` which it has no direct or indirect connection to.

Thanks for the heads-up. For now, you can probably fix it locally by simply moving the declaration down to the bottom of the rule.

Regarding adding this to the

[2018-11-16 18:41] twop commented on #656
I'm not a css expert, so my opinion might not be as valuable.

My concern is this situation

[code]

[code]

So I would suggest not to merge into border property (if it not already present). Even with reordering I wouldn't feel safe to enable that optimization on our project

[2018-11-21 01:39] demosglok commented on #578
`.video {
    width: 100%;
    height: calc(width*56.25);
  }`
also produces same error. post-css-calc breaks on "width" as it doesn't understand what is it

[2018-11-27 09:12] leimonio opened #657 "Configure cssnano options using browserlist"
`ccsnano` offers some configurable optimizations, like `calc`. Is there a way to use the browserlist in order to be able to configure these optimizations?

To give some more context, using webpack with `optimize-css-assets-webpack-plugin` for production builds results in transforming `calc(100vh - 5rem - calc(10rem + 100px))` to `calc(100vh - 5rem - 10rem + 100px)`.

This is not happening though w

[2018-11-27 10:15] evilebottnawi commented on #657
@leimonio `browserslist` not related to `calc` optimization, You example is valid. What is problem? Which brosers is not supported this optimization?

[2018-11-27 16:07] leimonio commented on #657
I'm trying to find out if there is a way to enable/disable `calc` optimization based on some configuration. To be more specific I'm trying to solve this problem https://github.com/gatsbyjs/gatsby/issues/9858

Which is the best way to configure this optimization in a more dynamic way for the end user?

[2018-11-27 16:14] evilebottnawi commented on #657
@leimonio hm, bug in `postcss-calc`
/cc @andyjansson

[2018-12-02 22:48] jhpratt opened #658 "Add check to ensure `parent` is defined"
See ben-eb/postcss-convert-values#39. When I was finding the source of my error, that is where it led me. It has since been archived, so I'm copying the issue to here.

[2018-12-03 10:06] evilebottnawi commented on #658
@jhpratt can you provide link on problem place?

[2018-12-03 19:35] aryaroudi opened #659 "Sourcemap gets minified with Webpack + postcss + miniextractcssplugin"
Hi Guys,

I have a problem, When I use cssnano with postcss-loader in Webpack 4 and mini extract CSS plugin the Sourcemap gets minified too. Example:

![screen-1](https://i.imgur.com/kH1zFyU.jpg)

 #### webpack.config.js

[code]

What it is wrong here?

[2018-12-03 20:38] aryaroudi commented on #659
Ok. It turns out that the sourcemap option should be set inside the css-loader also:

[code]

[2018-12-03 22:49] jhpratt commented on #658
@evilebottnawi I'm not sure where exactly the problem is, as it's in the `node_modules/postcss-convert-values` directory (which is why I originally filed in the other repo). As that repo was closed in favor of this, I refiled here.

[2018-12-04 09:06] evilebottnawi commented on #658
@jhpratt looks we rewrite this module, better avoid use this, also we don't have npm access to this module so we can't fix, sorry

[2018-12-04 09:10] evilebottnawi commented on #659
@aryaroudi don't use `cssnano` in `postcss-loader`, use https://github.com/intervolga/optimize-cssnano-plugin, using on `postcss-loader` makes impossible same optimization, also `css-loader` can rewrite some css stuff

[2018-12-04 09:10] #659 closed

[2018-12-04 17:30] evilebottnawi commented on #658
@andyjansson hm, maybe we should migrate this module as unsafe optimization?

[2018-12-04 17:32] andyjansson commented on #658
What? Why?

[2018-12-04 17:41] andreluisce opened #660 "Keyframe name mismatch when using :local scope of CssModules"
I am facing this problem with the cssnano@4.7.1

My Css file has the output:
_The name of the keyframe X animation doesn't match._
[code]
**original.css**
[code]

**next.config.js**
[code]

**postcss.config.js**
[code]

**Trying to solving this problem I downgraded my cssnano to 3.10.0 and it worked.**

**postcss.config.js for version 3.10.0**
[code]
**css corrected using cssnano@3.10.0**
[code]

[2018-12-04 17:47] evilebottnawi commented on #658
@andyjansson This is a minification and for some they can be safe.

[2018-12-04 17:51] evilebottnawi commented on #660
Please create reproducible test repo without `webpack`, `cssmodules` and `next`, also looks problem related to `css` modules, not `cssnano`

[2018-12-04 18:02] aryaroudi commented on #659
Very Good point. It would be great if you guys update the postcss-loader documentation, many people choose the bad approach.

Thanks

[2018-12-04 22:04] jhpratt commented on #658
Confirming what @andyjansson said. I was using cssnano (not `postcss-time-machine`, not sure where that came from) as the last plugin in my stack. It worked on its own, so I essentially added a second pass solely for minification. I'm not sure _why_ that worked, but it did. The error thrown is when it was all in a single pass.

I could attempt to narrow this to a test case, but given that it's a s

[2018-12-04 22:10] andyjansson commented on #658
From [this](https://github.com/ben-eb/postcss-convert-values/issues/27#issuecomment-351889104)

[2018-12-04 22:14] jhpratt commented on #658
Ah, yeah. Still originates in cssnano, though. It's nothing specific to the
other plugin — my most recent instance of that was not even using that.

Jacob Pratt

On Tue, Dec 4, 2018 at 10:10 PM Andy Jansson <notifications@github.com>
wrote:

[2018-12-04 22:18] andyjansson commented on #658
Alright. You sure that none of the prior plugins manipulate the AST in such a way that the `parent` disappears? It *should* always be there. Does it work when you only have cssnano in your plugin stack?

[2018-12-04 22:30] jhpratt commented on #658
Hmm...I stand corrected. I completely forgot I was using `postcss-time-machine`. Disabling that makes everything work as expected. I'll file an issue over there.

[2018-12-04 22:36] jonathantneal commented on #658
I might need some help understanding what I’ve done that’s not allowed by cssnano.

https://github.com/jonathantneal/postcss-time-machine/blob/master/index.js#L146-L198

[2018-12-04 22:44] jonathantneal commented on #658
I think that’s the issue. I’ll try to rewrite this plugin tonight, otherwise patch the issue and release a patch update. I didn’t realize how long it had been since it had been refactored.

[2018-12-07 03:13] jonathantneal commented on #658
This has been fixed in PostCSS Time Machine. If someone can confirm that against this issue, it can be closed here.

[2018-12-07 04:16] jhpratt commented on #658
Thanks for the quick turnaround @jonathantneal! I was honestly surprised to see it was your plugin that was the issue, but I guess we all get caught every now and then :smile:

I just tested it by placing cssnano back in with the main plugin stack, and no errors ensued. LGTM!

[2018-12-07 04:16] #658 closed

[2018-12-07 08:45] bugzpodder opened #661 "postcss-normalize-whitespace breaks"
postcss-normalize-whitespace breaks production build using dart-css only.

I am using create-react-app 2.0 config, which uses OptimizeCSSAssetsPlugin in production build.
So it uses css-nano with cssnano-preset-default.  I noticed it breaks production build if I switch from node-sass (works fine) to dart-sass (breaks).  I disabled each rule until I found the culprit and it seems postcss-normalize-

[2018-12-07 09:11] evilebottnawi commented on #661
Problem in `css-loader` and already fixed in master (will be release today)

[2018-12-07 09:11] #661 closed

[2018-12-07 09:14] evilebottnawi commented on #661
Also please create issue with examples before and after in future, no need copy paste in issue because it is hard to read and debug

[2018-12-07 16:09] ogonkov commented on #111
What is the status of this issue?

[2018-12-07 16:09] evilebottnawi commented on #111
@ogonkov PR welcome

[2018-12-07 17:44] bugzpodder commented on #661
Unfortunately css-loader 2.0 still breaks (I used yarn resolution to install the new version).
I'll look at it later at some point to see if I can come up with something.

[2018-12-07 17:44] evilebottnawi commented on #661
@bugzpodder what is broken in `css-loader@2`?

[2018-12-07 18:46] bugzpodder commented on #661
@evilebottnawi  Sorry, I meant my build is still not displaying the right css with css-loader@2 so css-loader@2 is not the source of the bug.  And it seems to be a quirk with dart-sass + css-loader + css-nano + postcss-normalize-whitespace.  The build will work if I replace dart-sass with node+sass, or disable postcss-normalize-whitespace.   I will investigate and try to come up with a repo (but t

[2018-12-07 18:49] evilebottnawi commented on #661
@bugzpodder feel free to create new issue or reopen with examples

[2018-12-08 00:07] bugzpodder commented on #661
I ended up tracking down the issue to this particular file in bootstrap scss:
https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_forms.scss
taking it out make everything work.  So I am just going to remove this file and call it a day.  Leaving it here as a reference in case anyone else runs into a similar issue.

[2018-12-10 08:40] evilebottnawi commented on #661
@bugzpodder what are broken in this minified file?

[2018-12-10 08:46] SelfishLucho opened #662 ""not" notation when using @support API"
Hi! I tried to find documentation or some sort of report issue but was not able to, If someone could pin point on where I should look to find my issue. I know that i can work around this but still would like to know how cssnano categories this.

Im trying to use the "not" notation when using [@support](https://developer.mozilla.org/en-US/docs/Web/CSS/@supports) API, however doesn't seem to trigger

[2018-12-10 08:47] evilebottnawi commented on #662
@SelfishLucho can you provide examples?

[2018-12-10 08:48] SelfishLucho commented on #662
@evilebottnawi the codepen :), or do you want me to update it here?

[2018-12-10 08:51] evilebottnawi commented on #662
@SelfishLucho what is broken? `@support` cannot be nested

[2018-12-10 08:52] SelfishLucho commented on #662
@evilebottnawi When using `@support not (rule)`, "not" notation is not being taken in consideration by cssnano

[2018-12-10 08:54] SelfishLucho commented on #662
@evilebottnawi Ok I try to use it without nesting it

[2018-12-10 08:55] evilebottnawi commented on #662
@SelfishLucho can't reproducible :confused: here link on playground https://cssnano.co/playground/

[2018-12-10 08:59] SelfishLucho commented on #662
@evilebottnawi Seems like it's actually including the "not" notation, but I will try without nesting that might be causing my issue. Is there a way find what compiling options the playground is using?

[2018-12-10 09:02] evilebottnawi commented on #662
@SelfishLucho no options `safe` mode

[2018-12-10 09:06] SelfishLucho commented on #662
@evilebottnawi Thanks for quick answer, I'll update with a more detailed question on my issue

[2018-12-10 13:48] jihb opened #663 "discardOverridden does not work"
Suppose there is the following css code:

[code]
After being Compiled with cssnano, the output is:
[code]

the top one will be discard~

so I try to set  'preset' property like this:
[code]

but it does not work , so how can I solve this problem？

[2018-12-10 13:57] evilebottnawi commented on #663
bug, need fix, feel free to send a PR

[2018-12-11 04:30] jihb commented on #663
When I  disabled the option 'mergeLonghand' , the bug was disappear~

so it is a bug of 'postcss-merge-longhand'~

[2018-12-11 08:47] evilebottnawi commented on #663
@jihb yep, feel free to send a PR with fix

[2018-12-12 16:23] pgoforth opened #664 "mergeLonghand works incorrectly with css variables containing applicable suffixes"
When compiling CSS variables that are named with suffixes that can be merged, the variables are improperly merged and overwritten:
[code]
...will be compiled into...
[code]

[2018-12-12 20:41] pgoforth commented on #652
@evilebottnawi
This is still a valid defect. #653 did not fix this issue

[2018-12-12 21:37] ogonkov commented on #111
It should go to advanced optimizations preset?

[2018-12-13 09:23] evilebottnawi commented on #111
@ogonkov no, we need improve postcss-merge-rules logic for these, feel free to send a PR

[2018-12-13 11:42] andyjansson commented on #111
Frankly, we should probably kill the partial-merge thing in postcss-merge-rules. There are too many bugs in it.

[2018-12-13 11:44] evilebottnawi commented on #111
@andyjansson what bugs? Partial merge it is great feature, all css minificators support this, and disable this decrease quality of minification, we need fix problem

[2018-12-13 12:19] andyjansson commented on #111
Fine, so fix it. There are a ton of hard to fix bugs around the functionality.

[2018-12-13 12:35] evilebottnawi commented on #111
@andyjansson Please do not demotivate other developers. It's always easy to say that everything is bad than to do something, just create examples of problems and I will ask for help from other developers. You are not the only one working in OSS and not first who find bugs and problems.

Maybe just delete the project? No projects - no problems.

[2018-12-13 12:59] ogonkov commented on #111
`postcss-merge-rules` seems doesn't support of managing `@media`?

[2018-12-13 13:01] ogonkov commented on #111
Why not add `node-css-mqpacker`?

[2018-12-13 13:10] evilebottnawi commented on #111
@ogonkov
- it is works only with `width`
- it is not safe in same cases
- need more tests

[2018-12-13 13:11] evilebottnawi commented on #111
Anyway feel free to send a PR with implementation and tests :+1:

[2018-12-14 08:42] LastStranger opened #665 "cssnano can't work with css module"
![image](https://user-images.githubusercontent.com/29811304/49992167-39007300-ffbe-11e8-8261-b05eae95c15d.png)
![image](https://user-images.githubusercontent.com/29811304/49992187-487fbc00-ffbe-11e8-8353-8780d1e8f044.png)
when I use the CSS module, my index.css file's background image URL can't be resolved, if I remove cssnano from my postcss.config.js, then everything works fine. So I believe css

[2018-12-14 09:22] evilebottnawi commented on #665
@LastStranger what version `css-loader` your are use? Please provide minimum reproducible test repo

[2018-12-14 10:36] LastStranger commented on #665
"css-loader": "^1.0.1","cssnano": "^4.1.7", "webpack": "^4.26.1", I believe all my devDependencies are the recent version. I don't know how to provide you minimum reproducible test repo. This is the error down below. If I remove cssnano, everything works as I expect. If I don't use CSS module and with cssnanno added, the background image in css file can be resolved well.

![image](https://user-ima

[2018-12-14 10:40] evilebottnawi commented on #665
@LastStranger please update `css-loader` to `2` version, `1` version very buggy

[2018-12-14 11:02] LastStranger commented on #665
OhOhOhOh, it solved. excellent, bro. Thank you so much, happy weekends

[2018-12-14 11:16] evilebottnawi commented on #665
@LastStranger :+1:

[2018-12-14 11:16] #665 closed

[2018-12-14 18:18] ClementParis016 opened #666 "`background-color: transparent` not working"
I have an issue with a `background-color` not working after a pass through cssnano, it seems like an issue with the way how selectors are combined together (but honestly I don't know much about how cssnano works).

You can reproduce the issue in the [playground](https://cssnano.co/playground/) (in v4.1.7, which is the same my code is using locally) by entering the following CSS code as input:

<de

[2018-12-15 12:51] Dekkee opened #667 "Bug or feature with mergeLongheads for border"
We got some kind templates in css and we use macros instead of values during build. After updating cssnano from 3.7.1 to 4.1.7 it starts to produce bad css.
All steps reproducible in playground.

### Input:
`
.some-class {
  border-width: __1__;
  border-color: __2__;
  border-style: solid;
}
`
### Output:

`
.some-class{border:solid}
`
### Expected:

`
.some-class{border: __1__ solid __2__}
`

al

[2018-12-16 17:39] ClementParis016 commented on #666
After investigation, it looks like postcss-merge-rules optimisation is responsible for the issue because it works correctly if I disable it.

[2018-12-16 18:53] ClementParis016 commented on #666
Found it! That's not an issue with cssnano at all.

In fact, this selector `.Button--frameless:not([disabled]):not(.Button--primary.Button--is-loading):hover` is invalid because selector in `:not()` can't have multiple classes, which the second one has.

This is due to the fact that I'm using SASS to generate this invalid CSS:
[code]

This ampersand expands the parent selector which makes the sele

[2018-12-16 18:53] #666 closed

[2018-12-17 09:54] evilebottnawi commented on #667
Because it is invalid `css`, we don't support invalid css, you should use `cssnano` as plugin for `webpack` (https://github.com/intervolga/optimize-cssnano-plugin) or put `cssnano` as last in postcss plugins, thanks

[2018-12-17 09:54] #667 closed

[2018-12-17 12:45] rgoj opened #668 "Combination of border: none and border-left: solid results in incorrect border properties"
With cssnano 4.1.7, I'm getting problems with `border: none` not being interpreted correctly. I can work around this by using `border: 0`.

The following:

[code]

results in:

[code]
and the left border appears in blue rather than grey as intended.

If I change `border: none;` to `border: 0;`, i.e.:

[code]

the resulting CSS works correctly (the left border is grey and 2px wide):

[code]

[2018-12-17 12:46] evilebottnawi commented on #668
Looks like a bug, feel free to send a PR with fix

/cc @andyjansson

[2018-12-17 18:15] andyjansson opened #669 "Retiring from cssnano"
I regret to inform everyone that I'll be retiring from this project effective immediately, as well as taking a pause from FOSS in general. With this, @evilebottnawi will be the sole arbiter of this project.

I apologise for any inconvenience this may cause.

Thank you for your understanding.

Farewell.

[2018-12-18 13:56] Chris2011 commented on #25
I read this and I trusted you, but unfortunately this is not correct :D. I tested it right now.

Here you can see the differences between `style-loader, css-loader, sass-loader` to `style-loader, css-loader, postcss-loder, sass-loader`
{code:css}
/* Minimized CSS w/o postcss-loader & w/o cssnano */
body{margin:0;border:1px solid rgba(0,0,0,0.5);font-family:Arial}p{margin:0}
/* Minimized CSS w/ pos

[2018-12-18 15:09] StefanoSega opened #670 "Doesn't work with postcss-loader and css modules"
I've an app with webpack that performs code-splitting with css modules; the module rule for `.scss` files looks like this:
[code]

the `postcss.config.js` file looks like this:
[code]

what happens is that pixrem and autoprefixer are applied correctly to the final .css chunks but the resulting css is not minified.

[2018-12-18 15:12] evilebottnawi commented on #670
Don't use `cssnano` as part of `postcss-loader`, it is not effective and can be danger, minification should be done after all modules was built, use this https://github.com/NMFR/optimize-css-assets-webpack-plugin

[2018-12-18 15:12] #670 closed

[2018-12-22 14:11] #651 closed

[2019-01-11 11:44] kanongil opened #673 "orderedValues transform fail with env()"
Input
[code]

Output (with env missing):
[code]

cssnano@4.1.8

[2019-01-11 11:45] evilebottnawi commented on #673
@kanongil bug, feel free to send a PR

[2019-01-11 14:00] kanongil commented on #673
Hmm, the rule doesn't really work when `env()` is used, as the actual value is evaluated at runtime. Ie. it could be any of the positions. The same actually goes for `calc()`, and I guess any other function.

I suspect that the solution is to disable the transform for the expression, if it contains any functions.

[2019-01-15 10:11] impressioncr opened #674 "reduce-transforms in animation @keyframes"
That a keyframe was reduce-transformed when opacity property existed resulted in that animation didn't work on ios.

[code]

[code]
[online demo](https://codepen.io/impressioncr/pen/MZLGqE)

[2019-01-15 10:42] evilebottnawi commented on #674
@impressioncr looks like bug, feel free to send a PR with fix

[2019-01-15 17:02] manucorporat opened #675 "mergeLonghand is unsafe with border and CSS variables"
Using  4.1.8 (#671)

Input:
[code]

output:

[code]

Notice the generates CSS is not equivalent since border-width can take values like:

[code]

leading a computed value of `border`:

[code]
which is NOT valid.

**Expected behaviour:**

Do not merge border into a shortcut when using CSS variables.

Using the playground

<img width="1512" alt="screenshot 2019-01-15 at 17 58 33" src="https://user-i

[2019-01-15 17:06] evilebottnawi commented on #675
@manucorporat Can't find any documentation what css variables supports multiple values

[2019-01-15 17:11] manucorporat commented on #675
yep, border seems too complicated to handle when CSS variables are used.

We just reenabled this optimization, but seems like we have to disable it again :(
https://github.com/ionic-team/stencil/commit/cbd357926ec98d1b6a310352b4d2496c37d34adb

Happy to help, but I am not very familiarised with the css-nano codebase, where should I look into?

[2019-01-16 02:04] impressioncr commented on #674
Found out that `scale3D(0, 0, 0)` couldn't work with `opacity: 0` on ios.

Fixed with
[code]
reduceTransforms optimisation is fine yet transforming keyframes values is unsafe anyway.

[2019-01-16 02:04] #674 closed

[2019-01-16 14:22] manucorporat commented on #675
I gave it a try, but I fall down the rabbit hole without results. I guess we'll just deactivate this optimization again

[2019-01-17 12:45] sbrl opened #676 "Error: TypeError: decl.moveTo is not a function"
I'm looking into using cssnano via `rollup-plugin-postcss`, with the `minimize: true` option, but I'm encountering an error whenever I try to use it:

[code]

After a bunch of digging, it transpired that the issue was with `postcss-merge-rules`, which was reported and fixed in ben-eb/postcss-merge-rules#52. Confused, I turned to `npm-why` to figure out what was going wrong. It turns out that `cssn

[2019-01-17 13:05] evilebottnawi commented on #676
Not related to `cssnano`, need update `cssnano` in https://github.com/egoist/rollup-plugin-postcss/blob/master/package.json#L47, plugin use `3` version, actual version is `4`, please create issue in https://github.com/egoist/rollup-plugin-postcss, thanks

[2019-01-17 13:05] #676 closed

[2019-01-17 13:49] sbrl commented on #676
Thanks! I'll do that.

So many dependencies make it a challenge to figure out where you need to open an issue.......

[2019-01-17 13:52] sbrl commented on #676
Opened egoist/rollup-plugin-postcss#151.

[2019-01-18 09:19] seanret commented on #379
test

[2019-01-18 09:19] seanret commented on #379
npm -burat

[2019-01-18 09:22] seanret commented on #379
npm -burat

[2019-01-18 19:51] MrMitch opened #677 "Incorrect handling of `@page :first`"
Hi,

While trying to debug an issue in another package (https://github.com/symfony/webpack-encore/issues/498), it seems the root cause might come from an incorrect output produced by `cssnano`.

The [:first](https://developer.mozilla.org/fr/docs/Web/CSS/:first) pseudo-class can be used with `@page` to specify a set of rules that will only be applied to the first page of a printed document (using `

[2019-01-18 19:57] MrMitch commented on #677
This used to work when the other project used `cssnano@3.10.0` but it breaks now that it has switched to `cssnano@^4.10.0`. I was hoping to provide some more detailed info regarding what commit might have introduced the behavior change but I couldn't really understand how to handle the `cssnano` repo.

Could you provide some guidance on how I could see the ouput of `cssnano` given a certain input

[2019-01-18 20:16] evilebottnawi commented on #677
Looks like a bug, feel free to send a PR with fix

[2019-01-18 21:00] MrMitch commented on #677
Hi @evilbottnawi,

Thank you for your reply.
I'd love to try and work on that but I'm having difficulties understanding how the repo is structured and how to handle it.
Is there a guide on how to setup the dev environment (apart from cloning and running `yarn install`) and/or how to start hacking on the project ?

[2019-01-18 21:04] evilebottnawi commented on #677
@MrMitch Here documentation https://github.com/cssnano/cssnano/blob/master/CONTRIBUTING.md

[2019-01-18 21:05] evilebottnawi commented on #662
/cc @SelfishLucho friendly ping, can you provide example?

[2019-01-18 21:08] MrMitch commented on #677
@evilebottnawi thanks, I had already seen that, it didn't really help. I'll try to spend some time on it over the weekend.

[2019-01-18 21:19] Lyrkan commented on #677
Hi there,

In case someones needs a workaround in the meantime: the issue doesn't seem to happen when `minifyParams` is disabled: https://runkit.com/embed/tmpvfbk3wldh

[2019-01-18 21:30] evilebottnawi commented on #677
It should be very easy fix, jsut don't have time on this right now

[2019-01-18 22:08] MrMitch commented on #677
@Lyrkan thank you, I was able to identify the part of the code that causes the issue, I'm preparing a PR at the moment.

@evilebottnawi no problem, I'm on it.

[2019-01-22 08:21] #677 closed

[2019-01-24 16:32] #631 closed

[2019-01-25 16:38] GeassCoder opened #683 "Online playground not working"
https://npm.runkit.com/cssnano when clicking run it gives error...

[2019-01-25 16:44] evilebottnawi commented on #683
@GeassCoder it is not official playground, here official https://cssnano.co/playground/

[2019-01-25 16:44] #683 closed

[2019-01-25 18:38] GeassCoder commented on #683
@evilebottnawi Thanks! I came across that link on the github page https://github.com/cssnano/cssnano. Please update it as it is confusing.

[2019-01-25 18:38] evilebottnawi commented on #683
@GeassCoder oh, thanks for link, can you send a PR with fix link?

[2019-01-25 18:42] GeassCoder commented on #683
@evilebottnawi Sure. Will do soon.

[2019-01-25 18:44] evilebottnawi commented on #683
@GeassCoder thanks!

[2019-01-25 20:45] evilebottnawi commented on #660
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2019-01-25 20:45] #660 closed

[2019-01-25 20:46] evilebottnawi commented on #657
/cc @andyjansson can you find time on fixing problem in `postcss-calc`, because it is should be easy for you, thanks!

[2019-01-30 09:00] evilebottnawi commented on #673
@kanongil can you provide link how we can reproduce problem?

[2019-01-30 17:51] adamwathan opened #701 "mergeRules when combined with mergeLonghand can create the wrong rules"
Apologies for not being able to reduce this to the absolute minimum reproduction, but given this CSS:

[code]

When minified with mergeRules and mergeLonghand both enabled, the output is:

[code]

The important changes here are that the `border-color` declarations were grouped and the `border-color` declaration from the `.error-banner .field-errors.filled` selector was removed, and that what was o

[2019-01-30 18:03] evilebottnawi commented on #701
Oh, can we reduce example? I think problem in `postcss-merge-longhand`, he runs before `postcss-merge-rules` and create invalid border values so we have invalid merge rules

[2019-01-30 18:05] evilebottnawi commented on #701
To be honestly, i don't have enough time and funds :disappointed:  to works a lot of time on this so feel free to send a PR

[2019-01-30 18:37] adamwathan commented on #701
Cool thanks I will see if I can get it working and PR something! 👍

For others, here's the minimum reproduction:

[code]

Compiles to:

[code]

This is related but possibly a different issue, but this CSS:

[code]

...compiles to:

[code]

...which is also wrong, since it's important that the `border-color` declaration comes after `border-bottom` for the color to take affect.

[2019-01-30 18:44] evilebottnawi commented on #701
@adamwathan Can you provide what your expected too for other developers?

[2019-01-31 00:56] adamwathan commented on #701
Added expected behavior to the comment 👍

[2019-01-31 13:31] evilebottnawi opened #702 "More shorthand for `postcss-merge-longhand`"
Ref: https://github.com/stylelint/stylelint/tree/master/lib/rules/declaration-block-no-redundant-longhand-properties

[2019-01-31 17:05] evilebottnawi opened #707 "Avoid unnecessary parenthesis for `@supports`"
Input:
[code]

Exampled:
[code]

[2019-01-31 17:30] evilebottnawi commented on #323
Minification `selector + selector` -> `selector:nth-of-type(-n+2)` is sounds great, but it is unsafe change :disappointed:
Why? selectors have difference `specificity`:
- `selector + selector` (`0 0 2`)
- `selector:nth-of-type(-n+2)` (`0 1 1`)

[2019-01-31 17:37] evilebottnawi commented on #424
Close in favor https://github.com/linkedin/opticss, thanks for new tool

[2019-01-31 17:37] #424 closed

[2019-01-31 17:43] evilebottnawi commented on #431
Already done in `postcss-normalize-string`

[2019-01-31 17:43] #431 closed

[2019-01-31 17:46] evilebottnawi commented on #458
Original issue was solved.

[2019-01-31 17:46] #458 closed

[2019-01-31 17:48] evilebottnawi commented on #566
Don't think we should documented this, anyway feel free to send a PR if you think otherwise

[2019-01-31 17:48] #566 closed

[2019-01-31 17:49] #662 closed

[2019-01-31 17:49] evilebottnawi commented on #662
Tests added for not notation https://github.com/cssnano/cssnano/pull/708 and all works as expected.

[2019-02-12 18:53] evilebottnawi commented on #702
Also need check all prefixes for postcss-ordered-values

[2019-02-13 09:46] JakubRobotka opened #710 "No matching version found"
Issues having in installing this npm package.
node: v11.2.0

`npm ERR! code ETARGET
npm ERR! notarget No matching version found for cssnano-preset-default@^4.0.7
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.
npm ERR! notarget
npm ERR! notarget It was specified as a dependency of 'cssnano'
npm ERR! notarget`

[2019-02-13 10:55] #710 closed

[2019-02-16 19:27] tmorehouse commented on #701
I am seeing a similar issue (which may be related) when using the default preset:

[code]

is being converted to:

[code]

which does not produce the same result visually.

[2019-02-16 19:48] tmorehouse opened #712 "cssnano mangles background-position property that has calc(...)"
cssnano is mangling certain `background-position` rules:

[code]
becomes:
[code]

but when changing the order to:
[code]
it works.

This issue can be reproduiced in the playground at https://cssnano.co/playground/

![image](https://user-images.githubusercontent.com/2781561/52904436-a5883000-3202-11e9-923a-2e213495a1f8.png)

![image](https://user-images.githubusercontent.com/2781561/52904441-b769d3

[2019-02-18 09:57] evilebottnawi commented on #712
Yep, it is bug, don't have time right now on this, PR welcome :+1:

[2019-02-18 09:58] evilebottnawi commented on #712
We should any changes you `calc` exists

[2019-02-18 10:03] evilebottnawi commented on #701
@tmorehouse not related to this issue

[2019-02-23 06:59] sdvg commented on #675
Similar issue with `font`:

[code]

becomes

[code]

(the comma should be a space)

Please tell if I should create a new issue, but I think this is the same problem.

[2019-02-25 09:29] evilebottnawi commented on #675
@sdvg yep, it is other issue, i think we need create new issue

[2019-02-26 10:01] sdvg opened #713 "font shorthand breaks when using custom property"
[code]

becomes

[code]

(the comma should be a space)

[2019-02-26 10:07] evilebottnawi commented on #713
Feel free to send a PR, it should be easy

[2019-03-01 05:04] bentleyo opened #714 "Exception On Invalid CSS"
Hey there! I'm not sure if this is an issue, but I recently ran into a situation where `cssnano` crashed due to malformed CSS. In particular there was some CSS like this:

[code]

You can replicate this in the online playground:
https://cssnano.co/playground/

I'm not familiar with this plugin so it took me a little while to track down from the exception message:
`TypeError: Cannot read property '

[2019-03-01 17:41] 06b opened #715 "[postcss-colormin] rgba(0, 0, 0, 0) conversion to transparent not always valid"
Originally posted on /ben-eb/colormin#43 (but I'm assuming that project is deprecated and issues related to colormin should be made here) and related to issue #630

Another example in which transparent not being valid is Firefox appears to ignore `background-color: transparent` on inputs & textareas when using High Contrast Mode in Windows, but it respects `background-color: rgba(0,0,0,0)`

[2019-03-01 18:38] karolyi commented on #712
+1 here, and note to self:

turn cssnano back on when this bug got fixed and a release issued.

[2019-03-01 18:44] karolyi commented on #712
Another solution is to use https://www.npmjs.com/package/clean-css

[2019-03-03 11:03] Janne252 commented on #576
@selipasha I ran into the same issue. Based on the documentation you have to pass in a preset object in order to be able to override rules:
[code]
This worked for me; Whitespace is no longer being normalized.

[2019-03-04 08:43] evilebottnawi commented on #714
@bentleyo yep, small bug, something need more checks, feel free investigate and send a PR

[2019-03-04 09:43] evilebottnawi commented on #712
@karolyi `clean-css` has other big bugs around `--var` and other, so change optimizer with bug on other buggy is not good idea

[2019-03-04 09:44] evilebottnawi commented on #715
@06b can you provide example, we can handle this on our level

[2019-03-04 14:41] 06b commented on #715
Here's an example which I've tested in the cssnano playground:

**Input:**
[code]

**Output:**
[code]

**Expected Output:**
[code]

Let me know if you need anything else.

[2019-03-04 14:54] evilebottnawi commented on #715
@06b Can find any information about this bug https://caniuse.com/#search=background-color, we can avoid tranformation based on browserslist, but we need list of problems browsers

[2019-03-04 14:55] evilebottnawi commented on #715
For me it is look as firefox bug

[2019-03-04 15:19] karolyi commented on #712
@evilebottnawi I use bootstrap 4.3 with it, doesn't seem to have errors. can you elaborate?

[2019-03-04 15:28] 06b commented on #715
From the related issue #630  it looks like there is a stackoverflow post related to rgba & transparent - https://stackoverflow.com/questions/32479188/whats-the-difference-between-rgba0-0-0-0-and-transparent

It looks like transparent is considered a true color in CSS Color Levels 3 but wasn't a true color in CSS Level 2 (Revision 1) - From [Historical Note from MDN](https://developer.mozilla.org/e

[2019-03-04 15:37] tmorehouse commented on #712
Bootstrap uses `cleancss` as their minifier after compiling down to standard `css` (for default theme).

[2019-03-04 15:38] evilebottnawi commented on #715
@06b thanks for investigate, anyway you can send a PR with fix, if we can't find list of bugs browsers, we should disable this modification by default.

[2019-03-11 09:15] zipper opened #717 "mergeRules can change order of properties when it matters"
In some cases, the order of properties is very importatnt, such as with vendor prefixes. See this input:
[code]

It transforms into this (deminified):
[code]

The input first gets autoprefixed using autoprefixer. This step is fine - into the first rule, it adds `-moz-appearance:textfield` and leaves the `-webkit-appearance` untouched. That's all ok. But then cssnano [merges rules by partial declar

[2019-03-11 09:33] evilebottnawi commented on #717
@zipper what is your order of plugins?

[2019-03-11 09:44] zipper commented on #717
It doesn't matter, the output is similar in both cases.

Order autoprefixer -> cssnano:
[code]

Order cssnano -> autoprefixer:
[code]

With autoprefixer off completely:
[code]

I believe the correct output should be on of these (with autoprefixer on):
[code]
or
[code]

[2019-03-11 09:49] evilebottnawi commented on #717
When we merge selectors, we should respect `prefixes` too, can you describe shortly what you actually have and what you expected for other developers who want to help, thanks!

[2019-03-11 09:57] zipper commented on #717
I think it is well described in my previous comment https://github.com/cssnano/cssnano/issues/717#issuecomment-471470238. In short, I need different value for prefixed and unprefixed properties. That means having both in CSS, since autoprefixer prefixes the property, but keeps the value same (well, when they actually are meant to be same). So I split the declaration, let the autoprefixer add `-moz

[2019-03-12 12:45] kingback commented on #675
here's another case:

input

[code]

output

[code]

`height/width` is ok, but `padding/margin` is broken

expected

[code]

postcss.config.js

[code]

it works right if set `mergeLonghand` option to `false`

[2019-03-12 12:47] evilebottnawi commented on #675
@kingback should be easy to fix, feel free to send a PR

[2019-03-14 20:29] ToadKing opened #718 "Exception with mixed border declarations"
[code]

Trying this in the online REPL spits out a Javascript error: `TypeError: values[i] is undefined`

[2019-03-15 09:55] evilebottnawi commented on #718
@ToadKing thanks for issue, feel free to send a PR, it should be easy

[2019-03-16 15:51] clshortfuse commented on #111
Can we branch this out to merging adjacent preprocessors in general? I'm handling the sorting and logic on my own, but as long it's identical and adjacent it's 100% safe. I'd have to dive in cssnano to see how the logic works, but these should be collapsed:

[code]

into this:

[code]

It seems like a good initial start until we can consider more complicated operations (like performing a second pa

[2019-03-16 22:11] clshortfuse opened #720 "postcss-merge-idents: nested at-rules are not supported"
Filing this issue to be able to fix #411

When using two-level at-rule nesting, sameParent only checks the first parent. This test would fail:

[code]

The `media... { supports... {` rule should passthrough like all the other rules do. It doesn't.

The cached rules are removed from the document while processing. It happens here:

https://github.com/cssnano/cssnano/blob/d177936b2656ad286490bedc3c4a

[2019-03-18 01:24] Austaras opened #721 "stop transform transparent to initial when need support for edge"
tranform
[code]
to
[code]
will cause a bug in Edge causing slider thumb unseenable

[2019-03-18 01:26] Austaras commented on #721
parcel-bundler/parcel#2810

[2019-03-18 09:33] #411 closed

[2019-03-18 09:33] #720 closed

[2019-03-18 09:34] evilebottnawi commented on #721
@Austaras what is version EDGE is affected?

[2019-03-18 11:40] Austaras commented on #721
edge 18

[2019-03-18 11:46] evilebottnawi commented on #721
@Austaras it is bug, better also post issue for edge, because it is value based on spec

[2019-03-18 17:17] clshortfuse commented on #111
@evilebottnawi Your original comment either has a misunderstand of media query specificity, has a bad example, or is asking for something that cssnano doesn't do even without media queries. You can't move .bar up into `min-width:640px`. It wouldn't be safe. Media queries don't increase specificity. That means the rules are executed in the order they are read. If you move `.bar` up into the `min-wi

[2019-03-18 17:21] evilebottnawi commented on #111
It was just example (maybe some incorrect), idea to create plugin what allow to merge media at rules, you can send a PR and we can continue discussion with code (it is better)

[2019-03-18 22:55] clshortfuse commented on #717
I don't think we can ever safely merge the rules even with the examples provided here. If a browser will override with the non-prefixed version, then we can't change the order. It's easier to understand and test with and classes and `transform` instead of the same attribute:

[code]

Here's how Chrome will render these classes:

* `.a   (normal)`
* `.b   (flipped)`
* `.a.b (flipped)`

This cannot

[2019-03-19 09:53] evilebottnawi commented on #717
Sounds reasonable, feel free to send a PR

[2019-03-19 20:08] 06b commented on #715
So after creating [multiple test cases](https://github.com/06b/High-Contrast-Mode-Reduced-Test-Cases) and testing high contrast mode with different browsers, I'm in agreement with you that this is most likely a firefox bug.

This [test](https://github.com/06b/High-Contrast-Mode-Reduced-Test-Cases/tree/master/02-transparent%20!important) shows the issue which appears to be present within Firefox Qu

[2019-03-19 20:28] evilebottnawi commented on #715
@06b thanks for investigate

[2019-03-20 05:37] clshortfuse commented on #701
With PR #723 , the output for the first comment would be

[code]

At I glance, I think that's right. It also outputs:

[code]

Which I believe is as expected in the fourth comment. I'll update the commit message.

[2019-03-20 10:17] #717 closed

[2019-03-26 07:08] lunelson opened #725 "Should not strip calc(var(--cp)) expressions"
Currently cssnano assumes that `calc(var(--myvar))` will always be equal to `var(--myvar)` but this is not a safe assumption. `var()` expressions can contain arbitrary numeric expressions, and may *need* a `calc()` wrapper in order to be valid. Example:

[code]
cssnano will strip this down to the following, which is not valid:
[code]

[2019-03-26 08:54] evilebottnawi commented on #725
@lunelson can you provide example when this optimization doesn't work as expected (codepen or other services)

[2019-03-26 11:10] lunelson commented on #725
If you check the following pen you can see that `font-size: calc(var(--fz));` works, but `font-size:var(--fz);` (which is what you get with cssnano's minification) does not:

https://codepen.io/lunelson/pen/OqGEgG

[2019-03-26 11:17] evilebottnawi commented on #725
Yep, bug in `postcss-calc`, thanks for issue

[2019-03-26 17:37] GreenGremlin opened #726 "Used fonts are improperly discarded"
Given the following css:

[code]

...the FontAwesome @font-face definition is improperly removed. This appears to be [the expected behavior](https://github.com/cssnano/cssnano/blob/master/packages/postcss-discard-unused/src/__tests__/index.js#L88), however this is valid css and should properly be detected as a use of the font. Would you be open to a PR that adds support for proper font use detecti

[2019-03-26 17:40] evilebottnawi commented on #726
@GreenGremlin i don't understand you, removing `@font-face` is unsafe operation so we don't do this. Please prove more information. What you actually have and what you expected.

[2019-03-26 17:43] GreenGremlin commented on #726
I apologize, I should have mentioned that I'm using the postcss-discard-unused plugin specifically to remove unused css from a concatenated css file. I believe this is also possible through cssnano using the `discardUnused` option. The problem is that, in this case, it is removing a font that is actually used.

[2019-03-26 17:49] evilebottnawi commented on #726
@GreenGremlin can you provide example or minimum reproducible test repo?

[2019-03-27 05:59] GreenGremlin commented on #726
I just created https://github.com/cssnano/cssnano/pull/727 to fix the issue. The code block above is a decent, minimal example. Simply processing that block of css through postcss with the postcss-discard-unused plugin enabled with the default settings will produce the bug.

[code]

Should not discard the `fontAwesome` @font-face, but it does.

[2019-04-03 07:17] Mrsosann commented on #357
加到 style 里？注释调不生效啊

[2019-04-09 02:07] foresightyj opened #728 "cssnano depends on deprecated/old version of postcss-discard-comments which causes bug"
Unknown error from PostCSS plugin. Your current PostCSS version is 7.0.14, but postcss-discard-comments uses 4.1.16. Perhaps this is the source of the error below.

events.js:183
      throw er; // Unhandled 'error' event
      ^
TypeError: css.eachInside is not a function
    at D:\Working\FHT.Web\node_modules\_postcss-discard-comments@1.2.1@postcss-discard-comments\index.js:30:13
    at LazyResu

[2019-04-09 02:10] #728 closed

[2019-04-09 02:10] foresightyj commented on #728
Sorry. I reinstalled cssnano and the problem is gone.

[2019-04-11 19:57] indolentdeveloper commented on #714
I know the reason for this. canMerge.js has lines

node.value.toLowerCase() === 'initial' which causes , Cannot read property 'toLowerCase' of undefined error.

I can create . PR if no one is doing it already.

[2019-04-11 20:05] evilebottnawi commented on #714
PR welcome :+1:

[2019-04-16 00:17] em0ney opened #729 "Fix dependency on js-yaml version that has a code injection vulnerability"
Hi there,

Thanks for making cssnano!

you have a dependency on `svgo` which in turn has a dependency on `js-yaml`. Please see this report of a `High` severity vulnerability in this module.

https://www.npmjs.com/advisories/813

[2019-04-16 00:18] em0ney commented on #729
[code]

[2019-04-16 10:23] evilebottnawi commented on #729
Feel free to send a PR, as workaround right now - regenerate your lock file

[2019-04-17 12:33] MapTo0 opened #730 "mergeRules merges :host(tagname) with tagname"
If we have the following CSS in a custom element's shadow root:

[code]

becomes

[code]

both selectors are getting merged which is not a valid syntax.

[2019-04-17 12:44] evilebottnawi commented on #730
It is feature, feel free to send a PR

[2019-04-17 12:45] evilebottnawi commented on #730
Also here can be problem, if browser support custom element, but doesn't support `:host`, it is break rule, not sure it is safe

[2019-04-17 13:53] MapTo0 commented on #730
In this case (which I hope no browser will be built like that 😀) both selectors will just be unused.

[2019-04-17 13:59] evilebottnawi commented on #730
Just need ensure what all browsers what supports `custom` elements also supports `:host`

[2019-04-19 23:40] judewang opened #732 "Using var(--direction) will break postcss-minify-gradients"
Here's the sample code:

[code]

This will get an error like:

[code]

Problems may be happened in here, but have no idea how to fix it😅 https://github.com/cssnano/cssnano/blob/8d4610a6391ddab29bcb08ef0522d0b7ce2d6582/packages/postcss-minify-gradients/src/index.js#L24-L27

[2019-04-23 09:43] evilebottnawi commented on #732
It is bug, just ignore line with `var`

[2019-04-23 19:40] abhishekdev commented on #712
I wonder if this scenario has anything to do with how the [CSS spec details out background-position](https://www.w3.org/TR/css-backgrounds-3/#the-background-position) this (ref: https://www.w3.org/TR/css-backgrounds-3/#the-background-position)

[2019-04-24 04:13] holloway opened #733 "Minification of border-width loses axis"
Input:
[code]

Output in CSS Nano 4.1.10 (via playground):

[code]

Notice how it's lost one of the axis on `border-width`.

[2019-04-24 10:14] evilebottnawi commented on #712
Yes it is bug, we need fix it, don't have time on this right now :disappointed: but PR welcome

[2019-04-24 10:14] evilebottnawi commented on #733
bug, PR welcome

[2019-04-24 15:08] evilebottnawi opened #734 "promote opencollective"
https://opencollective.com/cssnano

Tasks:
- update docs on site
- implement opencollective bin after install package (example https://github.com/webpack/webpack-cli/blob/master/bin/opencollective.js)

[2019-04-26 09:23] holloway commented on #733
The error seems to occur in [`postcss-merge-longhand/src/lib/decl/borders.js`'s `merge()`](https://github.com/cssnano/cssnano/blob/ceb24a1bf3fde0bf39dced9fa05155cdd7cf6964/packages/postcss-merge-longhand/src/lib/decl/borders.js#L205).

It goes from [Line 205](https://github.com/cssnano/cssnano/blob/ceb24a1bf3fde0bf39dced9fa05155cdd7cf6964/packages/postcss-merge-longhand/src/lib/decl/borders.js#L20

[2019-04-29 12:35] #732 closed

[2019-04-29 12:40] #729 closed

[2019-04-29 16:24] sergeymorkovkin commented on #712
Fixing like this:

`
@each $state, $data in $form-validation-states {
  .form-control {
    .was-validated &:#{$state},
    &.is-#{$state} {
      @if $enable-validation-icons {
        background-position: right $input-height-inner-quarter center;
      }
    }
  }
}
`

[2019-04-29 16:36] evilebottnawi commented on #712
Will be solved in near future and released

[2019-04-29 18:36] evilebottnawi commented on #482
Close in favor https://github.com/cssnano/cssnano/issues/734

[2019-04-29 18:36] #482 closed

[2019-04-29 18:37] #635 closed

[2019-04-29 18:39] evilebottnawi commented on #715
Thanks for investigate, close in favor firefox bug, disabled optimization increase optimized size and can't be solved on cssnano size, anyway feel free to feedback

[2019-04-29 18:39] #715 closed

[2019-04-29 18:45] #713 closed

[2019-04-30 08:51] liuwf2012 opened #742 "wrong output with calc()"
![image](https://user-images.githubusercontent.com/7323242/56950434-0ff50f00-6b68-11e9-8b70-326cf90eb3c2.png)

### initial state
[code]

### correct minimization
[code]

### actual minimization
[code]

[2019-04-30 10:01] evilebottnawi commented on #742
Bug in postcss calc

[2019-04-30 10:24] przemyslawzalewski opened #743 "postcss-merge-longhand breaks on border-width props with !important statements"
Access to `border-width` props within postcss-merge-longhand seems to lack proper guards against missing values, causing the following code to throw `TypeError`.

[code]

[code]

However, this seems to work but misses the last `!important` statement:

[code]

The bug doesn't occur when there are all border-width properties present which seem to indicate the root cause:

[code]

Seems to be related

[2019-04-30 10:26] evilebottnawi commented on #743
Thanks for issue

[2019-04-30 10:52] #718 closed

[2019-04-30 10:52] #743 closed

[2019-05-01 13:20] #712 closed

[2019-05-02 04:21] tomciopp opened #751 "discardComments => removeAll => true does not discard special comments"
So I'm running into the following issue and I don't know why I can't get cssnano to delete all comments from my build. (Side note why are "special" comments kept at all?!)

Here's my setup

`webpack.config.js` => rules
[code]

`postcss.config.js`
[code]

`package.json` => devDependencies
[code]

This has been quite frustrating as it makes no sense to me why I would still have comments in my minimi

[2019-05-02 09:16] smac89 commented on #726
In case anyone stumbles upon this problem, may I suggest making sure that your fontawesome.css file does not have something like:

[code]

I'm talking about the extra `i` prepended to the font declaration. After I removed the offending character, cssnano worked for me.

[2019-05-02 13:28] evilebottnawi commented on #751
Don't use `cssnano` and postcss-loader, use https://github.com/NMFR/optimize-css-assets-webpack-plugin

[2019-05-02 22:22] tomciopp commented on #751
@evilebottnawi This worked! Is there any way to update docs to reflect this?

[2019-05-03 13:15] ben-eb opened #752 "Better handling of exponents"
I think the conversion functions inside postcss-convert-values need examining again, as exponents can be lost whilst the conversion happens. This is a good thing for some values:

[code]

[code]

But for larger values we should keep the exponent:

[code]

This is likely happening when we do a division by one here: https://github.com/cssnano/cssnano/blob/master/packages/postcss-convert-values/src/l

[2019-05-03 18:53] evilebottnawi commented on #751
PR welcome

[2019-05-06 12:12] evilebottnawi commented on #657
Close in favor https://github.com/postcss/postcss-calc/issues/67, thanks for issue, sorry for delay

[2019-05-06 12:12] #657 closed

[2019-05-06 12:44] evilebottnawi opened #756 "More properties for `postcss-ordered-values`"
Now we have only:
- animation: animation,
- border: border,
- border-top
- border-right
- border-bottom
- border-left
- outline: border,
- box-shadow
- flex-flow
- transition

[2019-05-06 12:53] evilebottnawi commented on #673
Fixed https://github.com/cssnano/cssnano/pull/755

[2019-05-06 12:53] #673 closed

[2019-05-06 16:41] ben-eb commented on #756
Have a look into these properties:

* https://developer.mozilla.org/en-US/docs/Web/CSS/border-block
* https://developer.mozilla.org/en-US/docs/Web/CSS/border-block-end
* https://developer.mozilla.org/en-US/docs/Web/CSS/border-block-start
* https://developer.mozilla.org/en-US/docs/Web/CSS/border-inline
* https://developer.mozilla.org/en-US/docs/Web/CSS/border-inline-end
* https://developer.mozilla.

[2019-05-06 16:43] ben-eb commented on #751
Important comments are skipped by default as they often contain licence information. This is consistent with https://github.com/jakubpawlowicz/clean-css#how-to-preserve-a-comment-block.

[2019-05-06 16:58] evilebottnawi commented on #751
Here other problem, webpack have multiple steps when bundled, minify js/css/html/other on module level (`postcss-loader`) is invalid because other loaders/plugins can add new css assets or modify currents so it should be used only on minimize level

[2019-05-07 21:58] tomciopp commented on #751
@ben-eb I understand the sentiment for keeping "important" comments, I just think the tradeoffs are absolutely not worth it. Practically no one is reading your source code in search of license violations. Furthermore licenses like the GPL should have a separate attribution section within a legal page or terms of use for any commercial product.

In practice a million sites will just have the follow

[2019-05-07 22:18] ben-eb commented on #751
I'm quite happy with the default behaviour; for instance Apache 2 licenses require the attribution notices to be preserved, so by stripping them you are violating the terms of the license. If you think that it's fine to do that then you can already change the behaviour.

More here: https://webmasters.stackexchange.com/questions/57362/is-it-legal-and-ethical-to-remove-license-notices-from-third-par

[2019-05-07 22:24] tomciopp commented on #751
@ben-eb Stripping the comments typically does not violate the license since the works created are "derivative". It would only be a violation if the thing you were distributing

https://en.wikipedia.org/wiki/Apache_License#Licensing_conditions
https://en.wikipedia.org/wiki/Derivative_work

[2019-05-07 22:39] ben-eb commented on #751
I don't understand the problem here. Since cssnano is an automated tool, it can't know that the code does or does not violate license terms by removing the comments. That's why the behaviour is opt-in.

If I go the other way and strip all important comments by default, I'm going to get authors of projects that put the comments in there telling me that this tool should not do that.

So I'm leaving

[2019-05-07 22:40] tomciopp commented on #751
@ben-eb Fair enough, I'm barking up the wrong tree. I should have beef with people who are wasting bandwidth by adding unimportant important comments.

[2019-05-07 22:40] #751 closed

[2019-05-14 12:49] aramin opened #767 "Broken keyframe animation in base64 encoded SVG"
We encountered an issue with Base64 encoded SVGs (including keyframe animations) when using the default settings of cssnano. Please take a look at the example below. In the `Output.css` you will see that the `100%` / `to` parts are missing within the keyframe animations. With the `svgo: false` setting everything seems to be fine.

`Input.css`
[code]

**Decoded**:
[code]

`Output.css`
`.foo{backgro

[2019-05-14 12:53] evilebottnawi commented on #767
Problem in svgo, they are use csso (https://github.com/svg/svgo/blob/master/package.json#L57) (this package is broken in many cases) for compress css inside svg, and don't provide option to replace this, unfortunately we can't do something here :disappointed:

[2019-05-14 12:53] evilebottnawi commented on #767
hm, we can disable `minifyStyles` plugin and implement own plugin :+1: to avoid these problem

[2019-05-14 12:54] evilebottnawi commented on #767
Mark as enhancement, PR welcome

[2019-05-14 14:15] JamesCoyle opened #768 "line-height: 0px != line-height: 0"
I'm using Vue CLI 3 which I'm told uses CSS Nano to perform the minification of the CSS resources for production builds.

The following:
[code]

Is transformed into
[code]

While both `0` and `0px` render the same, they are different values when used for `line-height`: `0px` is an explicit length value, `0` is 0% of the current `font-size`. In [this example](https://jsfiddle.net/xav85921/), you ca

[2019-05-14 14:20] evilebottnawi commented on #768
hm, looks you are right, PR weolcome

[2019-05-14 14:21] evilebottnawi commented on #768
oh, it is bug in Edge, what version of Edge you are use?

[2019-05-14 14:27] JamesCoyle commented on #768
The transformation from `0px` to `0` is breaking the animation in Chrome and FF but for some reason Edge seems to still animate despite this. I'm not sure what the specification says regarding this case (I feel like it _should_ animate) but the transformation CSS Nano is making is breaking the animation in some browsers and I personally feel it shouldn't be transforming a length value to a non-len

[2019-05-14 14:30] evilebottnawi commented on #768
@JamesCoyle

Can reproduce using your example, all work fine in FF and Chrome

[2019-05-14 14:38] JamesCoyle commented on #768
My team have all tested [that example](https://jsfiddle.net/xav85921/) in Chrome (stable, dev, and canary), FF, and Edge. In both Chrome and Firefox across multiple devices the left box animates correctly and the right one jumps into position.

[2019-05-14 14:44] evilebottnawi commented on #768
@JamesCoyle yep, bug, thanks for clarify, feel free to send a PR, if you need fix it asap

[2019-05-16 08:11] suzyvivi commented on #357
[code]

add ` * ` , it works.  hahaha~

[2019-05-16 20:20] ben-eb commented on #752
Couple of modules that might be worth looking into:

* https://github.com/stcruy/to-exponential
* https://github.com/jam3/scientific-to-decimal

[2019-05-20 06:47] captainfromspace opened #769 "Empty margin/padding throws error"
When leaving margin and/or padding empty cssnano throws an error.

### Preconditions
1. cssnano version: 4.1.10 (or use https://cssnano.co/playground/)

### Steps to reproduce
1. create a selector like below
[code]
2. Change the margin declaration to `margin:;`

### Expected result (if using [playground](https://cssnano.co/playground/))
[code]

### Actual result
`Cannot read property 'toLowerCase'

[2019-05-23 10:01] #769 closed

[2019-05-23 10:01] evilebottnawi commented on #714
I think we need add tests for cssnano package with default and advanced preset

[2019-05-30 08:31] jimi75 commented on #459
Using `4.1.10` and z-index change. Additional disabled `zindex`  do not work.

`require('cssnano')({
      preset: ['default', { zindex: false }],
    }),`

[2019-06-01 16:43] BernardA commented on #729
This issue keeps on coming back.

I run npm audit fix a few times. It shows as resolved and then next time I install a package or run another npm command it will resurface.

Running npm update js-yaml --depth 5, as advised by npm audit does not solve either.

[2019-06-01 16:49] evilebottnawi commented on #729
update your deps and lock file

[2019-06-01 17:23] BernardA commented on #729
I just did that and once the update install finished npm reported the vulnerabilities back again.

[2019-06-02 22:25] captainfromspace opened #776 "discardEmpty: empty display defaults to block"
When leaving the `display` property empty, cssnano defaults the value to `block`.

### Preconditions
1. cssnano version: 4.1.10 (or use https://cssnano.co/playground/)

### Steps to reproduce
1. create a selector like below
[code]
2. Change the display declaration to `display:;`

### Expected result (if using [playground](https://cssnano.co/playground/))
[code]

### Actual result
[code]

[2019-06-04 10:39] ssivanatarajan opened #777 "Selectors with comment leads to unclosed comment error"
CSS nano reorders the selector in alphabetical order. if the selectors having comments it leads to unclosed comment error

please find the below result from css nano playground.
input:
[code]
output:
[code]

[2019-06-04 10:41] evilebottnawi commented on #777
Please provide example

[2019-06-04 12:21] ssivanatarajan commented on #777
@evilebottnawi added example

[2019-06-04 12:36] evilebottnawi commented on #777
Thanks

[2019-06-05 12:55] romanlex commented on #721
@evilebottnawi Is it possible to disable this transform using the option?

[2019-06-05 12:57] evilebottnawi commented on #721
What is browsers affected, we need versions

[2019-06-05 13:03] romanlex commented on #721
All browsers affected, but IE11 can't process `background-color: initial`

[2019-06-05 13:05] evilebottnawi commented on #721
What do you mean? You say what only IE11 and Edge have problem

We need Edge version with bug

[2019-06-05 13:11] romanlex commented on #721
IE11 with `background-color: initial`
![image](https://user-images.githubusercontent.com/3369304/58958789-56afd780-87ac-11e9-9460-90f7b38e9405.png)
![image](https://user-images.githubusercontent.com/3369304/58958838-6cbd9800-87ac-11e9-8690-fe5982a13e70.png)

Chrome with `background-color: initial`
![image](https://user-images.githubusercontent.com/3369304/58958882-8a8afd00-87ac-11e9-9144-c24d71807

[2019-06-05 13:13] romanlex commented on #721
For me it's only IE11 but the author has the same problem in the edge

[2019-06-05 13:20] evilebottnawi commented on #721
Ok, we can fix it, need investigate about EDGE? Can you help us?

[2019-06-05 13:31] romanlex commented on #721
Edge 17, all work fine
![image](https://user-images.githubusercontent.com/3369304/58960212-5d8c1980-87af-11e9-8f26-09c91ccddf7d.png)

[2019-06-05 13:38] evilebottnawi commented on #721
hm, thanks, maybe edge works fine with this :confused:

[2019-06-05 14:03] romanlex commented on #721
May be you can give workaround before patch will be ready?

[2019-06-05 14:07] evilebottnawi commented on #721
Only disable plugin

[2019-06-05 14:21] romanlex commented on #721
@evilebottnawi I found another problem with `box-sizing: initial` in IE11
I think what all initial transform for IE11 must be disabled

[2019-06-05 14:22] evilebottnawi commented on #721
No

Please provide example

[2019-06-05 14:37] romanlex commented on #721
IE11 and border-box
![image](https://user-images.githubusercontent.com/3369304/58964942-67fee100-87b8-11e9-8aee-d169667e5243.png)
Sass file
![image](https://user-images.githubusercontent.com/3369304/58965013-7fd66500-87b8-11e9-95ec-21f9e7dd0a1a.png)

[2019-06-05 14:38] romanlex commented on #721
Why not? IE11 doesn't understand `initial` values

[2019-06-05 14:39] evilebottnawi commented on #721
thanks for this, can you try other any property from https://github.com/cssnano/cssnano/blob/master/packages/postcss-reduce-initial/data/toInitial.json, maybe you are right and we need disable this transformation for IE11

[2019-06-05 14:45] romanlex commented on #721
I checked multiple property from link inside IE without rebuild package. All initial values is invalid(
See also https://caniuse.com/#feat=css-initial-value

[2019-06-05 14:52] evilebottnawi commented on #721
Oh, thanks, it is bug, will be fixed in next release

[2019-06-05 14:52] evilebottnawi commented on #721
Right now you can disable this plugin using `cssnano.config.js` (see documentation)

[2019-06-05 14:52] evilebottnawi commented on #721
Right now you can disable this plugin using `cssnano.config.js` (see documentation)

[2019-06-06 12:27] ben-eb commented on #721
There's already a guard for this here: https://github.com/cssnano/cssnano/blob/436b632deaad796760fc16bc0e6db15d12572651/packages/postcss-reduce-initial/src/index.js#L19

I think it may be something in your environment that is setting the browser list to something other than the defaults - this transform is not applied when any of those browsers have no support for the initial keyword.

[2019-06-06 12:43] evilebottnawi commented on #721
/cc @romanlex

[2019-06-06 14:06] romanlex commented on #721
[code]
**browserslist** from my package.json
You can find another issues in create-react-app repo with same problem

[2019-06-06 14:10] evilebottnawi commented on #721
@romanlex can you provide minimum reproducible test repo?

[2019-06-06 14:57] romanlex commented on #721
Sorry but can't
You can check caniuse method with code
[code]

Output is
[code]

[2019-06-06 14:58] romanlex commented on #721
Maybe it's bug in the browserlist 🤔

[2019-06-06 15:01] romanlex commented on #721
If change default list to
[code]
isSupported return false for both case, but IE11 doesn't support initial values(

[2019-06-06 15:04] evilebottnawi commented on #721
Very strange, we need investigate this

[2019-06-06 15:14] romanlex commented on #721
@evilebottnawi I think all work properly, browserlist in CRA is wrong

[2019-06-06 15:17] evilebottnawi commented on #721
hm, we use `IE >= 11` for setup IE 11, `not ie <= 11` say not for IE lower and equals 11

[2019-06-06 15:20] romanlex commented on #721
I agree with you. `IE >= 11` is correct
I don't know why create-react-app use `not ie <= 11` 🤷‍♂

[2019-06-06 15:29] evilebottnawi commented on #721
Can you open issue in cra?

[2019-06-06 15:31] romanlex commented on #721
@evilebottnawi https://github.com/facebook/create-react-app/issues/6975

[2019-06-06 15:44] tkiehne commented on #247
A better fix is to use the string identifier for keyframes: display, e.g.:

[code]
The names are preserved in the compiled css.

https://www.w3.org/TR/css-animations-1/#typedef-keyframes-name

[2019-06-06 15:46] tkiehne commented on #361
A better fix is to use the string identifier for keyframes: display, e.g.:

[code]
The names are preserved in the compiled css.

https://www.w3.org/TR/css-animations-1/#typedef-keyframes-name

[2019-06-07 13:02] ben-eb commented on #642
@evilebottnawi We have a system for handling mergeable pseudo elements here:

https://github.com/cssnano/cssnano/blob/master/packages/postcss-merge-rules/src/lib/ensureCompatibility.js#L13

Perhaps this should be changed; currently this list prevents a merge for known pseudo selectors, but allows unknown ones through. If we only allow a merge on known pseudo selectors, we will have less bug report

[2019-06-07 13:15] evilebottnawi commented on #642
Good idea, can you take care about this?

[2019-06-07 13:17] ben-eb commented on #642
@evilebottnawi Probably easier if we fix the immediate bug and then can look into changing behaviour later?

[2019-06-07 13:18] evilebottnawi commented on #642
Sounds good, need open issue about this or update currently

[2019-06-07 15:45] ben-eb commented on #777
@evilebottnawi postcss-unique-selectors produces the incorrect output but I think it's a bug in PostCSS:

https://github.com/postcss/postcss/blob/558bc79e564f795c1502cf9bce712405e0193e1f/lib/rule.es6#L38-L40

`rule.selectors` does not account for comment tokens. We would have to rewrite postcss-unique-selectors to use postcss-selector-parser instead I think.

[2019-06-07 15:51] evilebottnawi commented on #777
Maybe we still report bug in postcss?

[2019-06-07 15:58] ben-eb commented on #777
I think it's a breaking change because it affects the `list.comma` utility which is used in a lot of plugins. 😞

[2019-06-07 16:02] evilebottnawi commented on #777
I think we still should report

[2019-06-07 20:25] ben-eb commented on #777
@evilebottnawi Seems it is a known issue: https://github.com/postcss/postcss/issues/1204

[2019-06-18 09:55] Seanom commented on #712
I still appear to get this issue using 4.1.10

Amending the bootstrap mixin to the following corrects it (as mentioned above)
`background-position: right $input-height-inner-quarter center;` outputs `background-position: right calc(.3em + .4rem) center`

however:
`background-position: center right $input-height-inner-quarter;`
Still results in the CSS `background-position: 100% calc(.3em + .4rem)`

[2019-06-24 17:29] ben-eb opened #803 "postcss-merge-longhand could merge duplicated var/env definitions"
Input:

[code]

Output:

[code]

Note that merging should be skipped if the `var`, `env` or `constant` definition is different:

[code]

[2019-06-25 10:27] #768 closed

[2019-06-26 09:23] ben-eb commented on #656
Yep, I think @twop makes a good case here. This is backed up by the specification in example 28:

https://drafts.csswg.org/css-backgrounds-3/#border-images

[2019-07-02 03:39] lyhper commented on #803
the same question, when I input

`padding-bottom: 56px;`
`padding-bottom: calc(56px + constant(safe-area-inset-bottom));`
`padding-bottom: calc(56px + env(safe-area-inset-bottom));`

it ouput
`padding-bottom: calc(56px + env(safe-area-inset-bottom));`

in fact, i would not like to remove the duplicate statements;

[2019-07-07 01:11] hpcplus2 commented on #803
@lyhper
same question +1

[2019-07-07 01:18] evilebottnawi commented on #803
It can be fixed in next release

[2019-07-11 16:37] strarsis commented on #68
So it isn't possible to use cssnano synchronously, right?

[2019-07-11 16:41] evilebottnawi commented on #68
Why you need cssnano in sync mode?

[2019-07-11 16:42] evilebottnawi commented on #68
Right https://github.com/svg/svgo/pull/1127

[2019-07-11 16:43] evilebottnawi commented on #68
We can implement this in next version(s), i will ping you

[2019-07-11 16:43] strarsis commented on #68
@evilebottnawi: Correct, `svgo` plugin model is synchronous.

[2019-07-13 13:19] utkarshkukreti commented on #712
@Seanom I just ran into this. Looks like there hasn't been a release since that bug was fixed. I managed to work around this by disabling the `normalizePositions` optimization. I'm using Parcel which supports `cssnano.config.js`. My config looks like this:

[code]

[2019-07-15 11:16] tomrav commented on #68
I too have a use-case that would really benefit from cssnano being available in sync mode. It would allow us to transition over from CleanCSS.

[2019-07-17 23:09] ashfahan opened #805 "Merge Rules doesn't works"
due to our work flow we have similar elements styles in different files with different properties currently we are using https://github.com/ChristianMurphy/postcss-combine-duplicated-selectors to merge them together

after Switching to css-nano they doesn't combine.

You can see how styles were combined before and after use of css nano on various styles like
`body` `hr` `a` `legend` `h1`
[fluid-sa

[2019-07-18 09:56] evilebottnawi commented on #805
What output you expected?

[2019-07-18 20:06] artur-13 opened #806 "Merge equal media-query like a rule"
Can i merge like it?
[code]

[2019-07-19 10:31] evilebottnawi commented on #806
It is not safe, because you can have code between `@media`

[2019-07-19 10:36] ashfahan commented on #805
Shouldn't the output have merge body into one style ?
correct me if i am wrong.

[code]

[2019-07-19 10:39] artur-13 commented on #806
Can you write some example please? But if code from `@media` to bodt start `{` is equal?

[2019-07-19 10:54] evilebottnawi commented on #806
@artur-13

[code]

How we should merge this in this case? And what color should be after merge?

[2019-07-19 11:05] artur-13 commented on #806
Equal rules merge like mergeRules
![1](https://user-images.githubusercontent.com/39243562/61530891-03c57300-aa2e-11e9-8445-df583740d728.png)
for order, merge all rules to last `@media` rule.
Will this conversion be valid?

[2019-07-19 11:10] artur-13 commented on #806
Like this?

[code]

[2019-07-19 11:22] evilebottnawi commented on #806
@artur-13

What about?

[code]

There are a lot of cases when is it very hard and potentially break code, here example of implementation you idea https://github.com/hail2u/node-css-mqpacker (looks abandoned), you can find some examples why it is not safe, we can implement this as plugin, but i don't want enable this by default for `default` preset

[2019-07-19 11:24] ben-eb commented on #805
@evilebottnawi I don't think there's a specific limitation with body, but the decision to merge adjacent rules only is because we don't know the DOM structure and so cannot make an informed decision about re-arranging styles. If we take some CSS:

[code]

And some HTML:

[code]

This CSS would produce `red` text. However if we re-arrange to the top-most selector we would get this CSS which would p

[2019-07-19 11:29] artur-13 commented on #806
Link looks like what I mean. Ok, sure. May add like selfmade `advanced` rule, disabled by `default`?

[2019-07-19 11:31] evilebottnawi commented on #806
@artur-13 yep, we can do this :+1:

[2019-07-19 11:33] evilebottnawi commented on #806
@artur-13 Let's open this issue, maybe somebody want to start this

[2019-07-19 11:34] evilebottnawi commented on #806
It can be good for some cases so we can implement this, maybe after long time we find better strategy for merging and can enable this by default, anyway i am mark this as potentially unsafe

[2019-07-19 12:03] ashfahan commented on #805
@ben-eb your example is clear but code i have doesn't have duplicate properties but duplicate styles/class names.

my Issue is related to the merge styles/class names, not to merge properties.

merging styles/class names into one (in my case) won't cause any cascade issues.

if i further modify css nano merge rule [example](https://cssnano.co/optimisations/mergerules/) to this code.

[code]

Expec

[2019-07-19 12:49] ben-eb commented on #805
True, it may be safe to merge non-adjacent selectors if there are no conflicting properties in the intermediary blocks. It may be difficult to do correctly however, given every "between" block exponentially increases the chances of a collision.

[2019-07-19 13:34] ashfahan commented on #805
if you are referring to duplicate properties having same value by that, e.g have same color property with same value we can safely remove then if they are in same selector

I do agree with you

[2019-07-19 14:29] ashfahan commented on #806
@artur-13 there is already a tool that can help you with merging queries together [mqpacker](https://github.com/hail2u/node-css-mqpacker) but sadly its depreciated.

also you can extend it by another plugin [sort-css-media-queries](https://github.com/dutchenkoOleg/sort-css-media-queries)  to support mobile first and desktop first techniques

[2019-07-22 18:24] clshortfuse commented on #806
I had touched a bit on the complexities of doing this here:

https://github.com/cssnano/cssnano/issues/111#issuecomment-474015497

Basically, you're talking about a read-ahead type pattern would have to detect conflicts. It would be no different than merging:

.parent .a {
 color: red;
}
.b {
 background-color: yellow;
 color: orange;
}
.parent .a {
  background-color: blue;
}

The problem is, any

[2019-07-23 07:42] vincaslt opened #807 "postcss-svgo fragments are removed from url"
if I have a URL in the form of: `url(data:image/svg+xml;base64,BASE64ENCODEDSVG#css-caret)` the fragment part (`#css-caret`) will get removed which will result in my SVG icon not being shown in the minimized build.

From what I've checked in the code `svg = Buffer.from(svg, 'base64').toString('utf8');` will omit the fragment part, and when it's converted back, it's never added. Maybe it makes sens

[2019-07-23 09:56] evilebottnawi commented on #807
@vincaslt look bug, feel free to send a PR

[2019-08-21 07:45] alexandonie commented on #712
Same issue happens with `optimize-css-assets-webpack-plugin` as it uses `cssnano` under the hood. @utkarshkukreti's workaround works in that case as well. Just do
[code]

[2019-08-27 13:40] muuvmuuv commented on #262
For anyone who wants something like that but for manual use, I have made a simple little script:

https://github.com/muuvmuuv/reduce-custom-properties

[2019-09-02 08:44] imjeen opened #811 "calc width PX doesn't work when I try to minify the CSS"
I have a  special CSS, see below. I don't want the **px** to translate **rem**, so that I use the **PX**  ( it 's a way to use a capital in the pixel unit declaration about [postcss-pxtorem](https://github.com/cuth/postcss-pxtorem#a-message-about-ignoring-properties) ) . And It cannot to minify the calc width PX.
[code]

I found the related issue: https://github.com/cuth/postcss-pxtorem/issues/51.

[2019-09-02 10:24] evilebottnawi commented on #811
We don't use this plugin in our code base :confused:

[2019-09-02 15:48] evilebottnawi commented on #811
Problem in postcss-calc, already fixed in master, just not published, release will be in near future

[2019-09-02 15:48] #811 closed

[2019-09-04 14:55] zhangchao828 opened #812 "background-image"
input：
background: url('https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=508387608,2848974022&fm=26&gp=0.jpg?imageView2/1/w/750/h/1334');

output：
background: url('https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=508387608,2848974022&fm=26&gp=0.jpg?imageView2%2F1%2Fw%2F750%2Fh%2F1334');

/->%2F

[2019-09-05 08:10] ArtemZag opened #813 "Upgrade browserslist to the latest (4.7.0)"
Currently cssnano uses browserslist version "^4.0.0".
Would be nice to update it to "^4.7.0".

[2019-09-05 10:54] evilebottnawi commented on #813
Update your deps

[2019-09-05 10:54] #813 closed

[2019-09-05 11:21] ArtemZag commented on #813
@evilebottnawi, there is no browserslist in my deps.
The only package which depends on old version of browserslist is cssnano.
![image](https://user-images.githubusercontent.com/1687370/64337633-75f71480-cfe8-11e9-8a6f-86fa056cfc09.png)

[2019-09-05 11:22] evilebottnawi commented on #813
yarn upgrade

[2019-09-05 11:27] ArtemZag commented on #813
@evilebottnawi , seems you are right. when I add cssnano to empty project it adds correct dependency. I'll try to run "yarn upgrade" on my project. Sorry.

[2019-09-05 20:56] buz-zard opened #815 "postcss-merge-longhand compatibility with postcss-js"
Hi, I'm trying to use `postcss-merge-longhand` with `postcss-js` and it doesn't seem to work. Is this expected?

Here's a demo link - https://codesandbox.io/s/icy-cloud-772zw

[2019-09-06 10:27] evilebottnawi commented on #815
It is expected, we support only pure css

[2019-09-07 06:22] buz-zard commented on #815
@evilebottnawi I see. Though I noticed that `postcss-convert-values` works fine with `postcss-js`, so I was wondering would consider a MR with added support for the `postcss-merge-longhand`? I might look into that.

[2019-09-07 06:48] #815 closed

[2019-09-10 08:23] ibqn commented on #712
How to get a workaround fix with `create-react-app`?

[2019-09-12 03:03] kangw3n opened #816 "nested calc with css variables"
I'm encountering an issues while using calc() with  CSS Custom variables where presets automatically remove my nested calc while custom variables is unable to resolve in build time.

Given that:

[code]
when it comes to a css variables

[code]

which is incorrect in mathematical stand points. To solve this problem, I end up by setting **calc** preset to **false** in plugin options.

Is there any p

[2019-09-12 20:26] Timer opened #817 "Remove `cssnano-preset-default` from `cssnano`"
It'd be great if either `cssnano-preset-default` could be removed as a dependency from `cssnano` or if a second package could be provided that doesn't carry this extremely heavy dependency.

Maybe `cssnano-preset-to-plugin` or similar (since that's what `cssnano` really is).

`cssnano-preset-default` currently [weighs in at 10+ MB](https://packagephobia.now.sh/result?p=cssnano-preset-default).

[2019-09-13 07:02] EmeraldWeb opened #818 "postcss-colormin: code in "readme" contains an error"
I added an example archive.

[code]

And postcss-colormin cannot be used as simple postcss plugin, because is
```Error: [object Object] is not a PostCSS plugin```
I think these problems are related, so maybe it’s good to add the following archive, but i think it's excess.

[postcss-colormin.zip](https://github.com/cssnano/cssnano/files/3608734/postcss-colormin.zip)

[2019-09-13 08:38] EmeraldWeb opened #819 "postcss-colormin: incorrect "colormin"'s color conversion"
I added an example archive.

```rgba(128, 128, 128, .5)``` converted to float percent:
```hsla(0,0%,50.2%,.5)```, but must be integer percent, like this:
```hsla(0,0%,50%,.5)```

[postcss-colormin.zip](https://github.com/cssnano/cssnano/files/3609108/postcss-colormin.zip)

[2019-09-13 10:05] evilebottnawi commented on #817
cssnano without `cssnano-preset-default` does not have sense, why it is necessary?

[2019-09-13 10:06] evilebottnawi commented on #818
Feel free to send a PR

[2019-09-13 10:07] evilebottnawi commented on #819
50.2% !== 50%

[2019-09-13 10:07] evilebottnawi commented on #819
/cc @ben-eb

[2019-09-13 13:58] ben-eb commented on #819
@evilebottnawi I think it's correct, but it might not be optimal? `hsl` colours are [defined](https://drafts.csswg.org/css-color/#the-hsl-notation we have) as:

[code]

Where [`<percentage>`](https://drafts.csswg.org/css-values-3/#percentage-value) is defined as a number immediately followed by a percent sign. [Number is defined as follows](https://drafts.csswg.org/css-values-3/#number), note it c

[2019-09-13 13:59] Timer commented on #817
So if you're using `cssnano` with a different present you can avoid downloading the 10+ MB default present.

[2019-09-16 10:45] evilebottnawi commented on #817
Can you provide example using cssnano with out plugins?

[2019-09-16 16:20] Timer commented on #817
@evilebottnawi `cssnano` cannot be used without plugins, as `cssnano` really only unwraps a preset into multiple plugins, each which perform a minify responsibility.

We're asking for the package that handles this responsibility to be separated for use cases where we don't want to use `cssnano-preset-default`. Maybe this is better handled in user-land.

[2019-09-16 16:35] evilebottnawi commented on #817
hm, maybe we can do this for next major release

/cc @ben-eb

[2019-09-16 18:44] ben-eb commented on #817
Currently there are two presets which we maintain, `default` and `advanced` - `advanced` is really an extension of `default`, so those using `advanced` shouldn't care that `default` is bundled, as they use the same plugins under the hood.

So those are our two main use cases; safe by default, and an opt-in for unsafe transforms. Do we have any other use cases where the list of plugins for `default

[2019-09-17 23:14] JohnnyMinty commented on #712
@alexandonie Solution worked for me in the short term if you're using OptimizeCssAssetsPlugin. Update your 'optimization' > 'minimizer' declaration in Webpack to apply.

[2019-09-18 15:09] raky291 opened #820 "The merge rules are not working"
The merge rules are not working

css code:
[code]

result:
[code]

expected:
[code]

But if I delete the middle code it works

css code:
[code]

result:
[code]

[2019-09-23 11:19] evilebottnawi commented on #820
/cc @ben-eb

[2019-09-23 12:28] ben-eb commented on #820
@evilebottnawi We should probably add this to a FAQ. https://github.com/cssnano/cssnano/issues/805#issuecomment-513194030

[2019-09-25 19:17] djmtype opened #821 "Postcss-svgo returns TypeError: Cannot read property 'toFixed' of undefined"
Since postcss-svgo utilizes svgo 1.3.0, my project is returning `TypeError: Cannot read property 'toFixed' of undefined` upon compiling some, but not all, base64 svgs inside my project. Once I manually roll back to svgo 1.2.2, the issue is resolved.

There seems to be a closed svgo issue that should probably be re-opened. [https://github.com/svg/svgo/issues/990](https://github.com/svg/svgo/issues/

[2019-09-25 19:40] strarsis commented on #821
@djmtype: It would be very helpful if you could provide a sample SVG that causes this issue.

[2019-10-01 01:03] James0x57 opened #822 "Invalid minification of var() fallback"
**Playground Input:**
[code]

**Actual output**
[code]
(the empty fallback in var() is invalid and results in the whole rule being ignored. The space is required)

**Expected output**
[code]
(must have the space in the fallback value to be valid)

Could be an issue somewhere upstream in postcss - happy to submit a PR either way if someone familiar with the code bases could point me roughly near th

[2019-10-01 10:45] evilebottnawi commented on #822
Yep, PR welcome

[2019-10-02 11:05] BB-000 commented on #247
This causes me a sass compile error

Warning: undefined:24:20: @keyframes missing name Use --force to continue.

[2019-10-03 06:51] h3llc0r3 commented on #821
Hi @djmtype @strarsis ,
we ran into the same issue with multiple svgs while updating our built system. We temporarily disabled svgo for cssnano.

Example, you'll see some **NaN** in the cssnano result:
**cssnano turned off**
background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.88 5.051a.897.897 0 00-.837-.58

[2019-10-03 13:21] djmtype commented on #821
Sadly updating to the latest version of cssnano v4.1.10 did not work for me. It failed with the usual error. Even updating postcss-svgo to v4.0.2 in conjunction was no help. Sage v9.0.9 will not compile base64 svgs successfully with `yarn build:production`.

For example, this throws a 'toFixed' error:

[code]

[2019-10-09 10:45] purrplingcat commented on #811
Any workaround? I have the same problem

[code]
Its in bootstrap and I can't minify my css.

[2019-10-09 11:47] evilebottnawi commented on #811
@purrplingcat can you provide full code?

[2019-10-10 05:09] RyanPWalker opened #823 "Converts 360deg to 1turn"
I've noticed that when building with this npm, it converts my rotate animations from 360deg to 1turn. The css `turn` property is [not supported in many browsers](https://caniuse.com/#feat=mdn-api_css_turn) so this should not be used.  `turn` doesn't work in every browser I've tried including chrome.

Playground Input:
[code]
Actual output:

[code]

Expected output

[code]

[2019-10-10 11:57] evilebottnawi commented on #823
It is JS api and not related to css

[2019-10-10 11:57] #823 closed

[2019-10-11 14:09] strarsis commented on #68
Just encountered another issue with `csso` where it unintentionally removes pseudo-classes (like `hover`).

[2019-10-11 16:10] RyanPWalker commented on #823
What exactly does that mean and how is this not related?  It's a cssnano issue.

[2019-10-11 16:24] evilebottnawi commented on #823
Your link refers on javascript API, it is not related to cssnano, turn supports almost all browsers

[2019-10-15 13:49] stof opened #824 "Merging rules is unsafe with all"
[code]

cssnano produces this output:

[code]

But this changes the styles for `.bar` because of `all` unsetting the color too.

Regarding merging, `all` should forbid *any* other rule (except `direction` and `unicode-bidi`) of this selector to move accross it.
https://developer.mozilla.org/en-US/docs/Web/CSS/all

[2019-10-16 20:36] strarsis opened #825 "Support usage data"
[`csso`](https://github.com/css/csso) supports usage data so it can do local optimizations: https://github.com/css/csso#usage-data

[2019-10-21 14:44] KnisterPeter opened #826 "Remove postcss-svgo from postcss-preset-default"
Hi,

`cssnano-preset-default` includes `postcss-svgo` which is deprecated and not maintained anymore.
But it is still included here and as well to make the fakt critical contains a dependency to `js-yaml` in version below `3.13.1` which in turn suffers from two security issues. One labeled as high:

https://github.com/nodeca/js-yaml/issues/475
https://github.com/nodeca/js-yaml/pull/480

This shoul

[2019-10-21 14:47] evilebottnawi commented on #826
postcss-svgo not deprecated, just moved in monorepo here https://github.com/cssnano/cssnano/tree/master/packages/postcss-svgo

[2019-10-21 14:47] #826 closed

[2019-10-21 14:56] KnisterPeter commented on #826
@evilebottnawi My fault sorry, but then in this repo svgo should be updated to at 1.3.0 to get the security issues fixed. I'll make a PR, but can you please reopen this?

[2019-10-21 14:58] evilebottnawi commented on #826
Just update your lock file, no need do this because we use `^` character in `package.json`

[2019-10-21 15:02] KnisterPeter commented on #826
I use renovate with lockfile maintainance, so I have a very up-to date lockfile.
But I still have the security warnings from github and I would like to have them closed. Is there any problem with the update?

[2019-10-21 15:03] evilebottnawi commented on #826
Maybe you use old version or something in your deps use old version of `cssnano`, all should be fine

[2019-10-21 15:05] KnisterPeter commented on #826
This is the output from `yarn why js-yaml`:

[code]
This led me to postcss-svgo which I wanted to fix. The PR is open, if you think it is worthless, then ignore it. Its up to you.
I just wanted to help.

[2019-10-21 15:06] evilebottnawi commented on #826
Open issue in `rollup-plugin-postcss`

[2019-10-21 15:08] KnisterPeter commented on #826
Thats `2.1.6`.

[2019-10-21 15:08] evilebottnawi commented on #826
Please update plugin to `4.0.2`

[2019-10-25 03:32] valtlai commented on #650
This syntax is now [supported](https://caniuse.com/#feat=mdn-css_types_image_gradient_linear-gradient_doubleposition) by most of the major browsers, except IE and pre-Chromium Edge.

[2019-10-27 15:10] gaelreyrol opened #828 "Undefined selector when combined with autoprefixer"
Hi !

It seems that `postcss-minify-selectors` can't walk over selectors covered by autoprefixer since version `9.6.5` with this [bugfix](https://github.com/postcss/autoprefixer/commit/f6264415c401edfe60acef9c0bbab86b206b6234).

I get this error:
[code]

Because of the `placeholder` pseudo element selector:

[code]

`postcss-minify-selectors` version is `4.0.2`
`cssnano-preset-default` version is

[2019-10-27 15:22] Zevran commented on #828
Here is the rule for that triggers the error:
[code]

[2019-10-28 04:31] yanyu0517 opened #829 "The value of opacity in less was been modified by cssnano if I specificied the value in percent form"
I had declared the opacity in percent form that maybe not a standard, and got the modification of value after processed by cssnano. Just like below picture

![image](https://user-images.githubusercontent.com/5326851/67652320-4c6ebf80-f97f-11e9-97a5-ea2397f79f3c.png)

98% changed to 1%

[2019-10-28 10:23] yanyu0517 commented on #829
The reason for this issue has been located by my workmate.
The 55th line of [cssnano/packages/postcss-convert-values/src/index.js
](https://github.com/cssnano/cssnano/blob/master/packages/postcss-convert-values/src/index.js#L55 ) is the point. If the opacity is declared in percent form like 98%, the content of  `pair`  object may like this:
[code]
`pair.number` is greater than 1 and the `node.valu

[2019-10-30 02:27] joselcc commented on #821
have you tried adding `"svgo": "1.3.0"` to your dependencies?
https://github.com/svg/svgo/issues/1174

[2019-10-30 07:58] jantimon opened #830 "Error: postcss-svgo: TypeError: Cannot set property 'multipassCount' of undefined"
`cssnano` is using `svgo` in version 1.3.1 which is broken right now.

Users who use `cssnano-preset-default` seem not to be able to build anymore because of the following error:

`Error: postcss-svgo: TypeError: Cannot set property 'multipassCount' of undefined`

[code]

[2019-10-30 08:35] shenshanyoumu commented on #830
bad news when distribute software

[2019-10-30 08:48] kvkens commented on #830
Is there a solution? Bro

[2019-10-30 08:53] laibao101 commented on #830
I have this problem, too

[2019-10-30 08:53] ahwgs commented on #830
I have this problem, too

[2019-10-30 09:01] kvkens commented on #830
[code]
A temporary solution 😞

[2019-10-30 09:03] toBeTheLight commented on #830
I have this problem, too.

A temporary solution

[2019-10-30 09:15] WanLinLin commented on #830
If you are using yarn, there is a workaround in svgo repo's issue thread.

https://github.com/svg/svgo/issues/1174#issuecomment-547658450

[2019-10-30 11:46] WanLinLin commented on #830
svgo 1.3.2 bugfix is released.

https://github.com/svg/svgo/releases/tag/v1.3.2

Reinstall the packages should work. 😄

[2019-10-30 12:23] djmtype commented on #821
I was using svgo v1.3.0 – that's the issue. [Please read my very first comment.](https://github.com/cssnano/cssnano/issues/821#issue-498473439)

[2019-10-30 12:24] jcdiprose opened #831 "minifyFontValues: false doesn't stop the removing of quotes in webpack and create-react-app"
I'm trying to stop removing of quotes in create-react-app with webpack version 4.39.3.

I have added the code

`preset: ['default', { minifyFontValues: { removeQuotes: false } }]`

as well as

`preset: ['default', { minifyFontValues: false }]`

to cssProcessorOptions in OptimizeCSSAssetsPlugin for webpack. Both of these do nothing to cssnano. I can see in the OptimizeCSSAssetsPlugin source that th

[2019-10-30 12:41] jcdiprose commented on #831
I was overlooking the options

cssProcessorOptions !== cssProcessorPluginOptions

Any options for the processor need to be in cssProcessorPluginOptions

[2019-10-30 12:41] #831 closed

[2019-11-02 06:43] bogdan0083 opened #832 "Can't disable rawCache optimisation"
Hello! Thanks for this awesome plugin! :heart:

I have the following cssnano configuration:

gulpfile.js:
[code]

css:
[code]

When processed I get the following css:
[code]

`normalizeWhitespace` optimisation is disabled as needed, but as you can see the raws still get changed (whitespaces removed before the bracket and after the colon).

Is this the correct output with `rawCache: false`? How can

[2019-11-04 15:54] stegano commented on #663
Is this an issue resolved?

[2019-11-04 17:18] xavierfoucrier commented on #805
Hi everyone,

My opinion about duplicate properties is that **CSS is made for cascading styles**: that's why we could safely **keep the last property** regarding the others.

This code:
[code]

Should result in:
[code]

I am working with `less` and got this issue, just with a simple `mixin`:

[code]

Nice compression took BTW :wink:

[2019-11-05 10:45] evilebottnawi commented on #830
Fixed in svgo

[2019-11-05 10:45] #830 closed

[2019-11-06 14:09] shrpne commented on #645
@andyjansson wrapping property declaration is a workaround.
But it doesn't mean that the issue is invalid.
Css minifier should not judge how to write css, it should be aligned to web standards and browsers implementation.

@evilebottnawi I believe we should reopen this issue or open a new one, because it still actual.

[2019-11-07 11:19] evilebottnawi opened #833 "Looking for new owner(s)/maintainer(s)"
Hi all,

Unfortunately, recently there is not enough time to support the project. I’m afraid that I’ll be able to find time in the near future, it doesn’t mean that I want to leave the project forever, it means that I don’t have time in near future.

Minification is an important part of web application and we often neglect her. Unfortunately, despite the high popularity of the package and its use,

[2019-11-07 13:07] anikethsaha commented on #833
I can provide some help. Although need some with getting the core codebase but definitely I can help here.
We can even rollout cssnano's official webpack plugin/loader.

[2019-11-07 17:07] ben-eb commented on #833
@evilebottnawi Thanks for all of your hard work. 👍

[2019-11-07 18:24] jsg2021 opened #834 "rotate3d(0) crashes out"
to reproduce just put this in to the playground:

[code]

Found this when adding `optimize-css-assets-webpack-plugin` to a project.  The problem boils down to a ValueParser instance that was constructed with `"rotate3d(0)"` but gets its `nodes` mutated to have an array of `length=1` and a value of `nodes[0]===undefined`

[2019-11-08 07:25] anikethsaha commented on #834
I added a test to validate it

[code]

And I think its passing,

![image](https://user-images.githubusercontent.com/26347874/68457652-ca0bb880-0226-11ea-90d3-caa3b76aa162.png)

Although I faced the crashing issue in the playground!

[2019-11-08 10:48] evilebottnawi commented on #834
Maybe it is already fixed, so need add tests and we can close this

[2019-11-08 10:51] anikethsaha commented on #834
Should I add this same test ?

[2019-11-08 10:52] evilebottnawi commented on #834
Yes :+1:

[2019-11-08 10:57] anikethsaha commented on #834
The playground is still crashing

[2019-11-08 11:07] evilebottnawi commented on #834
@anikethsaha i think it is because we don't update playground for a long time, we can do it before release

[2019-11-08 11:09] anikethsaha commented on #834
ok , 👍

[2019-11-08 11:26] #834 closed

[2019-11-08 15:38] anikethsaha commented on #668
`border:none` == `border:0`

I guess having `none` should simply skip like it did for `0`

[2019-11-11 22:14] Zevran commented on #828
Maybe it can be related to this one ? https://github.com/postcss/autoprefixer/issues/1263

[2019-11-12 18:58] anikethsaha commented on #829
seems like a bug. it should be

if a number is greater than 1
then it should be converted to a percentage of 1

like `(number/100) * 1`

opacities range from `0-1` so if the number is greater than one. convert it with respect to `1`.

or even if we can do with respect to the `unit`. if it's mentioned as % then simply pass it as it is. no need for any conversion the browser will take care of it.

[2019-11-13 10:03] evilebottnawi commented on #829
@anikethsaha feel free to send a PR with fix

[2019-11-13 17:51] anikethsaha commented on #776
I think the current is fine.
As falling back default to `block` may bring wrong styling as many HTML element doesn't have `block` as there default `display` value.
so if the input is `display:;`, it should simply do nothing and remove this property.

Refer this https://www.w3schools.com/cssref/css_default_values.asp

cc @evilebottnawi /

[2019-11-14 10:30] #807 closed

[2019-11-14 10:33] evilebottnawi commented on #776
@captainfromspace yes, to be honestly, it should throw error on parsing stage, so invalid code can potential create invalid code and it is expected

[2019-11-14 10:33] #776 closed

[2019-11-14 10:53] evilebottnawi commented on #829
It is invalid syntax, please fix your code, invalid syntax is not allowed for minification

[2019-11-14 10:53] #829 closed

[2019-11-14 11:17] anikethsaha commented on #812
[code]

⬇️

[code]

This looks safe.
Whats the issue !?

@evilebottnawi I guess its good to close now

[2019-11-14 11:48] evilebottnawi commented on #812
/cc @anikethsaha
It is bug, https://tools.ietf.org/html/rfc3986#section-3.4, `/` and `?` allowed in URL, we should fix it

[2019-11-14 11:54] anikethsaha commented on #812
yeah but whats wrong if we are transforming them to safe codes like `%` ?

[2019-11-14 12:06] evilebottnawi commented on #812
@anikethsaha

There may be very different servers settings so better keep them as is. Also it is less css

[2019-11-14 12:06] evilebottnawi commented on #812
Should be easy to fix, you can try to fix it

[2019-11-14 12:07] anikethsaha commented on #812
yeah we need to just leave it as it is right?...no need of any transform.

[2019-11-14 12:08] evilebottnawi commented on #812
yes

[2019-11-15 01:30] zhangchao828 commented on #812
yes

[2019-11-15 17:10] JohnTitor commented on #833
@evilebottnawi Hi, thanks for the work! I'd like to get involved in cssnano and help some work.

[2019-11-18 11:02] evilebottnawi commented on #833
@JohnTitor thanks! I would like to see a few PRs (fixes/improvements) to see you level and answer questions that arise while you work :star:

[2019-11-19 10:24] stephenheron opened #845 "New Release?"
Hi,

I am just wondering if there is going to be a new release soon? The last one was around 9 months ago (v4.1.10) and there have been a few bug fixes since then.

Thanks,
Stephen

[2019-11-19 11:49] evilebottnawi commented on #845
Please read https://github.com/cssnano/cssnano/issues/833

[2019-11-19 11:49] #845 closed

[2019-11-20 16:45] dorianrod opened #846 "Duplicate properties removed (for env - constant)"
Hi,

This code:

.cls {
padding-top: 1rem;
padding-top: calc(1rem + constant(safe-area-inset-top));
padding-top: calc(1rem + env(safe-area-inset-top));
}

is reduced in:
.cls {
padding-top: calc(1rem + env(safe-area-inset-top));
}

the problem is that I need to keep these 3 properties because it depends on the environment (some supports constant or env, or none).

Is there a way / an option to kee